<ul class="stops">
    <li class="stop">South Ferry <span></span></li>
    <li class="stop">Rector St <span></span></li>
    <li class="stop">WTC Cortlandt <span></span></li>
    <li class="stop">Chambers St <span></span></li>
    <li class="stop">Franklin St <span></span></li>
    <li class="stop">Canal St <span></span></li>
    <li class="stop">Houston St <span></span></li>
    <li class="stop">Christopher St-Sheridan Sq <span></span></li>
    <li class="stop">14 St <span></span></li>
    <li class="stop">18 St <span></span></li>
    <li class="stop">23 St <span></span></li>
    <li class="stop">28 St <span></span></li>
    <li class="stop">34 St-Penn Station <span></span></li>
    <li class="stop">Times Sq-42 St <span></span></li>
    <li class="stop">50 St <span></span></li>
    <li class="stop">59 St-Columbus Circle <span></span></li>
    <li class="stop">66 St-Lincoln Center <span></span></li>
    <li class="stop">72 St <span></span></li>
    <li class="stop">79 St <span></span></li>
    <li class="stop">86 St <span></span></li>
    <li class="stop">96 St <span></span></li>
    <li class="stop">103 St <span></span></li>
    <li class="stop">Cathedral Pkwy (110 St) <span></span></li>
    <li class="stop">116 St-Columbia University <span></span></li>
    <li class="stop">125 St <span></span></li>
    <li class="stop">137 St-City College <span></span></li>
    <li class="stop">145 St <span></span></li>
    <li class="stop">157 St <span></span></li>
    <li class="stop">168 St-Washington Hts <span></span></li>
    <li class="stop">181 St <span></span></li>
    <li class="stop">191 St <span></span></li>
    <li class="stop">Dyckman St <span></span></li>
    <li class="stop">207 St <span></span></li>
    <li class="stop">215 St <span></span></li>
    <li class="stop">Marble Hill-225 St <span></span></li>
    <li class="stop">231 St <span></span></li>
    <li class="stop">238 St <span></span></li>
    <li class="stop">Van Cortlandt Park-242 St <span></span></li></ul>