<h2 class="lead">5 planned issues on line</h2><div class="line-alerts"><div class="line-alert"><p>In Manhattan, uptown [1] skips <b>79 St</b> and <b>86 St</b></p>For service to these stations, take the [1] to 96 St and transfer to a downtown [1] or [2] local.

For service from these stations, take the [1] or [2] to 72 St and transfer to an uptown [1].

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Manhattan, downtown [1] skips <b>Christopher St-Sheridan Sq</b>, <b>Houston St</b>, <b>Canal St</b> and <b>Franklin St</b></p>For service to these stations, take the [1] to Chambers St and transfer to an uptown [1] or [2] local.

For service from these stations, take the [1] or [2] to 14 St and transfer to a downtown [1].

What's happening?
Track maintenance</div><div class="line-alert"><p>In the Bronx, no [1] at <b>Van Cortlandt Park-242 St</b></p>[1] trains run between South Ferry and 238 St, the last stop.

Take the Bx9 bus instead. Transfer at 238 St.

If you’re making another bus connection during your trip, please ask for a GO ticket from the station agent at 238 St.

What's happening?
Monthly track maintenance</div><div class="line-alert"><p>In Manhattan, uptown [1] skips <b>Franklin St</b>, <b>Canal St</b>, <b>Houston St</b> and <b>Christopher St-Sheridan Sq</b></p>For service to these stations, take the [1] to 14 St and transfer to a downtown [1] or [2] local.

For service from these stations, take the [1] or [2] to Chambers St and transfer to an uptown [1].

What's happening?
Station maintenance</div><div class="line-alert"><p>In Manhattan, uptown [1] skips <b>Franklin St</b>, <b>Canal St</b>, <b>Houston St</b>, <b>Christopher St-Sheridan Sq</b> and <b>14 St</b></p>For service to these stations, take the [1] to 34 St-Penn Station and transfer to a downtown [1] or [2] local.

For service from these stations, take the [1][2] or [3] to Chambers St and transfer to an uptown [1].

Alternate travel tip:
For 14 St, use the nearby 18 St [1] station or 14 St [A][C][E] station via transfer at Times Sq-42 St/Port Authority.

Note: Uptown [2][3] trains also skip 14 St during this time.

What's happening?
We're making station improvements</div></div>