<h2 class="lead text-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16"><path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/></svg>8 alerts on line</h2><div class="line-alerts"><div class="line-alert"><p>There are no [1] trains between <b>14 St</b> and <b>South Ferry</b>. There are no [2] trains between <b>14 St</b> and <b>Nevins St</b>.</p>What's Happening?
Our crews are working to remove water from the tracks at Canal St.

The last stop on southbound [1][2] trains will be 14 St, where they will turn for northbound service.

Some [2] trains are running on the [5] line between 149 St-Grand Concourse and Nevins St in both directions.

Travel Alternatives:

As an alternative for service between Manhattan and Brooklyn, consider [4][N][Q] trains.
For service to/from stations between 14 St and South Ferry, use nearby [E] trains.
For service to/from Park Place, use nearby World Trade Center [E].
For service to/from Fulton St, use [4][J] trains.
For service to/from Wall St, use nearby Broad St [J] or Wall St [4].
For service to/from Hoyt St [2] or Clark St [2], use nearby Borough Hall [2][4].</div><div class="line-alert"><p>In Manhattan, uptown [1] skips <b>79 St</b> and <b>86 St</b></p>For service to these stations, take the [1] to 96 St and transfer to a downtown [1] or [2] local.

For service from these stations, take the [1] or [2] to 72 St and transfer to an uptown [1].

What's happening?
We're making station improvements</div><div class="line-alert"><p>There are no [1] trains between <b>14 St</b> and <b>South Ferry</b>. There are no [2] trains between <b>14 St</b> and <b>Nevins St</b>.</p>What's Happening?
Our crews are working to remove water from the tracks at Canal St.

The last stop on southbound [1][2] trains will be 14 St, where they will turn for northbound service.

Some [2] trains are running on the [5] line between 149 St-Grand Concourse and Nevins St in both directions.

Travel Alternatives:

As an alternative for service between Manhattan and Brooklyn, consider [4][N][Q] trains.
For service to/from stations between 14 St and South Ferry, use nearby [E] trains.
For service to/from Park Place, use nearby World Trade Center [E].
For service to/from Fulton St, use [4][J] trains.
For service to/from Wall St, use nearby Broad St [J] or Wall St [4].
For service to/from Hoyt St [2] or Clark St [2], use nearby Borough Hall [2][4].</div><div class="line-alert"><p>In Manhattan, uptown [1] skips <b>79 St</b> and <b>86 St</b></p>For service to these stations, take the [1] to 96 St and transfer to a downtown [1] or [2] local.

For service from these stations, take the [1] or [2] to 72 St and transfer to an uptown [1].

What's happening?
We're making station improvements</div><div class="line-alert"><p>There are no [1] trains between <b>14 St</b> and <b>South Ferry</b>. There are no [2] trains between <b>14 St</b> and <b>Nevins St</b>.</p>What's Happening?
Our crews are working to remove water from the tracks at Canal St.

The last stop on southbound [1][2] trains will be 14 St, where they will turn for northbound service.

Some [2] trains are running on the [5] line between 149 St-Grand Concourse and Nevins St in both directions.

Travel Alternatives:

As an alternative for service between Manhattan and Brooklyn, consider [4][N][Q] trains.
For service to/from stations between 14 St and South Ferry, use nearby [E] trains.
For service to/from Park Place, use nearby World Trade Center [E].
For service to/from Fulton St, use [4][J] trains.
For service to/from Wall St, use nearby Broad St [J] or Wall St [4].
For service to/from Hoyt St [2] or Clark St [2], use nearby Borough Hall [2][4].</div><div class="line-alert"><p>In Manhattan, uptown [1] skips <b>79 St</b> and <b>86 St</b></p>For service to these stations, take the [1] to 96 St and transfer to a downtown [1] or [2] local.

For service from these stations, take the [1] or [2] to 72 St and transfer to an uptown [1].

What's happening?
We're making station improvements</div><div class="line-alert"><p>There are no [1] trains between <b>14 St</b> and <b>South Ferry</b>. There are no [2] trains between <b>14 St</b> and <b>Nevins St</b>.</p>What's Happening?
Our crews are working to remove water from the tracks at Canal St.

The last stop on southbound [1][2] trains will be 14 St, where they will turn for northbound service.

Some [2] trains are running on the [5] line between 149 St-Grand Concourse and Nevins St in both directions.

Travel Alternatives:

As an alternative for service between Manhattan and Brooklyn, consider [4][N][Q] trains.
For service to/from stations between 14 St and South Ferry, use nearby [E] trains.
For service to/from Park Place, use nearby World Trade Center [E].
For service to/from Fulton St, use [4][J] trains.
For service to/from Wall St, use nearby Broad St [J] or Wall St [4].
For service to/from Hoyt St [2] or Clark St [2], use nearby Borough Hall [2][4].</div><div class="line-alert"><p>In Manhattan, uptown [1] skips <b>79 St</b> and <b>86 St</b></p>For service to these stations, take the [1] to 96 St and transfer to a downtown [1] or [2] local.

For service from these stations, take the [1] or [2] to 72 St and transfer to an uptown [1].

What's happening?
We're making station improvements</div></div>