<h2 class="lead text-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16"><path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/></svg>30 alerts on line</h2><div class="line-alerts"><div class="line-alert"><p>In Upper Manhattan, uptown [1] skips <b>103 St</b>, <b>Cathedral Pkwy (110 St)</b>, <b>116 St-Columbia University</b>, <b>125 St</b> and <b>137 St-City College</b></p>For service to these stations, take the [1] to 168 St-Washington Hts and transfer to a downtown [1].

For service from these stations, take the [1] to 96 St and transfer to an uptown [1].

Travel tip:
Transfer between uptown and downtown trains with Unlimited Ride MetroCard or fare-capped OMNY at 145 St.

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Manhattan, uptown [1] skips <b>79 St</b> and <b>86 St</b></p>For service to these stations, take the [1] to 96 St and transfer to a downtown [1] or [2] local.

For service from these stations, take the [1] or [2] to 72 St and transfer to an uptown [1].

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Upper Manhattan, uptown [1] skips <b>103 St</b>, <b>Cathedral Pkwy (110 St)</b>, <b>116 St-Columbia University</b>, <b>125 St</b> and <b>137 St-City College</b></p>For service to these stations, take the [1] to 168 St-Washington Hts and transfer to a downtown [1].

For service from these stations, take the [1] to 96 St and transfer to an uptown [1].

Travel tip:
Transfer between uptown and downtown trains with Unlimited Ride MetroCard or fare-capped OMNY at 145 St.

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Manhattan, uptown [1] skips <b>79 St</b> and <b>86 St</b></p>For service to these stations, take the [1] to 96 St and transfer to a downtown [1] or [2] local.

For service from these stations, take the [1] or [2] to 72 St and transfer to an uptown [1].

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Upper Manhattan, uptown [1] skips <b>103 St</b>, <b>Cathedral Pkwy (110 St)</b>, <b>116 St-Columbia University</b>, <b>125 St</b> and <b>137 St-City College</b></p>For service to these stations, take the [1] to 168 St-Washington Hts and transfer to a downtown [1].

For service from these stations, take the [1] to 96 St and transfer to an uptown [1].

Travel tip:
Transfer between uptown and downtown trains with Unlimited Ride MetroCard or fare-capped OMNY at 145 St.

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Manhattan, uptown [1] skips <b>79 St</b> and <b>86 St</b></p>For service to these stations, take the [1] to 96 St and transfer to a downtown [1] or [2] local.

For service from these stations, take the [1] or [2] to 72 St and transfer to an uptown [1].

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Upper Manhattan, uptown [1] skips <b>103 St</b>, <b>Cathedral Pkwy (110 St)</b>, <b>116 St-Columbia University</b>, <b>125 St</b> and <b>137 St-City College</b></p>For service to these stations, take the [1] to 168 St-Washington Hts and transfer to a downtown [1].

For service from these stations, take the [1] to 96 St and transfer to an uptown [1].

Travel tip:
Transfer between uptown and downtown trains with Unlimited Ride MetroCard or fare-capped OMNY at 145 St.

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Manhattan, uptown [1] skips <b>79 St</b> and <b>86 St</b></p>For service to these stations, take the [1] to 96 St and transfer to a downtown [1] or [2] local.

For service from these stations, take the [1] or [2] to 72 St and transfer to an uptown [1].

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Upper Manhattan, uptown [1] skips <b>103 St</b>, <b>Cathedral Pkwy (110 St)</b>, <b>116 St-Columbia University</b>, <b>125 St</b> and <b>137 St-City College</b></p>For service to these stations, take the [1] to 168 St-Washington Hts and transfer to a downtown [1].

For service from these stations, take the [1] to 96 St and transfer to an uptown [1].

Travel tip:
Transfer between uptown and downtown trains with Unlimited Ride MetroCard or fare-capped OMNY at 145 St.

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Manhattan, uptown [1] skips <b>79 St</b> and <b>86 St</b></p>For service to these stations, take the [1] to 96 St and transfer to a downtown [1] or [2] local.

For service from these stations, take the [1] or [2] to 72 St and transfer to an uptown [1].

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Upper Manhattan, uptown [1] skips <b>103 St</b>, <b>Cathedral Pkwy (110 St)</b>, <b>116 St-Columbia University</b>, <b>125 St</b> and <b>137 St-City College</b></p>For service to these stations, take the [1] to 168 St-Washington Hts and transfer to a downtown [1].

For service from these stations, take the [1] to 96 St and transfer to an uptown [1].

Travel tip:
Transfer between uptown and downtown trains with Unlimited Ride MetroCard or fare-capped OMNY at 145 St.

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Manhattan, uptown [1] skips <b>79 St</b> and <b>86 St</b></p>For service to these stations, take the [1] to 96 St and transfer to a downtown [1] or [2] local.

For service from these stations, take the [1] or [2] to 72 St and transfer to an uptown [1].

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Upper Manhattan, uptown [1] skips <b>103 St</b>, <b>Cathedral Pkwy (110 St)</b>, <b>116 St-Columbia University</b>, <b>125 St</b> and <b>137 St-City College</b></p>For service to these stations, take the [1] to 168 St-Washington Hts and transfer to a downtown [1].

For service from these stations, take the [1] to 96 St and transfer to an uptown [1].

Travel tip:
Transfer between uptown and downtown trains with Unlimited Ride MetroCard or fare-capped OMNY at 145 St.

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Manhattan, uptown [1] skips <b>79 St</b> and <b>86 St</b></p>For service to these stations, take the [1] to 96 St and transfer to a downtown [1] or [2] local.

For service from these stations, take the [1] or [2] to 72 St and transfer to an uptown [1].

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Upper Manhattan, uptown [1] skips <b>103 St</b>, <b>Cathedral Pkwy (110 St)</b>, <b>116 St-Columbia University</b>, <b>125 St</b> and <b>137 St-City College</b></p>For service to these stations, take the [1] to 168 St-Washington Hts and transfer to a downtown [1].

For service from these stations, take the [1] to 96 St and transfer to an uptown [1].

Travel tip:
Transfer between uptown and downtown trains with Unlimited Ride MetroCard or fare-capped OMNY at 145 St.

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Manhattan, uptown [1] skips <b>79 St</b> and <b>86 St</b></p>For service to these stations, take the [1] to 96 St and transfer to a downtown [1] or [2] local.

For service from these stations, take the [1] or [2] to 72 St and transfer to an uptown [1].

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Upper Manhattan, uptown [1] skips <b>103 St</b>, <b>Cathedral Pkwy (110 St)</b>, <b>116 St-Columbia University</b>, <b>125 St</b> and <b>137 St-City College</b></p>For service to these stations, take the [1] to 168 St-Washington Hts and transfer to a downtown [1].

For service from these stations, take the [1] to 96 St and transfer to an uptown [1].

Travel tip:
Transfer between uptown and downtown trains with Unlimited Ride MetroCard or fare-capped OMNY at 145 St.

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Manhattan, uptown [1] skips <b>79 St</b> and <b>86 St</b></p>For service to these stations, take the [1] to 96 St and transfer to a downtown [1] or [2] local.

For service from these stations, take the [1] or [2] to 72 St and transfer to an uptown [1].

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Upper Manhattan, uptown [1] skips <b>103 St</b>, <b>Cathedral Pkwy (110 St)</b>, <b>116 St-Columbia University</b>, <b>125 St</b> and <b>137 St-City College</b></p>For service to these stations, take the [1] to 168 St-Washington Hts and transfer to a downtown [1].

For service from these stations, take the [1] to 96 St and transfer to an uptown [1].

Travel tip:
Transfer between uptown and downtown trains with Unlimited Ride MetroCard or fare-capped OMNY at 145 St.

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Manhattan, uptown [1] skips <b>79 St</b> and <b>86 St</b></p>For service to these stations, take the [1] to 96 St and transfer to a downtown [1] or [2] local.

For service from these stations, take the [1] or [2] to 72 St and transfer to an uptown [1].

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Upper Manhattan, uptown [1] skips <b>103 St</b>, <b>Cathedral Pkwy (110 St)</b>, <b>116 St-Columbia University</b>, <b>125 St</b> and <b>137 St-City College</b></p>For service to these stations, take the [1] to 168 St-Washington Hts and transfer to a downtown [1].

For service from these stations, take the [1] to 96 St and transfer to an uptown [1].

Travel tip:
Transfer between uptown and downtown trains with Unlimited Ride MetroCard or fare-capped OMNY at 145 St.

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Manhattan, uptown [1] skips <b>79 St</b> and <b>86 St</b></p>For service to these stations, take the [1] to 96 St and transfer to a downtown [1] or [2] local.

For service from these stations, take the [1] or [2] to 72 St and transfer to an uptown [1].

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Upper Manhattan, uptown [1] skips <b>103 St</b>, <b>Cathedral Pkwy (110 St)</b>, <b>116 St-Columbia University</b>, <b>125 St</b> and <b>137 St-City College</b></p>For service to these stations, take the [1] to 168 St-Washington Hts and transfer to a downtown [1].

For service from these stations, take the [1] to 96 St and transfer to an uptown [1].

Travel tip:
Transfer between uptown and downtown trains with Unlimited Ride MetroCard or fare-capped OMNY at 145 St.

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Manhattan, uptown [1] skips <b>79 St</b> and <b>86 St</b></p>For service to these stations, take the [1] to 96 St and transfer to a downtown [1] or [2] local.

For service from these stations, take the [1] or [2] to 72 St and transfer to an uptown [1].

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Upper Manhattan, uptown [1] skips <b>103 St</b>, <b>Cathedral Pkwy (110 St)</b>, <b>116 St-Columbia University</b>, <b>125 St</b> and <b>137 St-City College</b></p>For service to these stations, take the [1] to 168 St-Washington Hts and transfer to a downtown [1].

For service from these stations, take the [1] to 96 St and transfer to an uptown [1].

Travel tip:
Transfer between uptown and downtown trains with Unlimited Ride MetroCard or fare-capped OMNY at 145 St.

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Manhattan, uptown [1] skips <b>79 St</b> and <b>86 St</b></p>For service to these stations, take the [1] to 96 St and transfer to a downtown [1] or [2] local.

For service from these stations, take the [1] or [2] to 72 St and transfer to an uptown [1].

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Upper Manhattan, uptown [1] skips <b>103 St</b>, <b>Cathedral Pkwy (110 St)</b>, <b>116 St-Columbia University</b>, <b>125 St</b> and <b>137 St-City College</b></p>For service to these stations, take the [1] to 168 St-Washington Hts and transfer to a downtown [1].

For service from these stations, take the [1] to 96 St and transfer to an uptown [1].

Travel tip:
Transfer between uptown and downtown trains with Unlimited Ride MetroCard or fare-capped OMNY at 145 St.

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Manhattan, uptown [1] skips <b>79 St</b> and <b>86 St</b></p>For service to these stations, take the [1] to 96 St and transfer to a downtown [1] or [2] local.

For service from these stations, take the [1] or [2] to 72 St and transfer to an uptown [1].

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Upper Manhattan, uptown [1] skips <b>103 St</b>, <b>Cathedral Pkwy (110 St)</b>, <b>116 St-Columbia University</b>, <b>125 St</b> and <b>137 St-City College</b></p>For service to these stations, take the [1] to 168 St-Washington Hts and transfer to a downtown [1].

For service from these stations, take the [1] to 96 St and transfer to an uptown [1].

Travel tip:
Transfer between uptown and downtown trains with Unlimited Ride MetroCard or fare-capped OMNY at 145 St.

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Manhattan, uptown [1] skips <b>79 St</b> and <b>86 St</b></p>For service to these stations, take the [1] to 96 St and transfer to a downtown [1] or [2] local.

For service from these stations, take the [1] or [2] to 72 St and transfer to an uptown [1].

What's happening?
We're making station improvements</div></div>