<h2 class="lead text-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16"><path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/></svg>15 alerts on line</h2><div class="line-alerts"><div class="line-alert"><p>Some entrance/exits at <b>42 St-Bryant Pk</b> [D][F], <b>5 Av</b> [7] , <b>7 Av</b> [D][E], <b>59 St-Columbus Circle</b> [1][A][C][D] and <b>57 St-7 Av</b> [N][Q][R] may be closed</p>Expect crowding at these stations and follow the instructions of the NYPD and MTA personnel.

What's happening?
New Year's Eve in Times Square</div><div class="line-alert"><p>In Manhattan, uptown [1] trains skip <b>50 St</b></p>For service to this station, take the [1] to 59 St-Columbus Circle and transfer to a downtown [1].

For service from this station, take a downtown train to Times Sq-42 St and transfer to an uptown [1].

Note: If you're headed to Times Square for the New Year's Eve celebration, consider using 34 St-Penn Station; street exits at the Times Sq-42 St station will be closed.

What's happening?
New Year's Eve in Times Square</div><div class="line-alert"><p>Exits to street level at <b>Times Sq-42 St</b> [1][2][3][7][N][Q][R][S] will be subject to closure on New Year's Eve</p>Exit via the passageways to 42 St-Port Authority (8 Av) or 42 St-Bryant Pk (6 Av).
Transfers are available between the [1][2][3][7][N][Q][R] and [S] trains.
Beginning at 2 PM the passageway between Times Sq-42 St and 42 St-Bryant Pk will be one way eastbound from 7 Av/B'way to 6 Av.

accessibility icon ADA Note: The passageway between 7 Av and 8 Av is stair-free but has ramps that are not ADA compliant.
Please consider [1][2][3][7][N][Q][R] and [S] service to nearby accessible stations:
34 St-Penn Station accessibility icon | [1][2][3]
34 St-Herald Sq accessibility icon | [N][Q][R]
34 St-Hudson Yards accessibility icon | [7]
Grand Central-42 St accessibility icon | [7][S]
57 St-7 Av accessibility icon | [N][Q][R]
59 St-Columbus Circle accessibility icon | [1]</div><div class="line-alert"><p>Some entrance/exits at <b>42 St-Bryant Pk</b> [D][F], <b>5 Av</b> [7] , <b>7 Av</b> [D][E], <b>59 St-Columbus Circle</b> [1][A][C][D] and <b>57 St-7 Av</b> [N][Q][R] may be closed</p>Expect crowding at these stations and follow the instructions of the NYPD and MTA personnel.

What's happening?
New Year's Eve in Times Square</div><div class="line-alert"><p>In Manhattan, uptown [1] trains skip <b>50 St</b></p>For service to this station, take the [1] to 59 St-Columbus Circle and transfer to a downtown [1].

For service from this station, take a downtown train to Times Sq-42 St and transfer to an uptown [1].

Note: If you're headed to Times Square for the New Year's Eve celebration, consider using 34 St-Penn Station; street exits at the Times Sq-42 St station will be closed.

What's happening?
New Year's Eve in Times Square</div><div class="line-alert"><p>Exits to street level at <b>Times Sq-42 St</b> [1][2][3][7][N][Q][R][S] will be subject to closure on New Year's Eve</p>Exit via the passageways to 42 St-Port Authority (8 Av) or 42 St-Bryant Pk (6 Av).
Transfers are available between the [1][2][3][7][N][Q][R] and [S] trains.
Beginning at 2 PM the passageway between Times Sq-42 St and 42 St-Bryant Pk will be one way eastbound from 7 Av/B'way to 6 Av.

accessibility icon ADA Note: The passageway between 7 Av and 8 Av is stair-free but has ramps that are not ADA compliant.
Please consider [1][2][3][7][N][Q][R] and [S] service to nearby accessible stations:
34 St-Penn Station accessibility icon | [1][2][3]
34 St-Herald Sq accessibility icon | [N][Q][R]
34 St-Hudson Yards accessibility icon | [7]
Grand Central-42 St accessibility icon | [7][S]
57 St-7 Av accessibility icon | [N][Q][R]
59 St-Columbus Circle accessibility icon | [1]</div><div class="line-alert"><p>Some entrance/exits at <b>42 St-Bryant Pk</b> [D][F], <b>5 Av</b> [7] , <b>7 Av</b> [D][E], <b>59 St-Columbus Circle</b> [1][A][C][D] and <b>57 St-7 Av</b> [N][Q][R] may be closed</p>Expect crowding at these stations and follow the instructions of the NYPD and MTA personnel.

What's happening?
New Year's Eve in Times Square</div><div class="line-alert"><p>In Manhattan, uptown [1] trains skip <b>50 St</b></p>For service to this station, take the [1] to 59 St-Columbus Circle and transfer to a downtown [1].

For service from this station, take a downtown train to Times Sq-42 St and transfer to an uptown [1].

Note: If you're headed to Times Square for the New Year's Eve celebration, consider using 34 St-Penn Station; street exits at the Times Sq-42 St station will be closed.

What's happening?
New Year's Eve in Times Square</div><div class="line-alert"><p>Exits to street level at <b>Times Sq-42 St</b> [1][2][3][7][N][Q][R][S] will be subject to closure on New Year's Eve</p>Exit via the passageways to 42 St-Port Authority (8 Av) or 42 St-Bryant Pk (6 Av).
Transfers are available between the [1][2][3][7][N][Q][R] and [S] trains.
Beginning at 2 PM the passageway between Times Sq-42 St and 42 St-Bryant Pk will be one way eastbound from 7 Av/B'way to 6 Av.

accessibility icon ADA Note: The passageway between 7 Av and 8 Av is stair-free but has ramps that are not ADA compliant.
Please consider [1][2][3][7][N][Q][R] and [S] service to nearby accessible stations:
34 St-Penn Station accessibility icon | [1][2][3]
34 St-Herald Sq accessibility icon | [N][Q][R]
34 St-Hudson Yards accessibility icon | [7]
Grand Central-42 St accessibility icon | [7][S]
57 St-7 Av accessibility icon | [N][Q][R]
59 St-Columbus Circle accessibility icon | [1]</div><div class="line-alert"><p>Some entrance/exits at <b>42 St-Bryant Pk</b> [D][F], <b>5 Av</b> [7] , <b>7 Av</b> [D][E], <b>59 St-Columbus Circle</b> [1][A][C][D] and <b>57 St-7 Av</b> [N][Q][R] may be closed</p>Expect crowding at these stations and follow the instructions of the NYPD and MTA personnel.

What's happening?
New Year's Eve in Times Square</div><div class="line-alert"><p>In Manhattan, uptown [1] trains skip <b>50 St</b></p>For service to this station, take the [1] to 59 St-Columbus Circle and transfer to a downtown [1].

For service from this station, take a downtown train to Times Sq-42 St and transfer to an uptown [1].

Note: If you're headed to Times Square for the New Year's Eve celebration, consider using 34 St-Penn Station; street exits at the Times Sq-42 St station will be closed.

What's happening?
New Year's Eve in Times Square</div><div class="line-alert"><p>Exits to street level at <b>Times Sq-42 St</b> [1][2][3][7][N][Q][R][S] will be subject to closure on New Year's Eve</p>Exit via the passageways to 42 St-Port Authority (8 Av) or 42 St-Bryant Pk (6 Av).
Transfers are available between the [1][2][3][7][N][Q][R] and [S] trains.
Beginning at 2 PM the passageway between Times Sq-42 St and 42 St-Bryant Pk will be one way eastbound from 7 Av/B'way to 6 Av.

accessibility icon ADA Note: The passageway between 7 Av and 8 Av is stair-free but has ramps that are not ADA compliant.
Please consider [1][2][3][7][N][Q][R] and [S] service to nearby accessible stations:
34 St-Penn Station accessibility icon | [1][2][3]
34 St-Herald Sq accessibility icon | [N][Q][R]
34 St-Hudson Yards accessibility icon | [7]
Grand Central-42 St accessibility icon | [7][S]
57 St-7 Av accessibility icon | [N][Q][R]
59 St-Columbus Circle accessibility icon | [1]</div><div class="line-alert"><p>Some entrance/exits at <b>42 St-Bryant Pk</b> [D][F], <b>5 Av</b> [7] , <b>7 Av</b> [D][E], <b>59 St-Columbus Circle</b> [1][A][C][D] and <b>57 St-7 Av</b> [N][Q][R] may be closed</p>Expect crowding at these stations and follow the instructions of the NYPD and MTA personnel.

What's happening?
New Year's Eve in Times Square</div><div class="line-alert"><p>In Manhattan, uptown [1] trains skip <b>50 St</b></p>For service to this station, take the [1] to 59 St-Columbus Circle and transfer to a downtown [1].

For service from this station, take a downtown train to Times Sq-42 St and transfer to an uptown [1].

Note: If you're headed to Times Square for the New Year's Eve celebration, consider using 34 St-Penn Station; street exits at the Times Sq-42 St station will be closed.

What's happening?
New Year's Eve in Times Square</div><div class="line-alert"><p>Exits to street level at <b>Times Sq-42 St</b> [1][2][3][7][N][Q][R][S] will be subject to closure on New Year's Eve</p>Exit via the passageways to 42 St-Port Authority (8 Av) or 42 St-Bryant Pk (6 Av).
Transfers are available between the [1][2][3][7][N][Q][R] and [S] trains.
Beginning at 2 PM the passageway between Times Sq-42 St and 42 St-Bryant Pk will be one way eastbound from 7 Av/B'way to 6 Av.

accessibility icon ADA Note: The passageway between 7 Av and 8 Av is stair-free but has ramps that are not ADA compliant.
Please consider [1][2][3][7][N][Q][R] and [S] service to nearby accessible stations:
34 St-Penn Station accessibility icon | [1][2][3]
34 St-Herald Sq accessibility icon | [N][Q][R]
34 St-Hudson Yards accessibility icon | [7]
Grand Central-42 St accessibility icon | [7][S]
57 St-7 Av accessibility icon | [N][Q][R]
59 St-Columbus Circle accessibility icon | [1]</div></div>