<ul class="stops">
    <li class="stop">Wakefield-241 St <span></span></li>
    <li class="stop">Nereid Av <span></span></li>
    <li class="stop">233 St <span></span></li>
    <li class="stop">225 St <span></span></li>
    <li class="stop">219 St <span></span></li>
    <li class="stop">Gun Hill Rd <span></span></li>
    <li class="stop">Burke Av <span></span></li>
    <li class="stop">Allerton Av <span></span></li>
    <li class="stop">Pelham Pkwy <span></span></li>
    <li class="stop">Bronx Park East <span></span></li>
    <li class="stop">E 180 St <span></span></li>
    <li class="stop">West Farms Sq-E Tremont Av <span></span></li>
    <li class="stop">174 St <span></span></li>
    <li class="stop">Freeman St <span></span></li>
    <li class="stop">Simpson St <span></span></li>
    <li class="stop">Intervale Av <span></span></li>
    <li class="stop">Prospect Av <span></span></li>
    <li class="stop">Jackson Av <span></span></li>
    <li class="stop">3 Av-149 St <span></span></li>
    <li class="stop">149 St-Grand Concourse <span></span></li>
    <li class="stop">135 St <span></span></li>
    <li class="stop">125 St <span></span></li>
    <li class="stop">116 St <span></span></li>
    <li class="stop">Central Park North (110 St) <span></span></li>
    <li class="stop">96 St <span></span></li>
    <li class="stop">86 St <span></span></li>
    <li class="stop">79 St <span></span></li>
    <li class="stop">72 St <span></span></li>
    <li class="stop">66 St-Lincoln Center <span></span></li>
    <li class="stop">59 St-Columbus Circle <span></span></li>
    <li class="stop">50 St <span></span></li>
    <li class="stop">Times Sq-42 St <span></span></li>
    <li class="stop">34 St-Penn Station <span></span></li>
    <li class="stop">28 St <span></span></li>
    <li class="stop">23 St <span></span></li>
    <li class="stop">18 St <span></span></li>
    <li class="stop">14 St <span></span></li>
    <li class="stop">Christopher St-Sheridan Sq <span></span></li>
    <li class="stop">Houston St <span></span></li>
    <li class="stop">Canal St <span></span></li>
    <li class="stop">Franklin St <span></span></li>
    <li class="stop">Chambers St <span></span></li>
    <li class="stop">Park Place <span></span></li>
    <li class="stop">Fulton St <span></span></li>
    <li class="stop">Wall St <span></span></li>
    <li class="stop">Clark St <span></span></li>
    <li class="stop">Borough Hall <span></span></li>
    <li class="stop">Hoyt St <span></span></li>
    <li class="stop">Nevins St <span></span></li>
    <li class="stop">Atlantic Av-Barclays Ctr <span></span></li>
    <li class="stop">Bergen St <span></span></li>
    <li class="stop">Grand Army Plaza <span></span></li>
    <li class="stop">Eastern Pkwy-Brooklyn Museum <span></span></li>
    <li class="stop">Franklin Av-Medgar Evers College <span></span></li>
    <li class="stop">President St-Medgar Evers College <span></span></li>
    <li class="stop">Sterling St <span></span></li>
    <li class="stop">Winthrop St <span></span></li>
    <li class="stop">Church Av <span></span></li>
    <li class="stop">Beverly Rd <span></span></li>
    <li class="stop">Newkirk Av-Little Haiti <span></span></li>
    <li class="stop">Flatbush Av-Brooklyn College <span></span></li></ul>