<h2 class="lead text-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16"><path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/></svg>1 alerts on line</h2><div class="line-alerts"><div class="line-alert"><p>Southbound [2] trains via the [5] line from <strong>149 GC</strong> to <b>Nevins St</b>.</p><p></p><p>No [3] train service between <strong>96 St </strong>and <strong>148 St </strong>in both directions <strong>until at least 6:50pm. </strong></p>Emergency teams are responding to someone who was struck by a train at 135 St.

Northbound [3] trains will end at 96 St or 137 St-City College on the [1] line.

Expect a longer wait for northbound [1] trains while they share the track with rerouted trains.

[2][3] trains are delayed in both directions.

Listen to announcements to hear how your train will operate.

Travel Alternatives:

For service between Harlem-148 St and 96 St consider taking the M7 or M10 bus.</div></div>