<h2 class="lead text-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16"><path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/></svg>9 alerts on line</h2><div class="line-alerts"><div class="line-alert"><p><strong>Until at least end of day: </strong>No [3] train service between <strong>42 St </strong>and <strong>135 St</strong>.</p><p></p><p>Consider taking [N][Q][R][W] or <strong>M1</strong>,<strong> M2</strong>,<strong> </strong>and <strong>M7 </strong>buses.</p>Emergency teams are conducting an investigation after a train derailed near 96 St.

[3] trains are running in two sections:
Between Harlem-148 St and 135 St.

Between Times Sq-42 St and New Lots Av.
Northbound [3] trains will end at Times Sq-42 St, and turn for southbound local service.

Southbound [3] trains will end at 135 St, and turn for northbound service.

For service between Manhattan and Brooklyn, transfer at Atlantic Av-Barclays Ctr for [D][N][Q][R] service.</div><div class="line-alert"><p><strong>Until at least end of day: </strong>No [3] train service between <strong>42 St </strong>and <strong>135 St</strong>.</p><p></p><p>Consider taking [N][Q][R][W] or <strong>M1</strong>,<strong> M2</strong>,<strong> </strong>and <strong>M7 </strong>buses.</p>Emergency teams are conducting an investigation after a train derailed near 96 St.

[3] trains are running in two sections:
Between Harlem-148 St and 135 St.

Between Times Sq-42 St and New Lots Av.
Northbound [3] trains will end at Times Sq-42 St, and turn for southbound local service.

Southbound [3] trains will end at 135 St, and turn for northbound service.

For service between Manhattan and Brooklyn, transfer at Atlantic Av-Barclays Ctr for [D][N][Q][R] service.</div><div class="line-alert"><p>Southbound [1] trains are running express from <b>14 St</b> to <b>Chambers St</b>.</p><p>For service to/from bypassed stations, take a northbound train.</p>What's Happening?
We're investigating a report of an unauthorized person on the tracks at Christopher St-Sheridan Sq.

Expect delays in [1][3] service in both directions.</div><div class="line-alert"><p><strong>Until at least end of day: </strong>No [3] train service between <strong>42 St </strong>and <strong>135 St</strong>.</p><p></p><p>Consider taking [N][Q][R][W] or <strong>M1</strong>,<strong> M2</strong>,<strong> </strong>and <strong>M7 </strong>buses.</p>Emergency teams are conducting an investigation after a train derailed near 96 St.

[3] trains are running in two sections:
Between Harlem-148 St and 135 St.

Between Times Sq-42 St and New Lots Av.
Northbound [3] trains will end at Times Sq-42 St, and turn for southbound local service.

Southbound [3] trains will end at 135 St, and turn for northbound service.

For service between Manhattan and Brooklyn, transfer at Atlantic Av-Barclays Ctr for [D][N][Q][R] service.</div><div class="line-alert"><p>Southbound [1] trains are running express from <b>14 St</b> to <b>Chambers St</b>.</p><p>For service to/from bypassed stations, take a northbound train.</p>What's Happening?
We're investigating a report of an unauthorized person on the tracks at Christopher St-Sheridan Sq.

Expect delays in [1][3] service in both directions.</div><div class="line-alert"><p><strong>Until at least end of day: </strong>No [3] train service between <strong>42 St </strong>and <strong>135 St</strong>.</p><p></p><p>Consider taking [N][Q][R][W] or <strong>M1</strong>,<strong> M2</strong>,<strong> </strong>and <strong>M7 </strong>buses.</p>Emergency teams are conducting an investigation after a train derailed near 96 St.

[3] trains are running in two sections:
Between Harlem-148 St and 135 St.

Between Times Sq-42 St and New Lots Av.
Northbound [3] trains will end at Times Sq-42 St, and turn for southbound local service.

Southbound [3] trains will end at 135 St, and turn for northbound service.

For service between Manhattan and Brooklyn, transfer at Atlantic Av-Barclays Ctr for [D][N][Q][R] service.</div><div class="line-alert"><p>Southbound [1] trains are running express from <b>14 St</b> to <b>Chambers St</b>.</p><p>For service to/from bypassed stations, take a northbound train.</p>What's Happening?
We're investigating a report of an unauthorized person on the tracks at Christopher St-Sheridan Sq.

Expect delays in [1][3] service in both directions.</div><div class="line-alert"><p><strong>Until at least end of day: </strong>No [3] train service between <strong>42 St </strong>and <strong>135 St</strong>.</p><p></p><p>Consider taking [N][Q][R][W] or <strong>M1</strong>,<strong> M2</strong>,<strong> </strong>and <strong>M7 </strong>buses.</p>Emergency teams are conducting an investigation after a train derailed near 96 St.

[3] trains are running in two sections:
Between Harlem-148 St and 135 St.

Between Times Sq-42 St and New Lots Av.
Northbound [3] trains will end at Times Sq-42 St, and turn for southbound local service.

Southbound [3] trains will end at 135 St, and turn for northbound service.

For service between Manhattan and Brooklyn, transfer at Atlantic Av-Barclays Ctr for [D][N][Q][R] service.</div><div class="line-alert"><p>Southbound [1] trains are running express from <b>14 St</b> to <b>Chambers St</b>.</p><p>For service to/from bypassed stations, take a northbound train.</p>What's Happening?
We're investigating a report of an unauthorized person on the tracks at Christopher St-Sheridan Sq.

Expect delays in [1][3] service in both directions.</div></div>