<ul class="stops">
    <li class="stop">New Lots Av <span></span></li>
    <li class="stop">Van Siclen Av <span></span></li>
    <li class="stop">Pennsylvania Av <span></span></li>
    <li class="stop">Junius St <span></span></li>
    <li class="stop">Rockaway Av <span></span></li>
    <li class="stop">Saratoga Av <span></span></li>
    <li class="stop">Sutter Av-Rutland Rd <span></span></li>
    <li class="stop">Crown Hts-Utica Av <span></span></li>
    <li class="stop">Kingston Av <span></span></li>
    <li class="stop">Nostrand Av <span></span></li>
    <li class="stop">Franklin Av-Medgar Evers College <span></span></li>
    <li class="stop">Eastern Pkwy-Brooklyn Museum <span></span></li>
    <li class="stop">Grand Army Plaza <span></span></li>
    <li class="stop">Bergen St <span></span></li>
    <li class="stop">Atlantic Av-Barclays Ctr <span></span></li>
    <li class="stop">Nevins St <span></span></li>
    <li class="stop">Borough Hall <span></span></li>
    <li class="stop">Bowling Green <span></span></li>
    <li class="stop">Wall St <span></span></li>
    <li class="stop">Fulton St <span></span></li>
    <li class="stop">Brooklyn Bridge-City Hall <span></span></li>
    <li class="stop">Canal St <span></span></li>
    <li class="stop">Spring St <span></span></li>
    <li class="stop">Bleecker St <span></span></li>
    <li class="stop">Astor Pl <span></span></li>
    <li class="stop">14 St-Union Sq <span></span></li>
    <li class="stop">23 St <span></span></li>
    <li class="stop">28 St <span></span></li>
    <li class="stop">33 St <span></span></li>
    <li class="stop">Grand Central-42 St <span></span></li>
    <li class="stop">51 St <span></span></li>
    <li class="stop">59 St <span></span></li>
    <li class="stop">68 St-Hunter College <span></span></li>
    <li class="stop">77 St <span></span></li>
    <li class="stop">86 St <span></span></li>
    <li class="stop">96 St <span></span></li>
    <li class="stop">103 St <span></span></li>
    <li class="stop">110 St <span></span></li>
    <li class="stop">116 St <span></span></li>
    <li class="stop">125 St <span></span></li>
    <li class="stop">138 St-Grand Concourse <span></span></li>
    <li class="stop">149 St-Grand Concourse <span></span></li>
    <li class="stop">161 St-Yankee Stadium <span></span></li>
    <li class="stop">167 St <span></span></li>
    <li class="stop">170 St <span></span></li>
    <li class="stop">Mt Eden Av <span></span></li>
    <li class="stop">176 St <span></span></li>
    <li class="stop">Burnside Av <span></span></li>
    <li class="stop">183 St <span></span></li>
    <li class="stop">Fordham Rd <span></span></li>
    <li class="stop">Kingsbridge Rd <span></span></li>
    <li class="stop">Bedford Park Blvd-Lehman College <span></span></li>
    <li class="stop">Mosholu Pkwy <span></span></li>
    <li class="stop">Woodlawn <span></span></li></ul>