<ul class="stops">
    <li class="stop">E 180 St <span></span></li>
    <li class="stop">Morris Park <span></span></li>
    <li class="stop">Pelham Pkwy <span></span></li>
    <li class="stop">Gun Hill Rd <span></span></li>
    <li class="stop">Baychester Av <span></span></li>
    <li class="stop">Eastchester-Dyre Av <span></span></li>
    <li class="stop">59 St <span></span></li>
    <li class="stop">86 St <span></span></li>
    <li class="stop">125 St <span></span></li>
    <li class="stop">138 St-Grand Concourse <span></span></li>
    <li class="stop">149 St-Grand Concourse <span></span></li>
    <li class="stop">3 Av-149 St <span></span></li>
    <li class="stop">Jackson Av <span></span></li>
    <li class="stop">Prospect Av <span></span></li>
    <li class="stop">Intervale Av <span></span></li>
    <li class="stop">Simpson St <span></span></li>
    <li class="stop">Freeman St <span></span></li>
    <li class="stop">174 St <span></span></li>
    <li class="stop">West Farms Sq-E Tremont Av <span></span></li>
    <li class="stop">E 180 St <span></span></li>
    <li class="stop">Morris Park <span></span></li>
    <li class="stop">Pelham Pkwy <span></span></li>
    <li class="stop">Gun Hill Rd <span></span></li>
    <li class="stop">Baychester Av <span></span></li>
    <li class="stop">Eastchester-Dyre Av <span></span></li>
    <li class="stop">Intervale Av <span></span></li>
    <li class="stop">Simpson St <span></span></li>
    <li class="stop">Freeman St <span></span></li>
    <li class="stop">174 St <span></span></li>
    <li class="stop">West Farms Sq-E Tremont Av <span></span></li>
    <li class="stop">E 180 St <span></span></li>
    <li class="stop">Morris Park <span></span></li>
    <li class="stop">Pelham Pkwy <span></span></li>
    <li class="stop">Gun Hill Rd <span></span></li>
    <li class="stop">Baychester Av <span></span></li>
    <li class="stop">Eastchester-Dyre Av <span></span></li>
    <li class="stop">Eastchester-Dyre Av <span></span></li>
    <li class="stop">Baychester Av <span></span></li>
    <li class="stop">Eastchester-Dyre Av <span></span></li></ul>