<ul class="stops">
    <li class="stop">Eastchester-Dyre Av <span></span></li>
    <li class="stop">Baychester Av <span></span></li>
    <li class="stop">Gun Hill Rd <span></span></li>
    <li class="stop">Pelham Pkwy <span></span></li>
    <li class="stop">Morris Park <span></span></li>
    <li class="stop">E 180 St <span></span></li>
    <li class="stop">West Farms Sq-E Tremont Av <span></span></li>
    <li class="stop">174 St <span></span></li>
    <li class="stop">Freeman St <span></span></li>
    <li class="stop">Simpson St <span></span></li>
    <li class="stop">Intervale Av <span></span></li>
    <li class="stop">Prospect Av <span></span></li>
    <li class="stop">Jackson Av <span></span></li>
    <li class="stop">3 Av-149 St <span></span></li>
    <li class="stop">149 St-Grand Concourse <span></span></li>
    <li class="stop">138 St-Grand Concourse <span></span></li>
    <li class="stop">125 St <span></span></li>
    <li class="stop">86 St <span></span></li>
    <li class="stop">59 St <span></span></li>
    <li class="stop">Grand Central-42 St <span></span></li>
    <li class="stop">14 St-Union Sq <span></span></li>
    <li class="stop">Brooklyn Bridge-City Hall <span></span></li>
    <li class="stop">Fulton St <span></span></li>
    <li class="stop">Wall St <span></span></li>
    <li class="stop">Bowling Green <span></span></li>
    <li class="stop">Borough Hall <span></span></li>
    <li class="stop">Nevins St <span></span></li>
    <li class="stop">Atlantic Av-Barclays Ctr <span></span></li>
    <li class="stop">Franklin Av-Medgar Evers College <span></span></li>
    <li class="stop">Crown Hts-Utica Av <span></span></li>
    <li class="stop">Sterling St <span></span></li>
    <li class="stop">Winthrop St <span></span></li>
    <li class="stop">Church Av <span></span></li>
    <li class="stop">Beverly Rd <span></span></li>
    <li class="stop">Newkirk Av-Little Haiti <span></span></li>
    <li class="stop">Flatbush Av-Brooklyn College <span></span></li></ul>