<h2 class="lead text-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16"><path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/></svg>13 alerts on line</h2><div class="line-alerts"><div class="line-alert"><p>[4][5][6] service is severely disrupted in both directions while we address a signal problem at <b>14 St-Union Sq</b>.</p>Service Changes:
Southbound [6] trains are running express from Grand Central-42 St to Brooklyn Bridge-City Hall.
Southbound [5] trains are running on the [2] line from 149 St-Grand Concourse to Nevins St.
Some southbound [6] trains will run express from 125 St to Brooklyn Bridge-City Hall.
The last stop on some southbound [4] trains will be 149 St-Grand Concourse.
The last stop on some southbound [2][5] trains will be E 180 St.
Listen to announcements on board your train to hear how it will operate.

Expect delays in southbound [2][4][5][6] train service.

Travel Alternatives:
As an alternative, consider using nearby [2][3][N][Q][R][W] trains.

For service to local stops from Grand Central-42 St to Brooklyn Bridge-City Hall, take a northbound train.</div><div class="line-alert"><p>In the Bronx, Pelham Bay Park-bound [6] skips <b>Westchester Sq-E Tremont Av</b></p>Use nearby Zerega Av or Middletown Rd stations.

Additional travel alternatives:
For service to this station, take the [6] to Middletown Rd and transfer to a Manhattan-bound [6].

For service from this station, take the [6] to Zerega Av and transfer to a Pelham Bay Park-bound [6].

Travel tip: Consider the Bx4 bus connecting with [6] trains at Zerega Av (days and evenings).

What's happening?
We're making station improvements</div><div class="line-alert"><p>In the Bronx, Pelham Bay Park-bound [6] skips <b>Westchester Sq-E Tremont Av</b></p>Use nearby Zerega Av or Middletown Rd stations.

Additional travel alternatives:
For service to this station, take the [6] to Middletown Rd and transfer to a Manhattan-bound [6].

For service from this station, take the [6] to Zerega Av and transfer to a Pelham Bay Park-bound [6].

Travel tip: Consider the Bx4 bus connecting with [6] trains at Zerega Av (days and evenings).

What's happening?
We're making station improvements</div><div class="line-alert"><p>In the Bronx, Pelham Bay Park-bound [6] skips <b>Westchester Sq-E Tremont Av</b></p>Use nearby Zerega Av or Middletown Rd stations.

Additional travel alternatives:
For service to this station, take the [6] to Middletown Rd and transfer to a Manhattan-bound [6].

For service from this station, take the [6] to Zerega Av and transfer to a Pelham Bay Park-bound [6].

Travel tip: Consider the Bx4 bus connecting with [6] trains at Zerega Av (days and evenings).

What's happening?
We're making station improvements</div><div class="line-alert"><p>In the Bronx, Pelham Bay Park-bound [6] skips <b>Westchester Sq-E Tremont Av</b></p>Use nearby Zerega Av or Middletown Rd stations.

Additional travel alternatives:
For service to this station, take the [6] to Middletown Rd and transfer to a Manhattan-bound [6].

For service from this station, take the [6] to Zerega Av and transfer to a Pelham Bay Park-bound [6].

Travel tip: Consider the Bx4 bus connecting with [6] trains at Zerega Av (days and evenings).

What's happening?
We're making station improvements</div><div class="line-alert"><p>In the Bronx, Pelham Bay Park-bound [6] skips <b>Westchester Sq-E Tremont Av</b></p>Use nearby Zerega Av or Middletown Rd stations.

Additional travel alternatives:
For service to this station, take the [6] to Middletown Rd and transfer to a Manhattan-bound [6].

For service from this station, take the [6] to Zerega Av and transfer to a Pelham Bay Park-bound [6].

Travel tip: Consider the Bx4 bus connecting with [6] trains at Zerega Av (days and evenings).

What's happening?
We're making station improvements</div><div class="line-alert"><p>In the Bronx, Pelham Bay Park-bound [6] skips <b>Westchester Sq-E Tremont Av</b></p>Use nearby Zerega Av or Middletown Rd stations.

Additional travel alternatives:
For service to this station, take the [6] to Middletown Rd and transfer to a Manhattan-bound [6].

For service from this station, take the [6] to Zerega Av and transfer to a Pelham Bay Park-bound [6].

Travel tip: Consider the Bx4 bus connecting with [6] trains at Zerega Av (days and evenings).

What's happening?
We're making station improvements</div><div class="line-alert"><p>In the Bronx, Pelham Bay Park-bound [6] skips <b>Westchester Sq-E Tremont Av</b></p>Use nearby Zerega Av or Middletown Rd stations.

Additional travel alternatives:
For service to this station, take the [6] to Middletown Rd and transfer to a Manhattan-bound [6].

For service from this station, take the [6] to Zerega Av and transfer to a Pelham Bay Park-bound [6].

Travel tip: Consider the Bx4 bus connecting with [6] trains at Zerega Av (days and evenings).

What's happening?
We're making station improvements</div><div class="line-alert"><p>In the Bronx, Pelham Bay Park-bound [6] skips <b>Westchester Sq-E Tremont Av</b></p>Use nearby Zerega Av or Middletown Rd stations.

Additional travel alternatives:
For service to this station, take the [6] to Middletown Rd and transfer to a Manhattan-bound [6].

For service from this station, take the [6] to Zerega Av and transfer to a Pelham Bay Park-bound [6].

Travel tip: Consider the Bx4 bus connecting with [6] trains at Zerega Av (days and evenings).

What's happening?
We're making station improvements</div><div class="line-alert"><p>In the Bronx, Pelham Bay Park-bound [6] skips <b>Westchester Sq-E Tremont Av</b></p>Use nearby Zerega Av or Middletown Rd stations.

Additional travel alternatives:
For service to this station, take the [6] to Middletown Rd and transfer to a Manhattan-bound [6].

For service from this station, take the [6] to Zerega Av and transfer to a Pelham Bay Park-bound [6].

Travel tip: Consider the Bx4 bus connecting with [6] trains at Zerega Av (days and evenings).

What's happening?
We're making station improvements</div><div class="line-alert"><p>In the Bronx, Pelham Bay Park-bound [6] skips <b>Westchester Sq-E Tremont Av</b></p>Use nearby Zerega Av or Middletown Rd stations.

Additional travel alternatives:
For service to this station, take the [6] to Middletown Rd and transfer to a Manhattan-bound [6].

For service from this station, take the [6] to Zerega Av and transfer to a Pelham Bay Park-bound [6].

Travel tip: Consider the Bx4 bus connecting with [6] trains at Zerega Av (days and evenings).

What's happening?
We're making station improvements</div><div class="line-alert"><p>In the Bronx, Pelham Bay Park-bound [6] skips <b>Westchester Sq-E Tremont Av</b></p>Use nearby Zerega Av or Middletown Rd stations.

Additional travel alternatives:
For service to this station, take the [6] to Middletown Rd and transfer to a Manhattan-bound [6].

For service from this station, take the [6] to Zerega Av and transfer to a Pelham Bay Park-bound [6].

Travel tip: Consider the Bx4 bus connecting with [6] trains at Zerega Av (days and evenings).

What's happening?
We're making station improvements</div><div class="line-alert"><p>In the Bronx, Pelham Bay Park-bound [6] skips <b>Westchester Sq-E Tremont Av</b></p>Use nearby Zerega Av or Middletown Rd stations.

Additional travel alternatives:
For service to this station, take the [6] to Middletown Rd and transfer to a Manhattan-bound [6].

For service from this station, take the [6] to Zerega Av and transfer to a Pelham Bay Park-bound [6].

Travel tip: Consider the Bx4 bus connecting with [6] trains at Zerega Av (days and evenings).

What's happening?
We're making station improvements</div></div>