<ul class="stops">
    <li class="stop">Brooklyn Bridge-City Hall <span></span></li>
    <li class="stop">Canal St <span></span></li>
    <li class="stop">Spring St <span></span></li>
    <li class="stop">Bleecker St <span></span></li>
    <li class="stop">Astor Pl <span></span></li>
    <li class="stop">14 St-Union Sq <span></span></li>
    <li class="stop">23 St <span></span></li>
    <li class="stop">28 St <span></span></li>
    <li class="stop">33 St <span></span></li>
    <li class="stop">Grand Central-42 St <span></span></li>
    <li class="stop">51 St <span></span></li>
    <li class="stop">59 St <span></span></li>
    <li class="stop">68 St-Hunter College <span></span></li>
    <li class="stop">77 St <span></span></li>
    <li class="stop">86 St <span></span></li>
    <li class="stop">96 St <span></span></li>
    <li class="stop">103 St <span></span></li>
    <li class="stop">110 St <span></span></li>
    <li class="stop">116 St <span></span></li>
    <li class="stop">125 St <span></span></li>
    <li class="stop">3 Av-138 St <span></span></li>
    <li class="stop">Hunts Point Av <span></span></li>
    <li class="stop">Parkchester <span></span></li>
    <li class="stop">Castle Hill Av <span></span></li>
    <li class="stop">Zerega Av <span></span></li>
    <li class="stop">Westchester Sq-E Tremont Av <span></span></li>
    <li class="stop">Middletown Rd <span></span></li>
    <li class="stop">Buhre Av <span></span></li>
    <li class="stop">Pelham Bay Park <span></span></li></ul>