<ul class="stops">
    <li class="stop">Flushing-Main St <span></span></li>
    <li class="stop">Mets-Willets Point <span></span></li>
    <li class="stop">111 St <span></span></li>
    <li class="stop">103 St-Corona Plaza <span></span></li>
    <li class="stop">Junction Blvd <span></span></li>
    <li class="stop">90 St-Elmhurst Av <span></span></li>
    <li class="stop">82 St-Jackson Hts <span></span></li>
    <li class="stop">74 St-Broadway <span></span></li>
    <li class="stop">69 St <span></span></li>
    <li class="stop">61 St-Woodside <span></span></li>
    <li class="stop">52 St <span></span></li>
    <li class="stop">46 St-Bliss St <span></span></li>
    <li class="stop">40 St-Lowery St <span></span></li>
    <li class="stop">33 St-Rawson St <span></span></li>
    <li class="stop">Queensboro Plaza <span></span></li>
    <li class="stop">Court Sq <span></span></li>
    <li class="stop">Hunters Point Av <span></span></li>
    <li class="stop">Vernon Blvd-Jackson Av <span></span></li>
    <li class="stop">Grand Central-42 St <span></span></li>
    <li class="stop">5 Av <span></span></li>
    <li class="stop">Times Sq-42 St <span></span></li>
    <li class="stop">34 St-Hudson Yards <span></span></li></ul>