<h2 class="lead text-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16"><path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/></svg>22 alerts on line</h2><div class="line-alerts"><div class="line-alert"><p>[7][7X] trains are running with delays after FDNY responded to a report of a track fire near <b>46 St-Bliss St</b>.</p>[7X] trains have resumed making express stops from Queensboro Plaza to 74 St-Broadway.

Planned Work Reminder:
[7X] trains are running on the local track from 74 St-Broadway to Flushing-Main St while we make structural improvements.</div><div class="line-alert"><p>In Queens, Flushing-bound [7X] express trains make local stops from <b>Queensboro Plaza</b> to <b>74 St-Broadway</b></p>[7X] rush hour express service will continue to run from 74 St-Broadway to Flushing-Main St.

What's happening?
We're making structural improvements</div><div class="line-alert"><p>In Queens, Manhattan-bound [7] skips <b>111 St</b> and <b>82 St-Jackson Hts</b></p>Use nearby 103 St-Corona Plaza, 90 St-Elmhurst Av or 74 St-Broadway stations.

Additional travel alternatives:
For service to 111 St, take the [7] to 103 St-Corona Plaza and transfer to a Flushing-bound [7].

For service to 82 St-Jackson Hts, take the [7] to 74 St-Broadway and transfer to a Flushing-bound [7].

For service from these stations, take the [7] to 90 St-Elmhurst Av or Mets-Willets Point, and transfer to a Manhattan-bound [7].

Travel tip: Consider Q32 or Q48 buses available days and evenings along Roosevelt Ave.
For 111 St, connect between the [7] and Q48 and at Mets-Willets Point.
For 82 St-Jackson Hts, connect between the [7] and Q32 at 74 St-Broadway.

What's happening?
We're making station improvements</div><div class="line-alert"><p>[7][7X] trains are running with delays after FDNY responded to a report of a track fire near <b>46 St-Bliss St</b>.</p>[7X] trains have resumed making express stops from Queensboro Plaza to 74 St-Broadway.

Planned Work Reminder:
[7X] trains are running on the local track from 74 St-Broadway to Flushing-Main St while we make structural improvements.</div><div class="line-alert"><p>In Queens, Flushing-bound [7X] express trains make local stops from <b>Queensboro Plaza</b> to <b>74 St-Broadway</b></p>[7X] rush hour express service will continue to run from 74 St-Broadway to Flushing-Main St.

What's happening?
We're making structural improvements</div><div class="line-alert"><p>In Queens, Manhattan-bound [7] skips <b>111 St</b> and <b>82 St-Jackson Hts</b></p>Use nearby 103 St-Corona Plaza, 90 St-Elmhurst Av or 74 St-Broadway stations.

Additional travel alternatives:
For service to 111 St, take the [7] to 103 St-Corona Plaza and transfer to a Flushing-bound [7].

For service to 82 St-Jackson Hts, take the [7] to 74 St-Broadway and transfer to a Flushing-bound [7].

For service from these stations, take the [7] to 90 St-Elmhurst Av or Mets-Willets Point, and transfer to a Manhattan-bound [7].

Travel tip: Consider Q32 or Q48 buses available days and evenings along Roosevelt Ave.
For 111 St, connect between the [7] and Q48 and at Mets-Willets Point.
For 82 St-Jackson Hts, connect between the [7] and Q32 at 74 St-Broadway.

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Queens, Flushing-bound [7X] express trains make local stops from <b>Queensboro Plaza</b> to <b>74 St-Broadway</b></p>[7X] rush hour express service will continue to run from 74 St-Broadway to Flushing-Main St.

What's happening?
We're making structural improvements</div><div class="line-alert"><p>In Queens, Manhattan-bound [7] skips <b>111 St</b> and <b>82 St-Jackson Hts</b></p>Use nearby 103 St-Corona Plaza, 90 St-Elmhurst Av or 74 St-Broadway stations.

Additional travel alternatives:
For service to 111 St, take the [7] to 103 St-Corona Plaza and transfer to a Flushing-bound [7].

For service to 82 St-Jackson Hts, take the [7] to 74 St-Broadway and transfer to a Flushing-bound [7].

For service from these stations, take the [7] to 90 St-Elmhurst Av or Mets-Willets Point, and transfer to a Manhattan-bound [7].

Travel tip: Consider Q32 or Q48 buses available days and evenings along Roosevelt Ave.
For 111 St, connect between the [7] and Q48 and at Mets-Willets Point.
For 82 St-Jackson Hts, connect between the [7] and Q32 at 74 St-Broadway.

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Queens, Flushing-bound [7X] express trains make local stops from <b>Queensboro Plaza</b> to <b>74 St-Broadway</b></p>[7X] rush hour express service will continue to run from 74 St-Broadway to Flushing-Main St.

What's happening?
We're making structural improvements</div><div class="line-alert"><p>In Queens, Manhattan-bound [7] skips <b>111 St</b> and <b>82 St-Jackson Hts</b></p>Use nearby 103 St-Corona Plaza, 90 St-Elmhurst Av or 74 St-Broadway stations.

Additional travel alternatives:
For service to 111 St, take the [7] to 103 St-Corona Plaza and transfer to a Flushing-bound [7].

For service to 82 St-Jackson Hts, take the [7] to 74 St-Broadway and transfer to a Flushing-bound [7].

For service from these stations, take the [7] to 90 St-Elmhurst Av or Mets-Willets Point, and transfer to a Manhattan-bound [7].

Travel tip: Consider Q32 or Q48 buses available days and evenings along Roosevelt Ave.
For 111 St, connect between the [7] and Q48 and at Mets-Willets Point.
For 82 St-Jackson Hts, connect between the [7] and Q32 at 74 St-Broadway.

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Queens, Flushing-bound [7X] express trains make local stops from <b>Queensboro Plaza</b> to <b>74 St-Broadway</b></p>[7X] rush hour express service will continue to run from 74 St-Broadway to Flushing-Main St.

What's happening?
We're making structural improvements</div><div class="line-alert"><p>In Queens, Manhattan-bound [7] skips <b>111 St</b> and <b>82 St-Jackson Hts</b></p>Use nearby 103 St-Corona Plaza, 90 St-Elmhurst Av or 74 St-Broadway stations.

Additional travel alternatives:
For service to 111 St, take the [7] to 103 St-Corona Plaza and transfer to a Flushing-bound [7].

For service to 82 St-Jackson Hts, take the [7] to 74 St-Broadway and transfer to a Flushing-bound [7].

For service from these stations, take the [7] to 90 St-Elmhurst Av or Mets-Willets Point, and transfer to a Manhattan-bound [7].

Travel tip: Consider Q32 or Q48 buses available days and evenings along Roosevelt Ave.
For 111 St, connect between the [7] and Q48 and at Mets-Willets Point.
For 82 St-Jackson Hts, connect between the [7] and Q32 at 74 St-Broadway.

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Queens, Flushing-bound [7X] express trains make local stops from <b>Queensboro Plaza</b> to <b>74 St-Broadway</b></p>[7X] rush hour express service will continue to run from 74 St-Broadway to Flushing-Main St.

What's happening?
We're making structural improvements</div><div class="line-alert"><p>In Queens, Manhattan-bound [7] skips <b>111 St</b> and <b>82 St-Jackson Hts</b></p>Use nearby 103 St-Corona Plaza, 90 St-Elmhurst Av or 74 St-Broadway stations.

Additional travel alternatives:
For service to 111 St, take the [7] to 103 St-Corona Plaza and transfer to a Flushing-bound [7].

For service to 82 St-Jackson Hts, take the [7] to 74 St-Broadway and transfer to a Flushing-bound [7].

For service from these stations, take the [7] to 90 St-Elmhurst Av or Mets-Willets Point, and transfer to a Manhattan-bound [7].

Travel tip: Consider Q32 or Q48 buses available days and evenings along Roosevelt Ave.
For 111 St, connect between the [7] and Q48 and at Mets-Willets Point.
For 82 St-Jackson Hts, connect between the [7] and Q32 at 74 St-Broadway.

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Queens, Flushing-bound [7X] express trains make local stops from <b>Queensboro Plaza</b> to <b>74 St-Broadway</b></p>[7X] rush hour express service will continue to run from 74 St-Broadway to Flushing-Main St.

What's happening?
We're making structural improvements</div><div class="line-alert"><p>In Queens, Manhattan-bound [7] skips <b>111 St</b> and <b>82 St-Jackson Hts</b></p>Use nearby 103 St-Corona Plaza, 90 St-Elmhurst Av or 74 St-Broadway stations.

Additional travel alternatives:
For service to 111 St, take the [7] to 103 St-Corona Plaza and transfer to a Flushing-bound [7].

For service to 82 St-Jackson Hts, take the [7] to 74 St-Broadway and transfer to a Flushing-bound [7].

For service from these stations, take the [7] to 90 St-Elmhurst Av or Mets-Willets Point, and transfer to a Manhattan-bound [7].

Travel tip: Consider Q32 or Q48 buses available days and evenings along Roosevelt Ave.
For 111 St, connect between the [7] and Q48 and at Mets-Willets Point.
For 82 St-Jackson Hts, connect between the [7] and Q32 at 74 St-Broadway.

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Queens, Flushing-bound [7X] express trains make local stops from <b>Queensboro Plaza</b> to <b>74 St-Broadway</b></p>[7X] rush hour express service will continue to run from 74 St-Broadway to Flushing-Main St.

What's happening?
We're making structural improvements</div><div class="line-alert"><p>In Queens, Manhattan-bound [7] skips <b>111 St</b> and <b>82 St-Jackson Hts</b></p>Use nearby 103 St-Corona Plaza, 90 St-Elmhurst Av or 74 St-Broadway stations.

Additional travel alternatives:
For service to 111 St, take the [7] to 103 St-Corona Plaza and transfer to a Flushing-bound [7].

For service to 82 St-Jackson Hts, take the [7] to 74 St-Broadway and transfer to a Flushing-bound [7].

For service from these stations, take the [7] to 90 St-Elmhurst Av or Mets-Willets Point, and transfer to a Manhattan-bound [7].

Travel tip: Consider Q32 or Q48 buses available days and evenings along Roosevelt Ave.
For 111 St, connect between the [7] and Q48 and at Mets-Willets Point.
For 82 St-Jackson Hts, connect between the [7] and Q32 at 74 St-Broadway.

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Queens, Flushing-bound [7X] express trains make local stops from <b>Queensboro Plaza</b> to <b>74 St-Broadway</b></p>[7X] rush hour express service will continue to run from 74 St-Broadway to Flushing-Main St.

What's happening?
We're making structural improvements</div><div class="line-alert"><p>In Queens, Manhattan-bound [7] skips <b>111 St</b> and <b>82 St-Jackson Hts</b></p>Use nearby 103 St-Corona Plaza, 90 St-Elmhurst Av or 74 St-Broadway stations.

Additional travel alternatives:
For service to 111 St, take the [7] to 103 St-Corona Plaza and transfer to a Flushing-bound [7].

For service to 82 St-Jackson Hts, take the [7] to 74 St-Broadway and transfer to a Flushing-bound [7].

For service from these stations, take the [7] to 90 St-Elmhurst Av or Mets-Willets Point, and transfer to a Manhattan-bound [7].

Travel tip: Consider Q32 or Q48 buses available days and evenings along Roosevelt Ave.
For 111 St, connect between the [7] and Q48 and at Mets-Willets Point.
For 82 St-Jackson Hts, connect between the [7] and Q32 at 74 St-Broadway.

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Queens, Flushing-bound [7X] express trains make local stops from <b>Queensboro Plaza</b> to <b>74 St-Broadway</b></p>[7X] rush hour express service will continue to run from 74 St-Broadway to Flushing-Main St.

What's happening?
We're making structural improvements</div><div class="line-alert"><p>In Queens, Manhattan-bound [7] skips <b>111 St</b> and <b>82 St-Jackson Hts</b></p>Use nearby 103 St-Corona Plaza, 90 St-Elmhurst Av or 74 St-Broadway stations.

Additional travel alternatives:
For service to 111 St, take the [7] to 103 St-Corona Plaza and transfer to a Flushing-bound [7].

For service to 82 St-Jackson Hts, take the [7] to 74 St-Broadway and transfer to a Flushing-bound [7].

For service from these stations, take the [7] to 90 St-Elmhurst Av or Mets-Willets Point, and transfer to a Manhattan-bound [7].

Travel tip: Consider Q32 or Q48 buses available days and evenings along Roosevelt Ave.
For 111 St, connect between the [7] and Q48 and at Mets-Willets Point.
For 82 St-Jackson Hts, connect between the [7] and Q32 at 74 St-Broadway.

What's happening?
We're making station improvements</div></div>