<h2 class="lead text-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16"><path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/></svg>25 alerts on line</h2><div class="line-alerts"><div class="line-alert"><p>In Queens, Manhattan-bound [7] skips <strong>69 St</strong>, <strong>52 St</strong>, <strong>46 St-Bliss St</strong> and <strong>33 St-Rawson St</strong></p><p>All trains at <strong>Woodside-61 St</strong> board from the Flushing-bound platform</p>Use nearby 74 St-Broadway, Woodside-61 St or 40 St-Lowery St stations.

Additional travel alternatives:
For service to these stations, take the [7] to Woodside-61 St or Queensboro Plaza and transfer to a Flushing-bound [7].

For service from these stations, take the [7] to Woodside-61 St or 74 St-Broadway and transfer to a Manhattan-bound [7].

Note: There will be a temporary platform located at 40 St-Lowery St.

What's happening?
We're making structural improvements</div><div class="line-alert"><p>In Queens, Manhattan-bound [7] skips <strong>69 St</strong>, <strong>52 St</strong>, <strong>46 St-Bliss St</strong> and <strong>33 St-Rawson St</strong></p><p>All trains at <strong>Woodside-61 St</strong> board from the Flushing-bound platform</p>Use nearby 74 St-Broadway, Woodside-61 St or 40 St-Lowery St stations.

Additional travel alternatives:
For service to these stations, take the [7] to Woodside-61 St or Queensboro Plaza and transfer to a Flushing-bound [7].

For service from these stations, take the [7] to Woodside-61 St or 74 St-Broadway and transfer to a Manhattan-bound [7].

Note: There will be a temporary platform located at 40 St-Lowery St.

What's happening?
We're making structural improvements</div><div class="line-alert"><p>In Queens, Manhattan-bound [7] skips <strong>69 St</strong>, <strong>52 St</strong>, <strong>46 St-Bliss St</strong> and <strong>33 St-Rawson St</strong></p><p>All trains at <strong>Woodside-61 St</strong> board from the Flushing-bound platform</p>Use nearby 74 St-Broadway, Woodside-61 St or 40 St-Lowery St stations.

Additional travel alternatives:
For service to these stations, take the [7] to Woodside-61 St or Queensboro Plaza and transfer to a Flushing-bound [7].

For service from these stations, take the [7] to Woodside-61 St or 74 St-Broadway and transfer to a Manhattan-bound [7].

Note: There will be a temporary platform located at 40 St-Lowery St.

What's happening?
We're making structural improvements</div><div class="line-alert"><p>In Queens, Manhattan-bound [7] skips <strong>69 St</strong>, <strong>52 St</strong>, <strong>46 St-Bliss St</strong> and <strong>33 St-Rawson St</strong></p><p>All trains at <strong>Woodside-61 St</strong> board from the Flushing-bound platform</p>Use nearby 74 St-Broadway, Woodside-61 St or 40 St-Lowery St stations.

Additional travel alternatives:
For service to these stations, take the [7] to Woodside-61 St or Queensboro Plaza and transfer to a Flushing-bound [7].

For service from these stations, take the [7] to Woodside-61 St or 74 St-Broadway and transfer to a Manhattan-bound [7].

Note: There will be a temporary platform located at 40 St-Lowery St.

What's happening?
We're making structural improvements</div><div class="line-alert"><p>In Queens, Manhattan-bound [7] skips <strong>69 St</strong>, <strong>52 St</strong>, <strong>46 St-Bliss St</strong> and <strong>33 St-Rawson St</strong></p><p>All trains at <strong>Woodside-61 St</strong> board from the Flushing-bound platform</p>Use nearby 74 St-Broadway, Woodside-61 St or 40 St-Lowery St stations.

Additional travel alternatives:
For service to these stations, take the [7] to Woodside-61 St or Queensboro Plaza and transfer to a Flushing-bound [7].

For service from these stations, take the [7] to Woodside-61 St or 74 St-Broadway and transfer to a Manhattan-bound [7].

Note: There will be a temporary platform located at 40 St-Lowery St.

What's happening?
We're making structural improvements</div><div class="line-alert"><p>In Queens, Manhattan-bound ‌[7X] express skips <b>74 St-Broadway</b></p><p>Manhattan-bound [7] local continues to stop at this station</p>For service to 74 St-Broadway and/or transfer to Jackson Hts-Roosevelt Av [E][F][M][R], transfer at Junction Blvd  to a Manhattan-bound [7] local.

Additional travel alternatives:
For service to this station, take the [7X] to 61 St-Woodside and transfer to a Flushing-bound [7].

What's happening?
Structural maintenance</div><div class="line-alert"><p>In Queens, Flushing-bound [7] skips <strong>103 St-Corona Plaza</strong></p>Use nearby Junction Blvd or 111 St stations.

Additional travel alternatives:
For service to this station, take the [7] to 111 St and transfer to a Manhattan-bound train.

For service from this station, take the [7] to Junction Blvd and transfer to a Flushing-bound train.

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Queens, Flushing-bound [7] skips <strong>103 St-Corona Plaza</strong></p>Use nearby Junction Blvd or 111 St stations.

Additional travel alternatives:
For service to this station, take the [7] to 111 St and transfer to a Manhattan-bound train.

For service from this station, take the [7] to Junction Blvd and transfer to a Flushing-bound train.

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Queens, Flushing-bound [7] skips <strong>103 St-Corona Plaza</strong></p>Use nearby Junction Blvd or 111 St stations.

Additional travel alternatives:
For service to this station, take the [7] to 111 St and transfer to a Manhattan-bound train.

For service from this station, take the [7] to Junction Blvd and transfer to a Flushing-bound train.

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Queens, Flushing-bound [7] skips <strong>103 St-Corona Plaza</strong></p>Use nearby Junction Blvd or 111 St stations.

Additional travel alternatives:
For service to this station, take the [7] to 111 St and transfer to a Manhattan-bound train.

For service from this station, take the [7] to Junction Blvd and transfer to a Flushing-bound train.

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Queens, Flushing-bound [7] skips <strong>103 St-Corona Plaza</strong></p>Use nearby Junction Blvd or 111 St stations.

Additional travel alternatives:
For service to this station, take the [7] to 111 St and transfer to a Manhattan-bound train.

For service from this station, take the [7] to Junction Blvd and transfer to a Flushing-bound train.

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Queens, Flushing-bound [7] skips <strong>103 St-Corona Plaza</strong></p>Use nearby Junction Blvd or 111 St stations.

Additional travel alternatives:
For service to this station, take the [7] to 111 St and transfer to a Manhattan-bound train.

For service from this station, take the [7] to Junction Blvd and transfer to a Flushing-bound train.

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Queens, Flushing-bound [7] skips <strong>103 St-Corona Plaza</strong></p>Use nearby Junction Blvd or 111 St stations.

Additional travel alternatives:
For service to this station, take the [7] to 111 St and transfer to a Manhattan-bound train.

For service from this station, take the [7] to Junction Blvd and transfer to a Flushing-bound train.

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Queens, Flushing-bound [7] skips <strong>103 St-Corona Plaza</strong></p>Use nearby Junction Blvd or 111 St stations.

Additional travel alternatives:
For service to this station, take the [7] to 111 St and transfer to a Manhattan-bound train.

For service from this station, take the [7] to Junction Blvd and transfer to a Flushing-bound train.

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Queens, Flushing-bound [7] skips <strong>103 St-Corona Plaza</strong></p>Use nearby Junction Blvd or 111 St stations.

Additional travel alternatives:
For service to this station, take the [7] to 111 St and transfer to a Manhattan-bound train.

For service from this station, take the [7] to Junction Blvd and transfer to a Flushing-bound train.

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Queens, Flushing-bound [7] skips <strong>103 St-Corona Plaza</strong></p>Use nearby Junction Blvd or 111 St stations.

Additional travel alternatives:
For service to this station, take the [7] to 111 St and transfer to a Manhattan-bound train.

For service from this station, take the [7] to Junction Blvd and transfer to a Flushing-bound train.

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Queens, Flushing-bound [7] skips <strong>103 St-Corona Plaza</strong></p>Use nearby Junction Blvd or 111 St stations.

Additional travel alternatives:
For service to this station, take the [7] to 111 St and transfer to a Manhattan-bound train.

For service from this station, take the [7] to Junction Blvd and transfer to a Flushing-bound train.

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Queens, Flushing-bound [7] skips <strong>103 St-Corona Plaza</strong></p>Use nearby Junction Blvd or 111 St stations.

Additional travel alternatives:
For service to this station, take the [7] to 111 St and transfer to a Manhattan-bound train.

For service from this station, take the [7] to Junction Blvd and transfer to a Flushing-bound train.

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Queens, Flushing-bound [7] skips <strong>103 St-Corona Plaza</strong></p>Use nearby Junction Blvd or 111 St stations.

Additional travel alternatives:
For service to this station, take the [7] to 111 St and transfer to a Manhattan-bound train.

For service from this station, take the [7] to Junction Blvd and transfer to a Flushing-bound train.

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Queens, Flushing-bound [7] skips <strong>103 St-Corona Plaza</strong></p>Use nearby Junction Blvd or 111 St stations.

Additional travel alternatives:
For service to this station, take the [7] to 111 St and transfer to a Manhattan-bound train.

For service from this station, take the [7] to Junction Blvd and transfer to a Flushing-bound train.

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Queens, Flushing-bound [7] skips <strong>103 St-Corona Plaza</strong></p>Use nearby Junction Blvd or 111 St stations.

Additional travel alternatives:
For service to this station, take the [7] to 111 St and transfer to a Manhattan-bound train.

For service from this station, take the [7] to Junction Blvd and transfer to a Flushing-bound train.

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Queens, Flushing-bound [7] skips <strong>103 St-Corona Plaza</strong></p>Use nearby Junction Blvd or 111 St stations.

Additional travel alternatives:
For service to this station, take the [7] to 111 St and transfer to a Manhattan-bound train.

For service from this station, take the [7] to Junction Blvd and transfer to a Flushing-bound train.

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Queens, Flushing-bound [7] skips <strong>103 St-Corona Plaza</strong></p>Use nearby Junction Blvd or 111 St stations.

Additional travel alternatives:
For service to this station, take the [7] to 111 St and transfer to a Manhattan-bound train.

For service from this station, take the [7] to Junction Blvd and transfer to a Flushing-bound train.

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Queens, Flushing-bound [7] skips <strong>103 St-Corona Plaza</strong></p>Use nearby Junction Blvd or 111 St stations.

Additional travel alternatives:
For service to this station, take the [7] to 111 St and transfer to a Manhattan-bound train.

For service from this station, take the [7] to Junction Blvd and transfer to a Flushing-bound train.

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Queens, Flushing-bound [7] skips <strong>103 St-Corona Plaza</strong></p>Use nearby Junction Blvd or 111 St stations.

Additional travel alternatives:
For service to this station, take the [7] to 111 St and transfer to a Manhattan-bound train.

For service from this station, take the [7] to Junction Blvd and transfer to a Flushing-bound train.

What's happening?
We're making station improvements</div></div>