<h2 class="lead">1 alerts on line</h2><div class="line-alerts"><div class="line-alert"><p>In Queens, Manhattan-bound [7] skips <b>111 St</b> and <b>82 St-Jackson Hts</b></p>Use nearby 103 St-Corona Plaza, 90 St-Elmhurst Av or 74 St-Broadway stations.

Additional travel alternatives:
For service to 111 St, take the [7] to 103 St-Corona Plaza and transfer to a Flushing-bound [7].

For service to 82 St-Jackson Hts, take the [7] to 74 St-Broadway and transfer to a Flushing-bound [7].

For service from these stations, take the [7] to 90 St-Elmhurst Av or Mets-Willets Point, and transfer to a Manhattan-bound [7].

Travel tip: Consider Q32 or Q48 buses available days and evenings along Roosevelt Ave.
For 111 St, connect between the [7] and Q48 and at Mets-Willets Point.
For 82 St-Jackson Hts, connect between the [7] and Q32 at 74 St-Broadway.

What's happening?
We're making station improvements</div></div>