<ul class="stops">
    <li class="stop">Far Rockaway-Mott Av <span></span></li>
    <li class="stop">Beach 25 St <span></span></li>
    <li class="stop">Beach 36 St <span></span></li>
    <li class="stop">Beach 44 St <span></span></li>
    <li class="stop">Beach 60 St <span></span></li>
    <li class="stop">Beach 67 St <span></span></li>
    <li class="stop">Broad Channel <span></span></li>
    <li class="stop">Howard Beach-JFK Airport <span></span></li>
    <li class="stop">Aqueduct-N Conduit Av <span></span></li>
    <li class="stop">Aqueduct Racetrack <span></span></li>
    <li class="stop">Rockaway Blvd <span></span></li>
    <li class="stop">88 St <span></span></li>
    <li class="stop">80 St <span></span></li>
    <li class="stop">Grant Av <span></span></li>
    <li class="stop">Euclid Av <span></span></li>
    <li class="stop">Shepherd Av <span></span></li>
    <li class="stop">Van Siclen Av <span></span></li>
    <li class="stop">Liberty Av <span></span></li>
    <li class="stop">Broadway Junction <span></span></li>
    <li class="stop">Rockaway Av <span></span></li>
    <li class="stop">Ralph Av <span></span></li>
    <li class="stop">Utica Av <span></span></li>
    <li class="stop">Kingston-Throop Avs <span></span></li>
    <li class="stop">Nostrand Av <span></span></li>
    <li class="stop">Franklin Av <span></span></li>
    <li class="stop">Clinton-Washington Avs <span></span></li>
    <li class="stop">Lafayette Av <span></span></li>
    <li class="stop">Hoyt-Schermerhorn Sts <span></span></li>
    <li class="stop">Jay St-MetroTech <span></span></li>
    <li class="stop">High St <span></span></li>
    <li class="stop">Fulton St <span></span></li>
    <li class="stop">Chambers St <span></span></li>
    <li class="stop">Canal St <span></span></li>
    <li class="stop">Spring St <span></span></li>
    <li class="stop">W 4 St-Wash Sq <span></span></li>
    <li class="stop">14 St <span></span></li>
    <li class="stop">23 St <span></span></li>
    <li class="stop">34 St-Penn Station <span></span></li>
    <li class="stop">42 St-Port Authority Bus Terminal <span></span></li>
    <li class="stop">50 St <span></span></li>
    <li class="stop">59 St-Columbus Circle <span></span></li>
    <li class="stop">72 St <span></span></li>
    <li class="stop">81 St-Museum of Natural History <span></span></li>
    <li class="stop">86 St <span></span></li>
    <li class="stop">96 St <span></span></li>
    <li class="stop">103 St <span></span></li>
    <li class="stop">Cathedral Pkwy (110 St) <span></span></li>
    <li class="stop">116 St <span></span></li>
    <li class="stop">125 St <span></span></li>
    <li class="stop">135 St <span></span></li>
    <li class="stop">145 St <span></span></li>
    <li class="stop">155 St <span></span></li>
    <li class="stop">163 St-Amsterdam Av <span></span></li>
    <li class="stop">168 St <span></span></li>
    <li class="stop">175 St <span></span></li>
    <li class="stop">181 St <span></span></li>
    <li class="stop">190 St <span></span></li>
    <li class="stop">Dyckman St <span></span></li>
    <li class="stop">Inwood-207 St <span></span></li></ul>