<h2 class="lead text-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16"><path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/></svg>5 alerts on line</h2><div class="line-alerts"><div class="line-alert"><p>Uptown [A][E] trains are running with delays after NYPD conducted an investigation on a train at <b>W 4 St-Wash Sq</b>.</p></div><div class="line-alert"><p>In Manhattan, downtown [A] local skips <b>50 St</b>, <b>23 St</b> and <b>Spring St</b></p>For 50 St, take the [E] instead. Transfer at 42 St-Port Authority Bus Terminal. 

For service to 23 St, take the [A] to 14 St and transfer to an uptown [A] or [E].

For service from 23 St, take the [A] or [E] to 34 St-Penn Station and transfer to a downtown [A].

For service to Spring St, take the [A] to Canal St and transfer to an uptown [E].

For service from Spring St, take the [E] to W 4 St-Wash Sq and transfer to a downtown [A].

Notes: Uptown [A] stops at 23 St and 50 St all weekend.
Inwood-bound [A] runs via the [F] from Jay St-MetroTech to W 4 St-Wash Sq, during this time.

Schedule reminder: [A] does not serve these local stations days and evenings.

What's happening?
Signal maintenance

[accessibility icon] This service change affects one or more ADA accessible stations and these travel alternatives may not be fully accessible. Please contact 511 to plan your trip.</div><div class="line-alert"><p>In Brooklyn, Queens-bound [A] local skips <b>Lafayette Av</b>, <b>Clinton-Washington Avs</b>, <b>Franklin Av</b> and <b>Kingston-Throop Avs</b></p>For service to these stations, take the [A] to Nostrand Av or Utica Av [accessibility icon] and transfer to a Manhattan-bound train.

For service from these stations, take a Manhattan-bound train to Nostrand Av or Hoyt-Schermerhorn Sts and transfer to a Queens-bound [A].

What's happening?
Station maintenance

[accessibility icon] This service change affects one or more ADA accessible stations and these travel alternatives may not be fully accessible. Please contact 511 to plan your trip.</div><div class="line-alert"><p>In Brooklyn and Lower Manhattan, no Inwood-bound [A] at <b>High St</b>, <b>Fulton St</b>, <b>Chambers St</b>, <b>Canal St</b> and <b>Spring St</b></p>Inwood-bound [A] runs via the [F] from Jay St-MetroTech to W 4 St-Wash Sq.

Travel Alternatives:
For High St, use the nearby York St [F] station instead.

For Fulton St, take the [J] via transfer at the Delancey St-Essex St [F] station. Or, use the nearby World Trade Center [accessibility icon] | [E] station via transfer at W 4 St-Wash Sq.

For Chambers St/World Trade Center and Canal St, take the [E] or downtown [A][C] via transfer at W 4 St-Wash Sq.

For service to Spring St, take the [A] to nearby Broadway-Lafayette St or W 4 St-Wash Sq.

For service from Spring St, take the [E] to W 4 St-Wash Sq and transfer to an uptown [A].

What's happening?
Track maintenance

[accessibility icon] This service change affects one or more ADA accessible stations and these travel alternatives may not be fully accessible. Please contact 511 to plan your trip.</div><div class="line-alert"><p>No [A] between <b>Broad Channel</b> and <strong>Far Rockaway</strong><br>[A] will be rerouted to Rockaway Park replacing [H]</p><p>Take [shuttle bus icon]free shuttle buses and/or rerouted [A] via [H]</p>[shuttle bus icon] Free T354 shuttle buses make stops between Far Rockaway-Mott Av and Beach 67 St, connecting with the [A] at Beach 90 St.
Transfer between [A] and [shuttle bus icon] buses at Beach 90 St.
For accessible travel during days and evenings to/from Far Rockaway-Mott Av, speak to a station agent at Far Rockaway-Mott Av [shuttle bus icon] or Rockaway Park-Beach 116 St [A] and request a GO ticket for use on the Q22 bus.

See this service change on a map.

What's happening?
Structural maintenance

[accessibility icon] This service change affects one or more ADA accessible stations and these travel alternatives may not be fully accessible. Please contact 511 to plan your trip.</div></div>