<h2 class="lead text-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16"><path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/></svg>2 alerts on line</h2><div class="line-alerts"><div class="line-alert"><p>In Upper Manhattan, downtown [A] local skips <b>163 St-Amsterdam Av</b>, <b>155 St</b> and <b>135 St</b></p>For service to 163 St-Amsterdam Av and 155 St, take the [A] to 145 St and transfer to an uptown [A] local.

For service from these stations, take the [A] to 168 St and transfer to a downtown [A].

For 135 St, take the [D] instead. Transfer at 145 St or 125 St.

What's happening?
Track maintenance</div><div class="line-alert"><p>No [A] service between <b>Howard Beach-JFK Airport</b> and <strong>the Rockaways</strong></p><p><b>Broad Channel</b> Station is closed<br>[H] Rockaway Park Shuttle runs between <strong>B</strong> <strong>116 St </strong>and <strong>Mott Av</strong></p>[A] service operates between Manhattan and Ozone Park or Howard Beach-JFK Airport.

[H] Rockaway Park Shuttle operates fare-free between Rockaway Park-Beach 116 St and via the [A] to/from Far Rockaway-Mott Av

shuttle bus icon Free shuttle buses run along two routes:
1. Q97 Nonstop between Howard Beach-JFK Airport and Far Rockaway-Mott Av
2. Q109 Between Howard Beach-JFK Airport and Beach 67 St, stopping at Broad Channel and Beach 90 St

Travel alternatives:
For Broad Channel and service between Howard Beach-JFK Airport and the Rockaways, take shuttle bus icon free shuttle buses.
Transfer between [A] and shuttle bus icon at Howard Beach-JFK Airport accessibility icon
Transfer between [H] and shuttle bus icon at Beach 67 St accessibility icon or Far Rockaway-Mott Av accessibility icon
Additional bus alternatives: (Regular $2.90 local and $7 express bus fares apply for these buses)Q52-SBS and Q53-SBS connect with the [A] at Rockaway Blvd, [J][Z] at Woodhaven Blvd and [M][R] at Woodhaven Blvd.
Q35 connects with [2][5] at Flatbush Av-Brooklyn College accessibility icon.

For Manhattan, consider weekday QM16/QM17 express bus service.Special QM15 service will also operate to/from the Rockaways on weekdays and Saturdays.

LIRR Far Rockaway Ticket will provide a special fare of $2.75 between Far Rockaway accessibility icon and Grand Central accessibility icon, Penn Station accessibility icon or Atlantic Terminal accessibility icon. Far Rockaway Tickets can only be purchased at Far Rockaway Station or on the TrainTime app if you're near the station. Buy a round trip if you're returning the same day. Check LIRR schedules or the TrainTime app for more information. Consider NYC Ferry service running between Beach 108 St (at Beach Channel Drive) and Wall St (Pier 11).
Note: Jan 28 - 29, Tue 11:30 PM to Wed 5 AM, No [A] between Euclid Av and Ozone Park-Lefferts Blvd/Far Rockaway-Mott Av.

What's happening?
Resiliency & Rehabilitation Project</div></div>