<h2 class="lead text-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16"><path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/></svg>9 alerts on line</h2><div class="line-alerts"><div class="line-alert"><p>In Manhattan and Brooklyn, no ‌[A] between <strong>Chambers St</strong>-<strong>World Trade Center</strong> and <strong>Utica Av</strong></p>[A] trains run in two sections:
1. Between Inwood-207 St and Canal St and via the [E] to/from World Trade Center, the last stop
2. Between Utica Av and Ozone Park-Lefferts Blvd/Far Rockaway-Mott Av, making local stops

[shuttle bus icon] Free shuttle buses run on two routes:
1. Local between Jay St-MetroTech and Utica Av, stopping at Hoyt-Schermerhorn Sts, Lafayette Av, Clinton-Washington Avs, Franklin Av, Nostrand Av and Kingston-Throop Avs
2. Loop between Jay St-MetroTech and York St, stopping at High St

For service between Manhattan and Brooklyn, take the [N] or [Q] via transfer at 42 St-Port Authority Bus Terminal/Times Sq-42 St or World Trade Center/Cortlandt St. Or, consider the [L], which connects with the [A] at Broadway Junction.

Travel alternatives:
For Chambers St and Fulton St, use the nearby World Trade Center [E] station.
For High St, use nearby Jay St-MetroTech [N][Q][R] and transfer to/from free [shuttle bus icon] shuttle buses.
For Jay St-MetroTech, take [N][Q][R] instead.
For stations between Jay St-MetroTech and Utica Av, take a [shuttle bus icon] bus.

Transfer stations:
42 St-Port Authority Bus Terminal/ Times Sq-42 St [A][N][Q]
14 St [A][L]
World Trade Center/Cortlandt St [accessibility icon] | [A][N][Q]
Jay St-MetroTech [accessibility icon] | [N][Q][R] and [shuttle bus icon]
Utica Av [accessibility icon] | [A] and [shuttle bus icon]
Broadway Junction [A][L]
Notes:
Late night Lefferts Shuttle replaced by [A] service between Utica Av and Ozone Park-Lefferts Blvd.
No [F] service between Delancey St-Essex St and Bergen St during this time.
[Q] makes [N][R] stops between Canal St and DeKalb Av in both directions during this time.

What's happening?
Fastrack maintenance</div><div class="line-alert"><p>In Manhattan and Brooklyn, no ‌[A] between <strong>Chambers St</strong>-<strong>World Trade Center</strong> and <strong>Utica Av</strong></p>[A] trains run in two sections:
1. Between Inwood-207 St and Canal St and via the [E] to/from World Trade Center, the last stop
2. Between Utica Av and Ozone Park-Lefferts Blvd/Far Rockaway-Mott Av, making local stops

[shuttle bus icon] Free shuttle buses run on two routes:
1. Local between Jay St-MetroTech and Utica Av, stopping at Hoyt-Schermerhorn Sts, Lafayette Av, Clinton-Washington Avs, Franklin Av, Nostrand Av and Kingston-Throop Avs
2. Loop between Jay St-MetroTech and York St, stopping at High St

For service between Manhattan and Brooklyn, take the [N] or [Q] via transfer at 42 St-Port Authority Bus Terminal/Times Sq-42 St or World Trade Center/Cortlandt St. Or, consider the [L], which connects with the [A] at Broadway Junction.

Travel alternatives:
For Chambers St and Fulton St, use the nearby World Trade Center [E] station.
For High St, use nearby Jay St-MetroTech [N][Q][R] and transfer to/from free [shuttle bus icon] shuttle buses.
For Jay St-MetroTech, take [N][Q][R] instead.
For stations between Jay St-MetroTech and Utica Av, take a [shuttle bus icon] bus.

Transfer stations:
42 St-Port Authority Bus Terminal/ Times Sq-42 St [A][N][Q]
14 St [A][L]
World Trade Center/Cortlandt St [accessibility icon] | [A][N][Q]
Jay St-MetroTech [accessibility icon] | [N][Q][R] and [shuttle bus icon]
Utica Av [accessibility icon] | [A] and [shuttle bus icon]
Broadway Junction [A][L]
Notes:
Late night Lefferts Shuttle replaced by [A] service between Utica Av and Ozone Park-Lefferts Blvd.
No [F] service between Delancey St-Essex St and Bergen St during this time.
[Q] makes [N][R] stops between Canal St and DeKalb Av in both directions during this time.

What's happening?
Fastrack maintenance</div><div class="line-alert"><p>In Manhattan and Brooklyn, no ‌[A] between <strong>Chambers St</strong>-<strong>World Trade Center</strong> and <strong>Utica Av</strong></p>[A] trains run in two sections:
1. Between Inwood-207 St and Canal St and via the [E] to/from World Trade Center, the last stop
2. Between Utica Av and Ozone Park-Lefferts Blvd/Far Rockaway-Mott Av, making local stops

[shuttle bus icon] Free shuttle buses run on two routes:
1. Local between Jay St-MetroTech and Utica Av, stopping at Hoyt-Schermerhorn Sts, Lafayette Av, Clinton-Washington Avs, Franklin Av, Nostrand Av and Kingston-Throop Avs
2. Loop between Jay St-MetroTech and York St, stopping at High St

For service between Manhattan and Brooklyn, take the [N] or [Q] via transfer at 42 St-Port Authority Bus Terminal/Times Sq-42 St or World Trade Center/Cortlandt St. Or, consider the [L], which connects with the [A] at Broadway Junction.

Travel alternatives:
For Chambers St and Fulton St, use the nearby World Trade Center [E] station.
For High St, use nearby Jay St-MetroTech [N][Q][R] and transfer to/from free [shuttle bus icon] shuttle buses.
For Jay St-MetroTech, take [N][Q][R] instead.
For stations between Jay St-MetroTech and Utica Av, take a [shuttle bus icon] bus.

Transfer stations:
42 St-Port Authority Bus Terminal/ Times Sq-42 St [A][N][Q]
14 St [A][L]
World Trade Center/Cortlandt St [accessibility icon] | [A][N][Q]
Jay St-MetroTech [accessibility icon] | [N][Q][R] and [shuttle bus icon]
Utica Av [accessibility icon] | [A] and [shuttle bus icon]
Broadway Junction [A][L]
Notes:
Late night Lefferts Shuttle replaced by [A] service between Utica Av and Ozone Park-Lefferts Blvd.
No [F] service between Delancey St-Essex St and Bergen St during this time.
[Q] makes [N][R] stops between Canal St and DeKalb Av in both directions during this time.

What's happening?
Fastrack maintenance</div><div class="line-alert"><p>In Manhattan and Brooklyn, no ‌[A] between <strong>Chambers St</strong>-<strong>World Trade Center</strong> and <strong>Utica Av</strong></p>[A] trains run in two sections:
1. Between Inwood-207 St and Canal St and via the [E] to/from World Trade Center, the last stop
2. Between Utica Av and Ozone Park-Lefferts Blvd/Far Rockaway-Mott Av, making local stops

[shuttle bus icon] Free shuttle buses run on two routes:
1. Local between Jay St-MetroTech and Utica Av, stopping at Hoyt-Schermerhorn Sts, Lafayette Av, Clinton-Washington Avs, Franklin Av, Nostrand Av and Kingston-Throop Avs
2. Loop between Jay St-MetroTech and York St, stopping at High St

For service between Manhattan and Brooklyn, take the [N] or [Q] via transfer at 42 St-Port Authority Bus Terminal/Times Sq-42 St or World Trade Center/Cortlandt St. Or, consider the [L], which connects with the [A] at Broadway Junction.

Travel alternatives:
For Chambers St and Fulton St, use the nearby World Trade Center [E] station.
For High St, use nearby Jay St-MetroTech [N][Q][R] and transfer to/from free [shuttle bus icon] shuttle buses.
For Jay St-MetroTech, take [N][Q][R] instead.
For stations between Jay St-MetroTech and Utica Av, take a [shuttle bus icon] bus.

Transfer stations:
42 St-Port Authority Bus Terminal/ Times Sq-42 St [A][N][Q]
14 St [A][L]
World Trade Center/Cortlandt St [accessibility icon] | [A][N][Q]
Jay St-MetroTech [accessibility icon] | [N][Q][R] and [shuttle bus icon]
Utica Av [accessibility icon] | [A] and [shuttle bus icon]
Broadway Junction [A][L]
Notes:
Late night Lefferts Shuttle replaced by [A] service between Utica Av and Ozone Park-Lefferts Blvd.
No [F] service between Delancey St-Essex St and Bergen St during this time.
[Q] makes [N][R] stops between Canal St and DeKalb Av in both directions during this time.

What's happening?
Fastrack maintenance</div><div class="line-alert"><p>In Manhattan and Brooklyn, no ‌[A] between <strong>Chambers St</strong>-<strong>World Trade Center</strong> and <strong>Utica Av</strong></p>[A] trains run in two sections:
1. Between Inwood-207 St and Canal St and via the [E] to/from World Trade Center, the last stop
2. Between Utica Av and Ozone Park-Lefferts Blvd/Far Rockaway-Mott Av, making local stops

[shuttle bus icon] Free shuttle buses run on two routes:
1. Local between Jay St-MetroTech and Utica Av, stopping at Hoyt-Schermerhorn Sts, Lafayette Av, Clinton-Washington Avs, Franklin Av, Nostrand Av and Kingston-Throop Avs
2. Loop between Jay St-MetroTech and York St, stopping at High St

For service between Manhattan and Brooklyn, take the [N] or [Q] via transfer at 42 St-Port Authority Bus Terminal/Times Sq-42 St or World Trade Center/Cortlandt St. Or, consider the [L], which connects with the [A] at Broadway Junction.

Travel alternatives:
For Chambers St and Fulton St, use the nearby World Trade Center [E] station.
For High St, use nearby Jay St-MetroTech [N][Q][R] and transfer to/from free [shuttle bus icon] shuttle buses.
For Jay St-MetroTech, take [N][Q][R] instead.
For stations between Jay St-MetroTech and Utica Av, take a [shuttle bus icon] bus.

Transfer stations:
42 St-Port Authority Bus Terminal/ Times Sq-42 St [A][N][Q]
14 St [A][L]
World Trade Center/Cortlandt St [accessibility icon] | [A][N][Q]
Jay St-MetroTech [accessibility icon] | [N][Q][R] and [shuttle bus icon]
Utica Av [accessibility icon] | [A] and [shuttle bus icon]
Broadway Junction [A][L]
Notes:
Late night Lefferts Shuttle replaced by [A] service between Utica Av and Ozone Park-Lefferts Blvd.
No [F] service between Delancey St-Essex St and Bergen St during this time.
[Q] makes [N][R] stops between Canal St and DeKalb Av in both directions during this time.

What's happening?
Fastrack maintenance</div><div class="line-alert"><p>In Manhattan and Brooklyn, no ‌[A] between <strong>Chambers St</strong>-<strong>World Trade Center</strong> and <strong>Utica Av</strong></p>[A] trains run in two sections:
1. Between Inwood-207 St and Canal St and via the [E] to/from World Trade Center, the last stop
2. Between Utica Av and Ozone Park-Lefferts Blvd/Far Rockaway-Mott Av, making local stops

[shuttle bus icon] Free shuttle buses run on two routes:
1. Local between Jay St-MetroTech and Utica Av, stopping at Hoyt-Schermerhorn Sts, Lafayette Av, Clinton-Washington Avs, Franklin Av, Nostrand Av and Kingston-Throop Avs
2. Loop between Jay St-MetroTech and York St, stopping at High St

For service between Manhattan and Brooklyn, take the [N] or [Q] via transfer at 42 St-Port Authority Bus Terminal/Times Sq-42 St or World Trade Center/Cortlandt St. Or, consider the [L], which connects with the [A] at Broadway Junction.

Travel alternatives:
For Chambers St and Fulton St, use the nearby World Trade Center [E] station.
For High St, use nearby Jay St-MetroTech [N][Q][R] and transfer to/from free [shuttle bus icon] shuttle buses.
For Jay St-MetroTech, take [N][Q][R] instead.
For stations between Jay St-MetroTech and Utica Av, take a [shuttle bus icon] bus.

Transfer stations:
42 St-Port Authority Bus Terminal/ Times Sq-42 St [A][N][Q]
14 St [A][L]
World Trade Center/Cortlandt St [accessibility icon] | [A][N][Q]
Jay St-MetroTech [accessibility icon] | [N][Q][R] and [shuttle bus icon]
Utica Av [accessibility icon] | [A] and [shuttle bus icon]
Broadway Junction [A][L]
Notes:
Late night Lefferts Shuttle replaced by [A] service between Utica Av and Ozone Park-Lefferts Blvd.
No [F] service between Delancey St-Essex St and Bergen St during this time.
[Q] makes [N][R] stops between Canal St and DeKalb Av in both directions during this time.

What's happening?
Fastrack maintenance</div><div class="line-alert"><p>In Manhattan and Brooklyn, no ‌[A] between <strong>Chambers St</strong>-<strong>World Trade Center</strong> and <strong>Utica Av</strong></p>[A] trains run in two sections:
1. Between Inwood-207 St and Canal St and via the [E] to/from World Trade Center, the last stop
2. Between Utica Av and Ozone Park-Lefferts Blvd/Far Rockaway-Mott Av, making local stops

[shuttle bus icon] Free shuttle buses run on two routes:
1. Local between Jay St-MetroTech and Utica Av, stopping at Hoyt-Schermerhorn Sts, Lafayette Av, Clinton-Washington Avs, Franklin Av, Nostrand Av and Kingston-Throop Avs
2. Loop between Jay St-MetroTech and York St, stopping at High St

For service between Manhattan and Brooklyn, take the [N] or [Q] via transfer at 42 St-Port Authority Bus Terminal/Times Sq-42 St or World Trade Center/Cortlandt St. Or, consider the [L], which connects with the [A] at Broadway Junction.

Travel alternatives:
For Chambers St and Fulton St, use the nearby World Trade Center [E] station.
For High St, use nearby Jay St-MetroTech [N][Q][R] and transfer to/from free [shuttle bus icon] shuttle buses.
For Jay St-MetroTech, take [N][Q][R] instead.
For stations between Jay St-MetroTech and Utica Av, take a [shuttle bus icon] bus.

Transfer stations:
42 St-Port Authority Bus Terminal/ Times Sq-42 St [A][N][Q]
14 St [A][L]
World Trade Center/Cortlandt St [accessibility icon] | [A][N][Q]
Jay St-MetroTech [accessibility icon] | [N][Q][R] and [shuttle bus icon]
Utica Av [accessibility icon] | [A] and [shuttle bus icon]
Broadway Junction [A][L]
Notes:
Late night Lefferts Shuttle replaced by [A] service between Utica Av and Ozone Park-Lefferts Blvd.
No [F] service between Delancey St-Essex St and Bergen St during this time.
[Q] makes [N][R] stops between Canal St and DeKalb Av in both directions during this time.

What's happening?
Fastrack maintenance</div><div class="line-alert"><p>In Manhattan and Brooklyn, no ‌[A] between <strong>Chambers St</strong>-<strong>World Trade Center</strong> and <strong>Utica Av</strong></p>[A] trains run in two sections:
1. Between Inwood-207 St and Canal St and via the [E] to/from World Trade Center, the last stop
2. Between Utica Av and Ozone Park-Lefferts Blvd/Far Rockaway-Mott Av, making local stops

[shuttle bus icon] Free shuttle buses run on two routes:
1. Local between Jay St-MetroTech and Utica Av, stopping at Hoyt-Schermerhorn Sts, Lafayette Av, Clinton-Washington Avs, Franklin Av, Nostrand Av and Kingston-Throop Avs
2. Loop between Jay St-MetroTech and York St, stopping at High St

For service between Manhattan and Brooklyn, take the [N] or [Q] via transfer at 42 St-Port Authority Bus Terminal/Times Sq-42 St or World Trade Center/Cortlandt St. Or, consider the [L], which connects with the [A] at Broadway Junction.

Travel alternatives:
For Chambers St and Fulton St, use the nearby World Trade Center [E] station.
For High St, use nearby Jay St-MetroTech [N][Q][R] and transfer to/from free [shuttle bus icon] shuttle buses.
For Jay St-MetroTech, take [N][Q][R] instead.
For stations between Jay St-MetroTech and Utica Av, take a [shuttle bus icon] bus.

Transfer stations:
42 St-Port Authority Bus Terminal/ Times Sq-42 St [A][N][Q]
14 St [A][L]
World Trade Center/Cortlandt St [accessibility icon] | [A][N][Q]
Jay St-MetroTech [accessibility icon] | [N][Q][R] and [shuttle bus icon]
Utica Av [accessibility icon] | [A] and [shuttle bus icon]
Broadway Junction [A][L]
Notes:
Late night Lefferts Shuttle replaced by [A] service between Utica Av and Ozone Park-Lefferts Blvd.
No [F] service between Delancey St-Essex St and Bergen St during this time.
[Q] makes [N][R] stops between Canal St and DeKalb Av in both directions during this time.

What's happening?
Fastrack maintenance</div><div class="line-alert"><p>In Manhattan and Brooklyn, no ‌[A] between <strong>Chambers St</strong>-<strong>World Trade Center</strong> and <strong>Utica Av</strong></p>[A] trains run in two sections:
1. Between Inwood-207 St and Canal St and via the [E] to/from World Trade Center, the last stop
2. Between Utica Av and Ozone Park-Lefferts Blvd/Far Rockaway-Mott Av, making local stops

[shuttle bus icon] Free shuttle buses run on two routes:
1. Local between Jay St-MetroTech and Utica Av, stopping at Hoyt-Schermerhorn Sts, Lafayette Av, Clinton-Washington Avs, Franklin Av, Nostrand Av and Kingston-Throop Avs
2. Loop between Jay St-MetroTech and York St, stopping at High St

For service between Manhattan and Brooklyn, take the [N] or [Q] via transfer at 42 St-Port Authority Bus Terminal/Times Sq-42 St or World Trade Center/Cortlandt St. Or, consider the [L], which connects with the [A] at Broadway Junction.

Travel alternatives:
For Chambers St and Fulton St, use the nearby World Trade Center [E] station.
For High St, use nearby Jay St-MetroTech [N][Q][R] and transfer to/from free [shuttle bus icon] shuttle buses.
For Jay St-MetroTech, take [N][Q][R] instead.
For stations between Jay St-MetroTech and Utica Av, take a [shuttle bus icon] bus.

Transfer stations:
42 St-Port Authority Bus Terminal/ Times Sq-42 St [A][N][Q]
14 St [A][L]
World Trade Center/Cortlandt St [accessibility icon] | [A][N][Q]
Jay St-MetroTech [accessibility icon] | [N][Q][R] and [shuttle bus icon]
Utica Av [accessibility icon] | [A] and [shuttle bus icon]
Broadway Junction [A][L]
Notes:
Late night Lefferts Shuttle replaced by [A] service between Utica Av and Ozone Park-Lefferts Blvd.
No [F] service between Delancey St-Essex St and Bergen St during this time.
[Q] makes [N][R] stops between Canal St and DeKalb Av in both directions during this time.

What's happening?
Fastrack maintenance</div></div>