<ul class="stops">
    <li class="stop">145 St <span></span></li>
    <li class="stop">135 St <span></span></li>
    <li class="stop">125 St <span></span></li>
    <li class="stop">116 St <span></span></li>
    <li class="stop">Cathedral Pkwy (110 St) <span></span></li>
    <li class="stop">103 St <span></span></li>
    <li class="stop">96 St <span></span></li>
    <li class="stop">86 St <span></span></li>
    <li class="stop">81 St-Museum of Natural History <span></span></li>
    <li class="stop">72 St <span></span></li>
    <li class="stop">59 St-Columbus Circle <span></span></li>
    <li class="stop">7 Av <span></span></li>
    <li class="stop">47-50 Sts-Rockefeller Ctr <span></span></li>
    <li class="stop">42 St-Bryant Pk <span></span></li>
    <li class="stop">34 St-Herald Sq <span></span></li>
    <li class="stop">W 4 St-Wash Sq <span></span></li>
    <li class="stop">Broadway-Lafayette St <span></span></li>
    <li class="stop">Grand St <span></span></li>
    <li class="stop">DeKalb Av <span></span></li>
    <li class="stop">Atlantic Av-Barclays Ctr <span></span></li>
    <li class="stop">7 Av <span></span></li>
    <li class="stop">Prospect Park <span></span></li>
    <li class="stop">Church Av <span></span></li>
    <li class="stop">Newkirk Plaza <span></span></li>
    <li class="stop">Kings Hwy <span></span></li>
    <li class="stop">Sheepshead Bay <span></span></li>
    <li class="stop">Brighton Beach <span></span></li>
    <li class="stop">Grand St <span></span></li>
    <li class="stop">DeKalb Av <span></span></li>
    <li class="stop">Atlantic Av-Barclays Ctr <span></span></li>
    <li class="stop">7 Av <span></span></li>
    <li class="stop">Prospect Park <span></span></li>
    <li class="stop">Church Av <span></span></li>
    <li class="stop">Newkirk Plaza <span></span></li>
    <li class="stop">Kings Hwy <span></span></li>
    <li class="stop">Sheepshead Bay <span></span></li>
    <li class="stop">Brighton Beach <span></span></li></ul>