<h2 class="lead">4 planned issues on line</h2><div class="line-alerts"><div class="line-alert"><p>Some stairways at [A][C][E], [B][D][F][M] and [L] stations on 6 Av will be exit or entrance-only and subject to temporary closures to prevent platform crowding</p>Affected stations:
14 St/6 Av [L][F][M]
W 4 St-Wash Sq accessibility icon | [A][C][E][B][D][F][M]
Spring St [C][E]

Expect crowding at these stations. Please follow the directions of NYPD and MTA personnel.

Consider using other nearby [1][2][3] [R][W] stations or [A][C][E] stations at 14 St (8 Av) or Canal St.

What's happening?
NYC's 50th Annual Village Halloween Parade</div><div class="line-alert"><p>In Brooklyn, Brighton Beach-bound [B] runs local from <b>Prospect Park</b> to <b>Kings Hwy</b></p>What's happening?
We're replacing tracks</div><div class="line-alert"><p>In Brooklyn, Manhattan-bound [B] runs local from <b>Sheepshead Bay</b> to <b>Prospect Park</b></p>What's happening?
We're replacing tracks</div><div class="line-alert"><p>No [B] trains running - take the [A][C][D][Q] instead</p><p></p>[B] service operates weekdays during rush hours, middays and evenings.

Plan your trip at new.mta.info

Try our new app (beta) and provide feedback. Sign up to become an MTA beta tester.</div></div>