<h2 class="lead text-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16"><path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/></svg>1 alerts on line</h2><div class="line-alerts"><div class="line-alert"><p>[B] train service is suspended in both directions.</p>What's Happening?
We are conducting urgent track maintenance near Atlantic Av-Barclays Ctr.

Travel Alternatives:
For service between the Bronx and Manhattan, use the [D] train.
For service in Manhattan, use [A][C][D] trains.
For service between Atlantic Av-Barclays Ctr and Church Av, consider nearby [2][5] trains.
For service between Church Av and Coney Island-Stillwell Av, consider nearby B68 buses.

LIRR is cross-honoring MetroCard holders and OMNY users at no additional cost between Atlantic Terminal and Jamaica.

Note:
In Brooklyn, southbound [Q] trains are rerouted via [N] line from DeKalb Av to Coney Island-Stillwell Av.</div></div>