<h2 class="lead text-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16"><path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/></svg>14 alerts on line</h2><div class="line-alerts"><div class="line-alert"><p>[C] is suspended - take the [A] and free shuttle buses</p><p>No [A] trains between <b>Jay St-MetroTech</b> and <b>Utica Av</b></p>[A] service operates in two sections, making local stops:
1. Between Inwood-207 St and Jay St-MetroTech
2. Between Utica Av and Ozone Park/Far Rockaway

shuttle bus icon Free shuttle buses run along two routes:
1. Local between Jay St-MetroTech and Utica Av, making all stops
2. Express between Jay St-MetroTech and Utica Av, stopping at Hoyt-Schermerhorn Sts and Nostrand Av

Travel Alternatives:
For stations between Jay St-MetroTech and Utica Av, take a shuttle bus icon bus.
Transfer between [A] trains and shuttle bus icon buses at Jay St-MetroTech accessibility icon and/or Utica Av accessibility icon.
For service between Manhattan and Brooklyn, consider the [J][L] , which connects with the [A] at Broadway Junction.
Transfer between [J] and Brooklyn-bound [A] at Fulton St.
Transfer between [J] and uptown [A] at Delancey St-Essex St.
Transfer between [L] and [A] at 14 St/8 Av.
Reminder: [C] trains do not run overnight.

Note: Late night Lefferts Shuttle is replaced by [A] service between Utica Av and Ozone Park-Lefferts Blvd.

What's happening?
We're modernizing signals</div><div class="line-alert"><p>[C] is suspended - take the [A] and free shuttle buses</p><p>No [A] trains between <b>Jay St-MetroTech</b> and <b>Utica Av</b></p>[A] service operates in two sections, making local stops:
1. Between Inwood-207 St and Jay St-MetroTech
2. Between Utica Av and Ozone Park/Far Rockaway

shuttle bus icon Free shuttle buses run along two routes:
1. Local between Jay St-MetroTech and Utica Av, making all stops
2. Express between Jay St-MetroTech and Utica Av, stopping at Hoyt-Schermerhorn Sts and Nostrand Av

Travel Alternatives:
For stations between Jay St-MetroTech and Utica Av, take a shuttle bus icon bus.
Transfer between [A] trains and shuttle bus icon buses at Jay St-MetroTech accessibility icon and/or Utica Av accessibility icon.
For service between Manhattan and Brooklyn, consider the [J][L] , which connects with the [A] at Broadway Junction.
Transfer between [J] and Brooklyn-bound [A] at Fulton St.
Transfer between [J] and uptown [A] at Delancey St-Essex St.
Transfer between [L] and [A] at 14 St/8 Av.
Reminder: [C] trains do not run overnight.

Note: Late night Lefferts Shuttle is replaced by [A] service between Utica Av and Ozone Park-Lefferts Blvd.

What's happening?
We're modernizing signals</div><div class="line-alert"><p>[C] is suspended - take the [A] and free shuttle buses</p><p>No [A] trains between <b>Jay St-MetroTech</b> and <b>Utica Av</b></p>[A] service operates in two sections, making local stops:
1. Between Inwood-207 St and Jay St-MetroTech
2. Between Utica Av and Ozone Park/Far Rockaway

shuttle bus icon Free shuttle buses run along two routes:
1. Local between Jay St-MetroTech and Utica Av, making all stops
2. Express between Jay St-MetroTech and Utica Av, stopping at Hoyt-Schermerhorn Sts and Nostrand Av

Travel Alternatives:
For stations between Jay St-MetroTech and Utica Av, take a shuttle bus icon bus.
Transfer between [A] trains and shuttle bus icon buses at Jay St-MetroTech accessibility icon and/or Utica Av accessibility icon.
For service between Manhattan and Brooklyn, consider the [J][L] , which connects with the [A] at Broadway Junction.
Transfer between [J] and Brooklyn-bound [A] at Fulton St.
Transfer between [J] and uptown [A] at Delancey St-Essex St.
Transfer between [L] and [A] at 14 St/8 Av.
Reminder: [C] trains do not run overnight.

Note: Late night Lefferts Shuttle is replaced by [A] service between Utica Av and Ozone Park-Lefferts Blvd.

What's happening?
We're modernizing signals</div><div class="line-alert"><p>[C] is suspended - take the [A] and free shuttle buses</p><p>No [A] trains between <b>Jay St-MetroTech</b> and <b>Utica Av</b></p>[A] service operates in two sections, making local stops:
1. Between Inwood-207 St and Jay St-MetroTech
2. Between Utica Av and Ozone Park/Far Rockaway

shuttle bus icon Free shuttle buses run along two routes:
1. Local between Jay St-MetroTech and Utica Av, making all stops
2. Express between Jay St-MetroTech and Utica Av, stopping at Hoyt-Schermerhorn Sts and Nostrand Av

Travel Alternatives:
For stations between Jay St-MetroTech and Utica Av, take a shuttle bus icon bus.
Transfer between [A] trains and shuttle bus icon buses at Jay St-MetroTech accessibility icon and/or Utica Av accessibility icon.
For service between Manhattan and Brooklyn, consider the [J][L] , which connects with the [A] at Broadway Junction.
Transfer between [J] and Brooklyn-bound [A] at Fulton St.
Transfer between [J] and uptown [A] at Delancey St-Essex St.
Transfer between [L] and [A] at 14 St/8 Av.
Reminder: [C] trains do not run overnight.

Note: Late night Lefferts Shuttle is replaced by [A] service between Utica Av and Ozone Park-Lefferts Blvd.

What's happening?
We're modernizing signals</div><div class="line-alert"><p>[C] is suspended - take the [A] and free shuttle buses</p><p>No [A] trains between <b>Jay St-MetroTech</b> and <b>Utica Av</b></p>[A] service operates in two sections, making local stops:
1. Between Inwood-207 St and Jay St-MetroTech
2. Between Utica Av and Ozone Park/Far Rockaway

shuttle bus icon Free shuttle buses run along two routes:
1. Local between Jay St-MetroTech and Utica Av, making all stops
2. Express between Jay St-MetroTech and Utica Av, stopping at Hoyt-Schermerhorn Sts and Nostrand Av

Travel Alternatives:
For stations between Jay St-MetroTech and Utica Av, take a shuttle bus icon bus.
Transfer between [A] trains and shuttle bus icon buses at Jay St-MetroTech accessibility icon and/or Utica Av accessibility icon.
For service between Manhattan and Brooklyn, consider the [J][L] , which connects with the [A] at Broadway Junction.
Transfer between [J] and Brooklyn-bound [A] at Fulton St.
Transfer between [J] and uptown [A] at Delancey St-Essex St.
Transfer between [L] and [A] at 14 St/8 Av.
Reminder: [C] trains do not run overnight.

Note: Late night Lefferts Shuttle is replaced by [A] service between Utica Av and Ozone Park-Lefferts Blvd.

What's happening?
We're modernizing signals</div><div class="line-alert"><p>[C] is suspended - take the [A] and free shuttle buses</p><p>No [A] trains between <b>Jay St-MetroTech</b> and <b>Utica Av</b></p>[A] service operates in two sections, making local stops:
1. Between Inwood-207 St and Jay St-MetroTech
2. Between Utica Av and Ozone Park/Far Rockaway

shuttle bus icon Free shuttle buses run along two routes:
1. Local between Jay St-MetroTech and Utica Av, making all stops
2. Express between Jay St-MetroTech and Utica Av, stopping at Hoyt-Schermerhorn Sts and Nostrand Av

Travel Alternatives:
For stations between Jay St-MetroTech and Utica Av, take a shuttle bus icon bus.
Transfer between [A] trains and shuttle bus icon buses at Jay St-MetroTech accessibility icon and/or Utica Av accessibility icon.
For service between Manhattan and Brooklyn, consider the [J][L] , which connects with the [A] at Broadway Junction.
Transfer between [J] and Brooklyn-bound [A] at Fulton St.
Transfer between [J] and uptown [A] at Delancey St-Essex St.
Transfer between [L] and [A] at 14 St/8 Av.
Reminder: [C] trains do not run overnight.

Note: Late night Lefferts Shuttle is replaced by [A] service between Utica Av and Ozone Park-Lefferts Blvd.

What's happening?
We're modernizing signals</div><div class="line-alert"><p>[C] is suspended - take the [A] and free shuttle buses</p><p>No [A] trains between <b>Jay St-MetroTech</b> and <b>Utica Av</b></p>[A] service operates in two sections, making local stops:
1. Between Inwood-207 St and Jay St-MetroTech
2. Between Utica Av and Ozone Park/Far Rockaway

shuttle bus icon Free shuttle buses run along two routes:
1. Local between Jay St-MetroTech and Utica Av, making all stops
2. Express between Jay St-MetroTech and Utica Av, stopping at Hoyt-Schermerhorn Sts and Nostrand Av

Travel Alternatives:
For stations between Jay St-MetroTech and Utica Av, take a shuttle bus icon bus.
Transfer between [A] trains and shuttle bus icon buses at Jay St-MetroTech accessibility icon and/or Utica Av accessibility icon.
For service between Manhattan and Brooklyn, consider the [J][L] , which connects with the [A] at Broadway Junction.
Transfer between [J] and Brooklyn-bound [A] at Fulton St.
Transfer between [J] and uptown [A] at Delancey St-Essex St.
Transfer between [L] and [A] at 14 St/8 Av.
Reminder: [C] trains do not run overnight.

Note: Late night Lefferts Shuttle is replaced by [A] service between Utica Av and Ozone Park-Lefferts Blvd.

What's happening?
We're modernizing signals</div><div class="line-alert"><p>[C] is suspended - take the [A] and free shuttle buses</p><p>No [A] trains between <b>Jay St-MetroTech</b> and <b>Utica Av</b></p>[A] service operates in two sections, making local stops:
1. Between Inwood-207 St and Jay St-MetroTech
2. Between Utica Av and Ozone Park/Far Rockaway

shuttle bus icon Free shuttle buses run along two routes:
1. Local between Jay St-MetroTech and Utica Av, making all stops
2. Express between Jay St-MetroTech and Utica Av, stopping at Hoyt-Schermerhorn Sts and Nostrand Av

Travel Alternatives:
For stations between Jay St-MetroTech and Utica Av, take a shuttle bus icon bus.
Transfer between [A] trains and shuttle bus icon buses at Jay St-MetroTech accessibility icon and/or Utica Av accessibility icon.
For service between Manhattan and Brooklyn, consider the [J][L] , which connects with the [A] at Broadway Junction.
Transfer between [J] and Brooklyn-bound [A] at Fulton St.
Transfer between [J] and uptown [A] at Delancey St-Essex St.
Transfer between [L] and [A] at 14 St/8 Av.
Reminder: [C] trains do not run overnight.

Note: Late night Lefferts Shuttle is replaced by [A] service between Utica Av and Ozone Park-Lefferts Blvd.

What's happening?
We're modernizing signals</div><div class="line-alert"><p>[C] is suspended - take the [A] and free shuttle buses</p><p>No [A] trains between <b>Jay St-MetroTech</b> and <b>Utica Av</b></p>[A] service operates in two sections, making local stops:
1. Between Inwood-207 St and Jay St-MetroTech
2. Between Utica Av and Ozone Park/Far Rockaway

shuttle bus icon Free shuttle buses run along two routes:
1. Local between Jay St-MetroTech and Utica Av, making all stops
2. Express between Jay St-MetroTech and Utica Av, stopping at Hoyt-Schermerhorn Sts and Nostrand Av

Travel Alternatives:
For stations between Jay St-MetroTech and Utica Av, take a shuttle bus icon bus.
Transfer between [A] trains and shuttle bus icon buses at Jay St-MetroTech accessibility icon and/or Utica Av accessibility icon.
For service between Manhattan and Brooklyn, consider the [J][L] , which connects with the [A] at Broadway Junction.
Transfer between [J] and Brooklyn-bound [A] at Fulton St.
Transfer between [J] and uptown [A] at Delancey St-Essex St.
Transfer between [L] and [A] at 14 St/8 Av.
Reminder: [C] trains do not run overnight.

Note: Late night Lefferts Shuttle is replaced by [A] service between Utica Av and Ozone Park-Lefferts Blvd.

What's happening?
We're modernizing signals</div><div class="line-alert"><p>[C] is suspended - take the [A] and free shuttle buses</p><p>No [A] trains between <b>Jay St-MetroTech</b> and <b>Utica Av</b></p>[A] service operates in two sections, making local stops:
1. Between Inwood-207 St and Jay St-MetroTech
2. Between Utica Av and Ozone Park/Far Rockaway

shuttle bus icon Free shuttle buses run along two routes:
1. Local between Jay St-MetroTech and Utica Av, making all stops
2. Express between Jay St-MetroTech and Utica Av, stopping at Hoyt-Schermerhorn Sts and Nostrand Av

Travel Alternatives:
For stations between Jay St-MetroTech and Utica Av, take a shuttle bus icon bus.
Transfer between [A] trains and shuttle bus icon buses at Jay St-MetroTech accessibility icon and/or Utica Av accessibility icon.
For service between Manhattan and Brooklyn, consider the [J][L] , which connects with the [A] at Broadway Junction.
Transfer between [J] and Brooklyn-bound [A] at Fulton St.
Transfer between [J] and uptown [A] at Delancey St-Essex St.
Transfer between [L] and [A] at 14 St/8 Av.
Reminder: [C] trains do not run overnight.

Note: Late night Lefferts Shuttle is replaced by [A] service between Utica Av and Ozone Park-Lefferts Blvd.

What's happening?
We're modernizing signals</div><div class="line-alert"><p>[C] is suspended - take the [A] and free shuttle buses</p><p>No [A] trains between <b>Jay St-MetroTech</b> and <b>Utica Av</b></p>[A] service operates in two sections, making local stops:
1. Between Inwood-207 St and Jay St-MetroTech
2. Between Utica Av and Ozone Park/Far Rockaway

shuttle bus icon Free shuttle buses run along two routes:
1. Local between Jay St-MetroTech and Utica Av, making all stops
2. Express between Jay St-MetroTech and Utica Av, stopping at Hoyt-Schermerhorn Sts and Nostrand Av

Travel Alternatives:
For stations between Jay St-MetroTech and Utica Av, take a shuttle bus icon bus.
Transfer between [A] trains and shuttle bus icon buses at Jay St-MetroTech accessibility icon and/or Utica Av accessibility icon.
For service between Manhattan and Brooklyn, consider the [J][L] , which connects with the [A] at Broadway Junction.
Transfer between [J] and Brooklyn-bound [A] at Fulton St.
Transfer between [J] and uptown [A] at Delancey St-Essex St.
Transfer between [L] and [A] at 14 St/8 Av.
Reminder: [C] trains do not run overnight.

Note: Late night Lefferts Shuttle is replaced by [A] service between Utica Av and Ozone Park-Lefferts Blvd.

What's happening?
We're modernizing signals</div><div class="line-alert"><p>[C] is suspended - take the [A] and free shuttle buses</p><p>No [A] trains between <b>Jay St-MetroTech</b> and <b>Utica Av</b></p>[A] service operates in two sections, making local stops:
1. Between Inwood-207 St and Jay St-MetroTech
2. Between Utica Av and Ozone Park/Far Rockaway

shuttle bus icon Free shuttle buses run along two routes:
1. Local between Jay St-MetroTech and Utica Av, making all stops
2. Express between Jay St-MetroTech and Utica Av, stopping at Hoyt-Schermerhorn Sts and Nostrand Av

Travel Alternatives:
For stations between Jay St-MetroTech and Utica Av, take a shuttle bus icon bus.
Transfer between [A] trains and shuttle bus icon buses at Jay St-MetroTech accessibility icon and/or Utica Av accessibility icon.
For service between Manhattan and Brooklyn, consider the [J][L] , which connects with the [A] at Broadway Junction.
Transfer between [J] and Brooklyn-bound [A] at Fulton St.
Transfer between [J] and uptown [A] at Delancey St-Essex St.
Transfer between [L] and [A] at 14 St/8 Av.
Reminder: [C] trains do not run overnight.

Note: Late night Lefferts Shuttle is replaced by [A] service between Utica Av and Ozone Park-Lefferts Blvd.

What's happening?
We're modernizing signals</div><div class="line-alert"><p>[C] is suspended - take the [A] and free shuttle buses</p><p>No [A] trains between <b>Jay St-MetroTech</b> and <b>Utica Av</b></p>[A] service operates in two sections, making local stops:
1. Between Inwood-207 St and Jay St-MetroTech
2. Between Utica Av and Ozone Park/Far Rockaway

shuttle bus icon Free shuttle buses run along two routes:
1. Local between Jay St-MetroTech and Utica Av, making all stops
2. Express between Jay St-MetroTech and Utica Av, stopping at Hoyt-Schermerhorn Sts and Nostrand Av

Travel Alternatives:
For stations between Jay St-MetroTech and Utica Av, take a shuttle bus icon bus.
Transfer between [A] trains and shuttle bus icon buses at Jay St-MetroTech accessibility icon and/or Utica Av accessibility icon.
For service between Manhattan and Brooklyn, consider the [J][L] , which connects with the [A] at Broadway Junction.
Transfer between [J] and Brooklyn-bound [A] at Fulton St.
Transfer between [J] and uptown [A] at Delancey St-Essex St.
Transfer between [L] and [A] at 14 St/8 Av.
Reminder: [C] trains do not run overnight.

Note: Late night Lefferts Shuttle is replaced by [A] service between Utica Av and Ozone Park-Lefferts Blvd.

What's happening?
We're modernizing signals</div><div class="line-alert"><p>[C] is suspended - take the [A] and free shuttle buses</p><p>No [A] trains between <b>Jay St-MetroTech</b> and <b>Utica Av</b></p>[A] service operates in two sections, making local stops:
1. Between Inwood-207 St and Jay St-MetroTech
2. Between Utica Av and Ozone Park/Far Rockaway

shuttle bus icon Free shuttle buses run along two routes:
1. Local between Jay St-MetroTech and Utica Av, making all stops
2. Express between Jay St-MetroTech and Utica Av, stopping at Hoyt-Schermerhorn Sts and Nostrand Av

Travel Alternatives:
For stations between Jay St-MetroTech and Utica Av, take a shuttle bus icon bus.
Transfer between [A] trains and shuttle bus icon buses at Jay St-MetroTech accessibility icon and/or Utica Av accessibility icon.
For service between Manhattan and Brooklyn, consider the [J][L] , which connects with the [A] at Broadway Junction.
Transfer between [J] and Brooklyn-bound [A] at Fulton St.
Transfer between [J] and uptown [A] at Delancey St-Essex St.
Transfer between [L] and [A] at 14 St/8 Av.
Reminder: [C] trains do not run overnight.

Note: Late night Lefferts Shuttle is replaced by [A] service between Utica Av and Ozone Park-Lefferts Blvd.

What's happening?
We're modernizing signals</div></div>