<h2 class="lead text-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16"><path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/></svg>9 alerts on line</h2><div class="line-alerts"><div class="line-alert"><p>[A] trains are running local in both directions between <b>Hoyt-Schermerhorn Sts</b> and <b>Euclid Av</b>.</p>We are addressing a switch issue near Hoyt-Schermerhorn Sts.

You may wait longer for a [C] train as they share tracks with these rerouted trains.

At Nostrand Av, all trains will arrive on the lower level.</div><div class="line-alert"><p>In Manhattan, downtown [C] skips <b>116 St</b>, <strong>110 St</strong>, <b>103 St</b>, <b>96 St</b>, <b>86 St</b>, <strong>81 St</strong> and <b>72 St</b></p>For service to these stations, take the [C] to 59 St-Columbus Circle and transfer to an uptown [C].

For service from these stations, take the [C] to 125 St and transfer to a downtown [C].

What's happening?
We're replacing tracks</div><div class="line-alert"><p>In Manhattan and Brooklyn, Euclid Av-bound [C] runs via the [D] from <b>59 St-Columbus Circle</b> to <b>34 St-Herald Sq</b> and via the [F] to <b>Jay St-MetroTech</b></p>No Euclid Av-bound [C] trains at 50 St, 42 St-Port Authority, 34 St-Penn Station, 23 St, 14 St, Spring St, Canal St, Chambers St, Fulton St, and High St.

For service to/from these stations, take the [A] instead.

Transfer between trains at these stations:
59 St-Columbus Circle accessibility icon | [A][C]
W 4 St-Wash Sq accessibility icon | [A][C][E]
Jay St-MetroTech accessibility icon | [A][C]
What's happening?
Structural maintenance</div><div class="line-alert"><p>In Manhattan, downtown [C] skips <b>116 St</b>, <strong>110 St</strong>, <b>103 St</b>, <b>96 St</b>, <b>86 St</b>, <strong>81 St</strong> and <b>72 St</b></p>For service to these stations, take the [C] to 59 St-Columbus Circle and transfer to an uptown [C].

For service from these stations, take the [C] to 125 St and transfer to a downtown [C].

What's happening?
We're replacing tracks</div><div class="line-alert"><p>In Manhattan and Brooklyn, Euclid Av-bound [C] runs via the [D] from <b>59 St-Columbus Circle</b> to <b>34 St-Herald Sq</b> and via the [F] to <b>Jay St-MetroTech</b></p>No Euclid Av-bound [C] trains at 50 St, 42 St-Port Authority, 34 St-Penn Station, 23 St, 14 St, Spring St, Canal St, Chambers St, Fulton St, and High St.

For service to/from these stations, take the [A] instead.

Transfer between trains at these stations:
59 St-Columbus Circle accessibility icon | [A][C]
W 4 St-Wash Sq accessibility icon | [A][C][E]
Jay St-MetroTech accessibility icon | [A][C]
What's happening?
Structural maintenance</div><div class="line-alert"><p>In Manhattan, downtown [C] skips <b>116 St</b>, <strong>110 St</strong>, <b>103 St</b>, <b>96 St</b>, <b>86 St</b>, <strong>81 St</strong> and <b>72 St</b></p>For service to these stations, take the [C] to 59 St-Columbus Circle and transfer to an uptown [C].

For service from these stations, take the [C] to 125 St and transfer to a downtown [C].

What's happening?
We're replacing tracks</div><div class="line-alert"><p>In Manhattan and Brooklyn, Euclid Av-bound [C] runs via the [D] from <b>59 St-Columbus Circle</b> to <b>34 St-Herald Sq</b> and via the [F] to <b>Jay St-MetroTech</b></p>No Euclid Av-bound [C] trains at 50 St, 42 St-Port Authority, 34 St-Penn Station, 23 St, 14 St, Spring St, Canal St, Chambers St, Fulton St, and High St.

For service to/from these stations, take the [A] instead.

Transfer between trains at these stations:
59 St-Columbus Circle accessibility icon | [A][C]
W 4 St-Wash Sq accessibility icon | [A][C][E]
Jay St-MetroTech accessibility icon | [A][C]
What's happening?
Structural maintenance</div><div class="line-alert"><p>In Manhattan, downtown [C] skips <b>116 St</b>, <strong>110 St</strong>, <b>103 St</b>, <b>96 St</b>, <b>86 St</b>, <strong>81 St</strong> and <b>72 St</b></p>For service to these stations, take the [C] to 59 St-Columbus Circle and transfer to an uptown [C].

For service from these stations, take the [C] to 125 St and transfer to a downtown [C].

What's happening?
We're replacing tracks</div><div class="line-alert"><p>In Manhattan and Brooklyn, Euclid Av-bound [C] runs via the [D] from <b>59 St-Columbus Circle</b> to <b>34 St-Herald Sq</b> and via the [F] to <b>Jay St-MetroTech</b></p>No Euclid Av-bound [C] trains at 50 St, 42 St-Port Authority, 34 St-Penn Station, 23 St, 14 St, Spring St, Canal St, Chambers St, Fulton St, and High St.

For service to/from these stations, take the [A] instead.

Transfer between trains at these stations:
59 St-Columbus Circle accessibility icon | [A][C]
W 4 St-Wash Sq accessibility icon | [A][C][E]
Jay St-MetroTech accessibility icon | [A][C]
What's happening?
Structural maintenance</div></div>