<ul class="stops">
    <li class="stop">Norwood-205 St <span></span></li>
    <li class="stop">Bedford Park Blvd <span></span></li>
    <li class="stop">Kingsbridge Rd <span></span></li>
    <li class="stop">Fordham Rd <span></span></li>
    <li class="stop">182-183 Sts <span></span></li>
    <li class="stop">Tremont Av <span></span></li>
    <li class="stop">174-175 Sts <span></span></li>
    <li class="stop">170 St <span></span></li>
    <li class="stop">167 St <span></span></li>
    <li class="stop">161 St-Yankee Stadium <span></span></li>
    <li class="stop">155 St <span></span></li>
    <li class="stop">145 St <span></span></li>
    <li class="stop">125 St <span></span></li>
    <li class="stop">59 St-Columbus Circle <span></span></li>
    <li class="stop">7 Av <span></span></li>
    <li class="stop">47-50 Sts-Rockefeller Ctr <span></span></li>
    <li class="stop">42 St-Bryant Pk <span></span></li>
    <li class="stop">34 St-Herald Sq <span></span></li>
    <li class="stop">W 4 St-Wash Sq <span></span></li>
    <li class="stop">Broadway-Lafayette St <span></span></li>
    <li class="stop">Grand St <span></span></li>
    <li class="stop">DeKalb Av <span></span></li>
    <li class="stop">Atlantic Av-Barclays Ctr <span></span></li>
    <li class="stop">Union St <span></span></li>
    <li class="stop">4 Av-9 St <span></span></li>
    <li class="stop">Prospect Av <span></span></li>
    <li class="stop">25 St <span></span></li>
    <li class="stop">36 St <span></span></li>
    <li class="stop">9 Av <span></span></li>
    <li class="stop">Fort Hamilton Pkwy <span></span></li>
    <li class="stop">50 St <span></span></li>
    <li class="stop">55 St <span></span></li>
    <li class="stop">62 St <span></span></li>
    <li class="stop">71 St <span></span></li>
    <li class="stop">79 St <span></span></li>
    <li class="stop">18 Av <span></span></li>
    <li class="stop">20 Av <span></span></li>
    <li class="stop">Bay Pkwy <span></span></li>
    <li class="stop">25 Av <span></span></li>
    <li class="stop">Bay 50 St <span></span></li>
    <li class="stop">Coney Island-Stillwell Av <span></span></li></ul>