<h2 class="lead text-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16"><path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/></svg>1 alerts on line</h2><div class="line-alerts"><div class="line-alert"><p>In Manhattan, no ‌[D] service between ‌<b>W 4 St-Wash Sq</b> and <b>145 St</b></p>[D] service operates in two sections:
1. Between Coney Island-Stillwell Av and W 4 St-Wash Sq
2. Between 145 St and Norwood-205 St

shuttle bus icon Free shuttle buses provide service at [A][D] stations between 145 St and 96 St and connect with the [1][2][3] at 96 St accessibility icon (Broadway).

[4] and [E] service operates more frequently during days and evenings.

[S] 42 St Shuttle runs overnight.

42 St Passageway between Times Sq-42 St/Port Authority and 42 St-Bryant Pk remains open all night.
Travel Alternatives:
For travel between the Bronx and midtown, take the [4] instead. Transfer at 161 St-Yankee Stadium.
Connect with the [D] at Bleecker St/B'way-Lafayette St accessibility icon | [6], local [4][5] or [F].

For travel between Brooklyn and midtown, take the [2][3][N][Q][R] via transfer at Atlantic Av-Barclays Ctr.

For 34 St-Herald Sq, take the [A][F][N][Q][R].
For 42 St-Bryant Pk, take the [A][F] or [7] at 5 Av.
For 47-50 Sts-Rockefeller Ctr, take the [F] or use nearby 49 St [N][R] station.
For 7 Av, take the [E] or use nearby 50 St [1] station.
For 59 St-Columbus Circle, take the [1] or [2] local.
For 125 St, use nearby [1] or [2][3] stations or shuttle bus icon free shuttle buses.

When exiting at 145 St [A][D] or 96 St [1][2][3] stations, get a GO ticket for re-entry into the subway.

Additional Key Transfer Stations:
145 St [A][D] and shuttle bus icon
96 St accessibility icon | [1][2][3] and shuttle bus icon
Grand Central-42 St accessibility icon | [4][5][6][7][S]
42 St Connection - Port Authority/Times Sq/Bryant Park[1][2][3][7][A][E][F][R][S]
34 St-Herald Sq accessibility icon | [A][F][N][Q][R]
W 4 St-Wash Sq [A][E][D][F]
Metro-North will accommodate subway riders traveling between Manhattan and the Bronx for no additional cost at Grand Central, Harlem-125 St, Yankees-E 153 St, Melrose, Tremont, Fordham, Botanical Garden, Williams Bridge, Woodlawn and Wakefield. Check Metro-North service and schedules.

Note: No [A] service between W 4 St-Wash Sq and 125 St during this time. [A] is rerouted via the [F] between W 4 St-Wash Sq and 42 St-Bryant Pk.

What's happening?
59 St Switch Replacement

accessibility icon This service change affects one or more ADA accessible stations and these travel alternatives may not be fully accessible. Please contact 511 to plan your trip.</div></div>