<h2 class="lead text-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16"><path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/></svg>6 alerts on line</h2><div class="line-alerts"><div class="line-alert"><p>Southbound [D] trains are running on the express track from <b>145 St</b> to <b>125 St</b> while we address a switch problem near <b>145 St</b>.</p>For service from 135 St, take a southbound [A] train.
For service to 135 St, take a northbound [A][D] train.

Planned Work Reminder:
This weekend, [D] trains make local stops between 145 St and 59 St-Columbus Circle while we replace tracks.</div><div class="line-alert"><p>Arrival information is being restored for lettered subway trains and [FS][H].</p><p></p><p>Some arrival times may be inaccurate as our system recovers from a tech problem.</p></div><div class="line-alert"><p>Transfers between the ‌[4] and [B][D] at <b>161 St-Yankee Stadium</b> will be made out-of-station via the street using OMNY or MetroCard</p>Exit and re-enter the station and turnstiles for free with OMNY or MetroCard.

What's happening?
We're replacing the stairs and escalators between the [4] and [B][D] mezzanines</div><div class="line-alert"><p>In Brooklyn, Manhattan-bound [D] skips <b>Bay 50 St</b> and <b>25 Av</b></p>For service to these stations, take the [D] to Bay Pkwy and transfer to a Coney Island-bound [D].

For service from these stations, take the [D] to Coney Island-Stillwell Av and transfer to a Manhattan-bound [D].

What's happening?
We're replacing tracks</div><div class="line-alert"><p>In Manhattan, [D] runs local in both directions between <b>59 St-Columbus Circle</b> and <b>145 St</b></p>What's happening?
We're replacing tracks</div><div class="line-alert"><p>In the Bronx, Manhattan-bound [D] skips <b>182-183 Sts</b></p>For service to this station, take the [D] to Tremont Av and transfer to a Norwood-bound [D].

For service from this station, take the [D] to Fordham Rd and transfer to a Manhattan-bound [D].

What's happening?
Structural maintenance</div></div>