<ul class="stops">
    <li class="stop">Jamaica Center-Parsons/Archer <span></span></li>
    <li class="stop">Sutphin Blvd-Archer Av-JFK Airport <span></span></li>
    <li class="stop">Jamaica-Van Wyck <span></span></li>
    <li class="stop">Briarwood <span></span></li>
    <li class="stop">Kew Gardens-Union Tpke <span></span></li>
    <li class="stop">75 Av <span></span></li>
    <li class="stop">Forest Hills-71 Av <span></span></li>
    <li class="stop">67 Av <span></span></li>
    <li class="stop">63 Dr-Rego Park <span></span></li>
    <li class="stop">Woodhaven Blvd <span></span></li>
    <li class="stop">Grand Av-Newtown <span></span></li>
    <li class="stop">Elmhurst Av <span></span></li>
    <li class="stop">Jackson Hts-Roosevelt Av <span></span></li>
    <li class="stop">65 St <span></span></li>
    <li class="stop">Northern Blvd <span></span></li>
    <li class="stop">46 St <span></span></li>
    <li class="stop">Steinway St <span></span></li>
    <li class="stop">36 St <span></span></li>
    <li class="stop">Queens Plaza <span></span></li>
    <li class="stop">Court Sq-23 St <span></span></li>
    <li class="stop">Lexington Av/53 St <span></span></li>
    <li class="stop">5 Av/53 St <span></span></li>
    <li class="stop">7 Av <span></span></li>
    <li class="stop">50 St <span></span></li>
    <li class="stop">42 St-Port Authority Bus Terminal <span></span></li>
    <li class="stop">34 St-Penn Station <span></span></li>
    <li class="stop">23 St <span></span></li>
    <li class="stop">14 St <span></span></li>
    <li class="stop">W 4 St-Wash Sq <span></span></li>
    <li class="stop">Spring St <span></span></li>
    <li class="stop">Canal St <span></span></li>
    <li class="stop">World Trade Center <span></span></li></ul>