<h2 class="lead text-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16"><path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/></svg>3 alerts on line</h2><div class="line-alerts"><div class="line-alert"><p>In-station transfers between the [L] at <b>6 Av</b> and uptown [F][M] at <b>14 St</b> will be by way of the mezzanine using your MetroCard or OMNY</p>Use your MetroCard or OMNY to exit and re-enter the turnstiles via the mezzanine.

What's happening?
We're replacing the stairway from the [L] platform to the uptown [F][M] platform</div><div class="line-alert"><p>In Queens, Manhattan-bound [E][F] local skip <b>65 St</b>, <b>Northern Blvd</b>, <b>46 St</b>, <b>Steinway St</b> and <b>36 St</b></p>shuttle bus icon Free shuttle buses run between Roosevelt Av and Northern Blvd, stopping at 65 St.

Travel alternatives:
For service to 46 St, Steinway St and 36 St, take the [E] * or [F] to 21 St-Queensbridge and transfer to a Jamaica-bound local train.

For service to 65 St, take a shuttle bus.

For service from 65 St, 46 St, Steinway St and 36 St, take a Jamaica-bound train to Roosevelt Av and transfer to a Manhattan-bound [E] or [F].

Trains skip Northern Blvd in both directions; take a shuttle bus instead.
Transfer between shuttle bus icon buses and [E][F] at Roosevelt Av.

*Manhattan-bound [E] runs via the  [F] after Roosevelt Av.

Reminder: The Jamaica-bound platform at Northern Blvd is temporarily closed.

What's happening?
Track maintenance</div><div class="line-alert"><p>In Brooklyn, Manhattan-bound [F] skips <b>Fort Hamilton Pkwy</b>, <b>15 St-Prospect Park</b>, <b>4 Av-9 St</b>, <b>Smith-9 Sts</b>, <b>Carroll St</b> and <b>Bergen St</b></p>For service to these stations, take the [F] to 7 Av or Jay St-MetroTech and transfer to a Coney Island-bound [F].

For service from these stations, take the [F] to 7 Av or Church Av and transfer to a Manhattan-bound [F].

Note: No [G] service at these stations during this time.

What's happening?
We're modernizing signals</div></div>