<h2 class="lead text-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16"><path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/></svg>6 alerts on line</h2><div class="line-alerts"><div class="line-alert"><p>[F] service changes at <b>21 St-Queensbridge</b>, <b>Roosevelt Island</b>, <b>Lexington Av/63 St</b> and <b>57 St</b></p>[F] trains run via the [E] in both directions between Jackson Hts-Roosevelt Av and 5 Av/53 St, resuming service at 47-50 Sts.

Everyday 5 AM to 11:59 PM:
Special [F] shuttle runs every 20 minutes between 21 St-Queensbridge and Lexington Av/63 St, stopping at Roosevelt Island.
shuttle bus icon Free Q95 shuttle buses run between 21 St-Queensbridge and Queens Plaza, stopping at Queensboro Plaza [7][N][W].

Overnight 11:30 PM to 5:30 AM:
shuttle bus icon Free Q94 shuttle buses run between Roosevelt Island and Queens Plaza, stopping at 21 St-Queensbridge and Queensboro Plaza [7][N].

Plan your trip at new.mta.info or visit our travel alternatives webpage for maps, schedules and more.

What's happening?
We're replacing tracks and making other repairs on the 63 St Line.</div><div class="line-alert"><p>In Queens, the Manhattan-bound platform at the <b>46 St</b> [R] station is temporarily closed</p>Manhattan-bound local [E] [F] skips 46 St.

Consider using the nearby Northern Blvd or Steinway St  stations.

Travel alternatives:
For service to this station, take the [E][F] to Steinway St and transfer to a Jamaica-bound [E][F] .

For service from this station, take a Jamaica-bound [E][F] to 65 St and transfer to a Manhattan-bound [E] or [F].

Reminder: [R] does not operate in Queens overnight

What's happening?
We're making station improvements</div><div class="line-alert"><p>[F] service changes at <b>21 St-Queensbridge</b>, <b>Roosevelt Island</b>, <b>Lexington Av/63 St</b> and <b>57 St</b></p>[F] trains run via the [E] in both directions between Jackson Hts-Roosevelt Av and 5 Av/53 St, resuming service at 47-50 Sts.

Everyday 5 AM to 11:59 PM:
Special [F] shuttle runs every 20 minutes between 21 St-Queensbridge and Lexington Av/63 St, stopping at Roosevelt Island.
shuttle bus icon Free Q95 shuttle buses run between 21 St-Queensbridge and Queens Plaza, stopping at Queensboro Plaza [7][N][W].

Overnight 11:30 PM to 5:30 AM:
shuttle bus icon Free Q94 shuttle buses run between Roosevelt Island and Queens Plaza, stopping at 21 St-Queensbridge and Queensboro Plaza [7][N].

Plan your trip at new.mta.info or visit our travel alternatives webpage for maps, schedules and more.

What's happening?
We're replacing tracks and making other repairs on the 63 St Line.</div><div class="line-alert"><p>In Queens, the Manhattan-bound platform at the <b>46 St</b> [R] station is temporarily closed</p>Manhattan-bound local [E] [F] skips 46 St.

Consider using the nearby Northern Blvd or Steinway St  stations.

Travel alternatives:
For service to this station, take the [E][F] to Steinway St and transfer to a Jamaica-bound [E][F] .

For service from this station, take a Jamaica-bound [E][F] to 65 St and transfer to a Manhattan-bound [E] or [F].

Reminder: [R] does not operate in Queens overnight

What's happening?
We're making station improvements</div><div class="line-alert"><p>[F] service changes at <b>21 St-Queensbridge</b>, <b>Roosevelt Island</b>, <b>Lexington Av/63 St</b> and <b>57 St</b></p>[F] trains run via the [E] in both directions between Jackson Hts-Roosevelt Av and 5 Av/53 St, resuming service at 47-50 Sts.

Everyday 5 AM to 11:59 PM:
Special [F] shuttle runs every 20 minutes between 21 St-Queensbridge and Lexington Av/63 St, stopping at Roosevelt Island.
shuttle bus icon Free Q95 shuttle buses run between 21 St-Queensbridge and Queens Plaza, stopping at Queensboro Plaza [7][N][W].

Overnight 11:30 PM to 5:30 AM:
shuttle bus icon Free Q94 shuttle buses run between Roosevelt Island and Queens Plaza, stopping at 21 St-Queensbridge and Queensboro Plaza [7][N].

Plan your trip at new.mta.info or visit our travel alternatives webpage for maps, schedules and more.

What's happening?
We're replacing tracks and making other repairs on the 63 St Line.</div><div class="line-alert"><p>In Queens, the Manhattan-bound platform at the <b>46 St</b> [R] station is temporarily closed</p>Manhattan-bound local [E] [F] skips 46 St.

Consider using the nearby Northern Blvd or Steinway St  stations.

Travel alternatives:
For service to this station, take the [E][F] to Steinway St and transfer to a Jamaica-bound [E][F] .

For service from this station, take a Jamaica-bound [E][F] to 65 St and transfer to a Manhattan-bound [E] or [F].

Reminder: [R] does not operate in Queens overnight

What's happening?
We're making station improvements</div></div>