<h2 class="lead text-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16"><path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/></svg>8 alerts on line</h2><div class="line-alerts"><div class="line-alert"><p>Northbound [F] trains are running on the [G] line from <b>Bergen St</b> to <b>Court Sq</b> while we investigate why a train's brakes activated near <b>Bergen St</b>.</p>If your stop is skipped, take a southbound [F] train.

For service in Manhattan, consider taking a [D] train instead.
For service from Manhattan to Queens, consider taking a [D] train to 7 Av to transfer to a northbound [E] train.

You may wait longer for a Court Sq-bound [G] train while rerouted trains share the track.</div><div class="line-alert"><p>[F] service changes at <b>21 St-Queensbridge</b>, <b>Roosevelt Island</b>, <b>Lexington Av/63 St</b> and <b>57 St</b></p>[F] trains run via the [E] in both directions between Jackson Hts-Roosevelt Av and 5 Av/53 St, resuming service at 47-50 Sts.

Everyday 5 AM to 11:59 PM:
Special [F] shuttle runs every 20 minutes between 21 St-Queensbridge and Lexington Av/63 St, stopping at Roosevelt Island.
shuttle bus icon Free Q95 shuttle buses run between 21 St-Queensbridge and Queens Plaza, stopping at Queensboro Plaza [7][N][W].

Overnight 11:30 PM to 5:30 AM:
shuttle bus icon Free Q94 shuttle buses run between Roosevelt Island and Queens Plaza, stopping at 21 St-Queensbridge and Queensboro Plaza [7][N].

Plan your trip at new.mta.info or visit our travel alternatives webpage for maps, schedules and more.

What's happening?
We're replacing tracks and making other repairs on the 63 St Line.</div><div class="line-alert"><p>In Brooklyn, no [F] between <b>Kings Hwy</b> and <b>Coney Island-Stillwell Av</b></p>[F] trains run between Jamaica-179 St and Kings Hwy, the last stop.

shuttle bus icon Free shuttle buses run between Kings Hwy and Coney Island-Stillwell Av.
Transfer between trains and shuttle bus icon buses at Kings Hwy.
For direct service between Coney Island-Stillwell Av and Manhattan/Downtown Brooklyn, take the [D] or [N] instead.

Transfer at 34 St-Herald Sq accessibility icon | [D][F][N] or Broadway-Lafayette St accessibility icon | [D][F]
What's happening?
We're modernizing signals on the Culver Line

accessibility icon This service change affects one or more ADA accessible stations and these travel alternatives may not be fully accessible. Please contact 511, to plan your trip.</div><div class="line-alert"><p>In Queens, Jamaica-bound [E] [F] local skips <b>36 St</b>, <b>Steinway St</b>, <b>46 St</b>, <b>Northern Blvd</b> and <b>65 St</b></p>For service to these stations, take the [E][F] to Jackson Hts-Roosevelt Av and transfer to a local Manhattan-bound [E] or [F].

For service from these stations, take the [E] or [F] * to Queens Plaza and transfer to a Jamaica-bound [E] or [F].

*[F] trains are running via the [E] in both directions between Queens and Manhattan.

Reminder: Express [E][F] service runs as scheduled during days and evenings.

What's happening?
Track maintenance</div><div class="line-alert"><p>Northbound [F] trains are running on the [G] line from <b>Bergen St</b> to <b>Court Sq</b> while we investigate why a train's brakes activated near <b>Bergen St</b>.</p>If your stop is skipped, take a southbound [F] train.

For service in Manhattan, consider taking a [D] train instead.
For service from Manhattan to Queens, consider taking a [D] train to 7 Av to transfer to a northbound [E] train.

You may wait longer for a Court Sq-bound [G] train while rerouted trains share the track.</div><div class="line-alert"><p>[F] service changes at <b>21 St-Queensbridge</b>, <b>Roosevelt Island</b>, <b>Lexington Av/63 St</b> and <b>57 St</b></p>[F] trains run via the [E] in both directions between Jackson Hts-Roosevelt Av and 5 Av/53 St, resuming service at 47-50 Sts.

Everyday 5 AM to 11:59 PM:
Special [F] shuttle runs every 20 minutes between 21 St-Queensbridge and Lexington Av/63 St, stopping at Roosevelt Island.
shuttle bus icon Free Q95 shuttle buses run between 21 St-Queensbridge and Queens Plaza, stopping at Queensboro Plaza [7][N][W].

Overnight 11:30 PM to 5:30 AM:
shuttle bus icon Free Q94 shuttle buses run between Roosevelt Island and Queens Plaza, stopping at 21 St-Queensbridge and Queensboro Plaza [7][N].

Plan your trip at new.mta.info or visit our travel alternatives webpage for maps, schedules and more.

What's happening?
We're replacing tracks and making other repairs on the 63 St Line.</div><div class="line-alert"><p>In Brooklyn, no [F] between <b>Kings Hwy</b> and <b>Coney Island-Stillwell Av</b></p>[F] trains run between Jamaica-179 St and Kings Hwy, the last stop.

shuttle bus icon Free shuttle buses run between Kings Hwy and Coney Island-Stillwell Av.
Transfer between trains and shuttle bus icon buses at Kings Hwy.
For direct service between Coney Island-Stillwell Av and Manhattan/Downtown Brooklyn, take the [D] or [N] instead.

Transfer at 34 St-Herald Sq accessibility icon | [D][F][N] or Broadway-Lafayette St accessibility icon | [D][F]
What's happening?
We're modernizing signals on the Culver Line

accessibility icon This service change affects one or more ADA accessible stations and these travel alternatives may not be fully accessible. Please contact 511, to plan your trip.</div><div class="line-alert"><p>In Queens, Jamaica-bound [E] [F] local skips <b>36 St</b>, <b>Steinway St</b>, <b>46 St</b>, <b>Northern Blvd</b> and <b>65 St</b></p>For service to these stations, take the [E][F] to Jackson Hts-Roosevelt Av and transfer to a local Manhattan-bound [E] or [F].

For service from these stations, take the [E] or [F] * to Queens Plaza and transfer to a Jamaica-bound [E] or [F].

*[F] trains are running via the [E] in both directions between Queens and Manhattan.

Reminder: Express [E][F] service runs as scheduled during days and evenings.

What's happening?
Track maintenance</div></div>