<ul class="stops">
    <li class="stop">Coney Island-Stillwell Av <span></span></li>
    <li class="stop">W 8 St-NY Aquarium <span></span></li>
    <li class="stop">Neptune Av <span></span></li>
    <li class="stop">Avenue X <span></span></li>
    <li class="stop">Avenue U <span></span></li>
    <li class="stop">Kings Hwy <span></span></li>
    <li class="stop">Avenue P <span></span></li>
    <li class="stop">Avenue N <span></span></li>
    <li class="stop">Bay Pkwy <span></span></li>
    <li class="stop">Avenue I <span></span></li>
    <li class="stop">18 Av <span></span></li>
    <li class="stop">Ditmas Av <span></span></li>
    <li class="stop">Church Av <span></span></li>
    <li class="stop">7 Av <span></span></li>
    <li class="stop">Jay St-MetroTech <span></span></li>
    <li class="stop">York St <span></span></li>
    <li class="stop">East Broadway <span></span></li>
    <li class="stop">Delancey St-Essex St <span></span></li>
    <li class="stop">2 Av <span></span></li>
    <li class="stop">Broadway-Lafayette St <span></span></li>
    <li class="stop">W 4 St-Wash Sq <span></span></li>
    <li class="stop">14 St <span></span></li>
    <li class="stop">23 St <span></span></li>
    <li class="stop">34 St-Herald Sq <span></span></li>
    <li class="stop">42 St-Bryant Pk <span></span></li>
    <li class="stop">47-50 Sts-Rockefeller Ctr <span></span></li>
    <li class="stop">5 Av/53 St <span></span></li>
    <li class="stop">Lexington Av/53 St <span></span></li>
    <li class="stop">Court Sq-23 St <span></span></li>
    <li class="stop">Queens Plaza <span></span></li>
    <li class="stop">Jackson Hts-Roosevelt Av <span></span></li>
    <li class="stop">Forest Hills-71 Av <span></span></li>
    <li class="stop">75 Av <span></span></li>
    <li class="stop">Kew Gardens-Union Tpke <span></span></li>
    <li class="stop">Briarwood <span></span></li>
    <li class="stop">Sutphin Blvd <span></span></li>
    <li class="stop">Parsons Blvd <span></span></li>
    <li class="stop">169 St <span></span></li>
    <li class="stop">Jamaica-179 St <span></span></li></ul>