<ul class="stops">
    <li class="stop">Church Av <span></span></li>
    <li class="stop">Fort Hamilton Pkwy <span></span></li>
    <li class="stop">15 St-Prospect Park <span></span></li>
    <li class="stop">7 Av <span></span></li>
    <li class="stop">4 Av-9 St <span></span></li>
    <li class="stop">Smith-9 Sts <span></span></li>
    <li class="stop">Carroll St <span></span></li>
    <li class="stop">Bergen St <span></span></li>
    <li class="stop">Hoyt-Schermerhorn Sts <span></span></li>
    <li class="stop">Fulton St <span></span></li>
    <li class="stop">Clinton-Washington Avs <span></span></li>
    <li class="stop">Classon Av <span></span></li>
    <li class="stop">Bedford-Nostrand Avs <span></span></li>
    <li class="stop">Myrtle-Willoughby Avs <span></span></li>
    <li class="stop">Flushing Av <span></span></li>
    <li class="stop">Broadway <span></span></li>
    <li class="stop">Metropolitan Av <span></span></li>
    <li class="stop">Nassau Av <span></span></li>
    <li class="stop">Greenpoint Av <span></span></li>
    <li class="stop">21 St <span></span></li>
    <li class="stop">Court Sq <span></span></li></ul>