<ul class="stops">
    <li class="stop">Broad St <span></span></li>
    <li class="stop">Fulton St <span></span></li>
    <li class="stop">Chambers St <span></span></li>
    <li class="stop">Canal St <span></span></li>
    <li class="stop">Bowery <span></span></li>
    <li class="stop">Delancey St-Essex St <span></span></li>
    <li class="stop">Marcy Av <span></span></li>
    <li class="stop">Hewes St <span></span></li>
    <li class="stop">Lorimer St <span></span></li>
    <li class="stop">Flushing Av <span></span></li>
    <li class="stop">Myrtle Av <span></span></li>
    <li class="stop">Kosciuszko St <span></span></li>
    <li class="stop">Gates Av <span></span></li>
    <li class="stop">Halsey St <span></span></li>
    <li class="stop">Chauncey St <span></span></li>
    <li class="stop">Broadway Junction <span></span></li>
    <li class="stop">Alabama Av <span></span></li>
    <li class="stop">Van Siclen Av <span></span></li>
    <li class="stop">Cleveland St <span></span></li>
    <li class="stop">Norwood Av <span></span></li>
    <li class="stop">Crescent St <span></span></li>
    <li class="stop">Cypress Hills <span></span></li>
    <li class="stop">75 St-Elderts Ln <span></span></li>
    <li class="stop">85 St-Forest Pkwy <span></span></li>
    <li class="stop">Woodhaven Blvd <span></span></li>
    <li class="stop">104 St <span></span></li>
    <li class="stop">111 St <span></span></li>
    <li class="stop">121 St <span></span></li>
    <li class="stop">Sutphin Blvd-Archer Av-JFK Airport <span></span></li>
    <li class="stop">Jamaica Center-Parsons/Archer <span></span></li></ul>