<h2 class="lead">1 alerts on line</h2><div class="line-alerts"><div class="line-alert"><p>Jamaica Center-bound [J][Z] skips <b>75 St-Elderts Ln</b> and <b>Woodhaven Blvd</b></p>Use nearby Cypress Hills, 85 St-Forest Pkwy or 104 St stations.

Additional travel alternatives:
For service to 75 St-Elderts Ln, take the [J] or [Z] to 85 St-Forest Pkwy and transfer to a Manhattan-bound [J] or [Z].

For service to Woodhaven Blvd, take the [J] or [Z] to 104 St and transfer to a Manhattan-bound [J] or [Z].

For service from these stations, take the [J] or [Z] to 85 St-Forest Pkwy or Cypress Hills and transfer to a Jamaica Center-bound [J] or [Z].

Consider the Q56 bus making stops along Jamaica Ave.

What's happening?
We're making station improvements at 75 St-Elderts Ln and accessibility improvements at Woodhaven Blvd</div></div>