<ul class="stops">
    <li class="stop">Canarsie-Rockaway Pkwy <span></span></li>
    <li class="stop">East 105 St <span></span></li>
    <li class="stop">New Lots Av <span></span></li>
    <li class="stop">Livonia Av <span></span></li>
    <li class="stop">Sutter Av <span></span></li>
    <li class="stop">Atlantic Av <span></span></li>
    <li class="stop">Broadway Junction <span></span></li>
    <li class="stop">Bushwick Av-Aberdeen St <span></span></li>
    <li class="stop">Wilson Av <span></span></li>
    <li class="stop">Halsey St <span></span></li>
    <li class="stop">Myrtle-Wyckoff Avs <span></span></li>
    <li class="stop">DeKalb Av <span></span></li>
    <li class="stop">Jefferson St <span></span></li>
    <li class="stop">Morgan Av <span></span></li>
    <li class="stop">Montrose Av <span></span></li>
    <li class="stop">Grand St <span></span></li>
    <li class="stop">Graham Av <span></span></li>
    <li class="stop">Lorimer St <span></span></li>
    <li class="stop">Bedford Av <span></span></li>
    <li class="stop">1 Av <span></span></li>
    <li class="stop">3 Av <span></span></li>
    <li class="stop">14 St-Union Sq <span></span></li>
    <li class="stop">6 Av <span></span></li>
    <li class="stop">8 Av <span></span></li></ul>