<h2 class="lead">7 planned issues on line</h2><div class="line-alerts"><div class="line-alert"><p>In Manhattan, no [L] between <b>14 St-Union Sq</b> and <b>8 Av</b></p>[L] trains run between Canarsie-Rockaway Pkwy and 14 St-Union Sq, the last stop.

M14 and free L92 shuttle bus icon shuttle buses make [L] stops between 14 St-Union Sq and 8 Av.
Transfer between [L] and M14/L92 shuttle bus icon buses at 14 St-Union Sq accessibility icon.
When exiting at 8 Av, 6 Av or 14 St-Union Sq, get a GO ticket for re-entry into the subway.

What's happening?
Monthly track maintenance</div><div class="line-alert"><p>In Manhattan, no [L] between <b>14 St-Union Sq</b> and <b>8 Av</b></p>[L] trains run between Canarsie-Rockaway Pkwy and 14 St-Union Sq, the last stop.
Trains run every 8 minutes, days and evenings.
M14 and free L92 shuttle bus icon shuttle buses make [L] stops between 14 St-Union Sq and 8 Av.
Transfer between [L] and M14/L92 shuttle bus icon buses at 14 St-Union Sq accessibility icon.
When exiting at 8 Av, 6 Av or 14 St-Union Sq, get a GO ticket for re-entry into the subway.

What's happening?
Structural maintenance</div><div class="line-alert"><p>No [L] between <b>Lorimer St</b>, Brooklyn and <b>8 Av</b>, Manhattan</p>[L] trains run in Brooklyn between Canarsie-Rockaway Pkwy and Lorimer St, the last stop.

Travel Alternatives:
In Brooklyn, free shuttle bus icon shuttle buses make stops at Bedford Av, Lorimer St/Metropolitan Av [G][L], Broadway [G], Hewes St [J] and Marcy Av [J].

In Manhattan, free shuttle bus icon L92 shuttle and M14A buses run between 14 St/ 8 Av [A][E], 14 St/ 6 Av [F] and Delancey St-Essex St [F][J] stations.

For service between Brooklyn and Manhattan, use the [A] or [J] via transfer at Broadway Junction.
In Brooklyn, transfer between trains and shuttle bus icon buses at Lorimer St/Metropolitan Av [G][L], Hewes St [J] or Marcy Av [J].

In Manhattan, free L92 shuttle and M14 buses make [L]  stops along 14 St between 1 Av  and 8 Av and connect with [F]/[J] trains at Delancey St-Essex St.

What's happening?
Structural maintenance

accessibility icon This service change affects one or more ADA accessible stations and these travel alternatives may not be fully accessible. Please contact 511 to plan your trip.</div><div class="line-alert"><p>In Brooklyn, no [L] between <b>Myrtle-Wyckoff Avs</b> and <b>Atlantic Av</b></p>[L] service runs in two sections:
1. Between 8 Av and Myrtle-Wyckoff Avs every 8 minutes
2. Between Atlantic Av and Canarsie-Rockaway Pkwy every 10 minutes

shuttle bus icon Free shuttle buses make stops between Myrtle-Wyckoff Avs and Atlantic Av.
Transfer between [L] trains and shuttle bus icon buses at Myrtle-Wyckoff Avs accessibility icon and/or Atlantic Av.
For service between Brooklyn and Manhattan, consider [A][C] or [J]. Transfer between trains and shuttle bus icon shuttle buses at Broadway Junction.

What's happening?
Track maintenance

accessibility icon This service change affects one or more ADA accessible stations and these travel alternatives may not be fully accessible. Please contact 511 to plan your trip.</div><div class="line-alert"><p>Some stairways at [A][C][E], [B][D][F][M] and [L] stations on 6 Av will be exit or entrance-only and subject to temporary closures to prevent platform crowding</p>Affected stations:
14 St/6 Av [L][F][M]
W 4 St-Wash Sq accessibility icon | [A][C][E][B][D][F][M]
Spring St [C][E]

Expect crowding at these stations. Please follow the directions of NYPD and MTA personnel.

Consider using other nearby [1][2][3] [R][W] stations or [A][C][E] stations at 14 St (8 Av) or Canal St.

What's happening?
NYC's 50th Annual Village Halloween Parade</div><div class="line-alert"><p>In Manhattan, at <b>1 Av</b> and <b>3 Av</b> [L] - all trains board from the Brooklyn-bound platform</p>What's happening?
Track maintenance</div><div class="line-alert"><p>In Manhattan, at <b>3 Av</b> and <b>1 Av</b> [L] - all trains board from the 8 Av-bound platform</p>What's happening?
Track maintenance</div></div>