<h2 class="lead text-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16"><path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/></svg>8 alerts on line</h2><div class="line-alerts"><div class="line-alert"><p>[L] trains are running with delays in both directions between <strong>E 105 St</strong> and ‌<strong>Broadway Junction</strong> after we addressed a mechanical problem on a train near <strong>E 105 St</strong>.</p>[L] trains have resumed making scheduled stops.

Planned Work Reminder:
In Brooklyn, no [L] between E 105 St and Rockaway Pkwy
[L] runs in two sections:
1. Between 8 Av and Broadway Junction
2. Between Broadway Junction and E 105 St 
What's happening?
We're replacing tracks</div><div class="line-alert"><p>In Brooklyn, no [L] between <strong>E 105 St</strong> and <strong>Rockaway Pkwy</strong></p><p>[L] runs in two sections:</p><p>1. Between <strong>8 Av</strong> and <strong>Broadway Junction</strong></p><p>2. Between <strong>Broadway Junction</strong> and <strong>E 105 St</strong></p>Transfer at Broadway Junction to continue your trip.
[shuttle bus icon] Free shuttle buses run between E 105 St and Canarsie-Rockaway Pkwy.
Transfer between [L] trains and [shuttle bus icon] buses at E 105 St.
See a map of this service change.

Notes: 
At Broadway Junction, trains to/from E 105 St stop at [J] platforms. Trains between Broadway Junction and E 105 St run every 8 minutes days/evenings.
During the morning rush hour,  conditions permitting, no extra transfer will be required at Broadway Junction for an extremely limited number of Manhattan-bound [L] trains. Please take the first train that arrives at your station and listen for announcements to hear how your train will operate.
No [L] between Broadway Junction and Canarsie-Rockaway Pkwy, Aug 24 - 28, Mon to Fri, 11:30 PM to 5:00 AM.
What's happening?
We're replacing tracks</div><div class="line-alert"><p>In Brooklyn, no [L] between <strong>E 105 St</strong> and <strong>Rockaway Pkwy</strong></p><p>[L] runs in two sections:</p><p>1. Between <strong>8 Av</strong> and <strong>Broadway Junction</strong></p><p>2. Between <strong>Broadway Junction</strong> and <strong>E 105 St</strong></p>Transfer at Broadway Junction to continue your trip.
[shuttle bus icon] Free shuttle buses run between E 105 St and Canarsie-Rockaway Pkwy.
Transfer between [L] trains and [shuttle bus icon] buses at E 105 St.
See a map of this service change.

Notes: 
At Broadway Junction, trains to/from E 105 St stop at [J] platforms. Trains between Broadway Junction and E 105 St run every 8 minutes days/evenings.
During the morning rush hour,  conditions permitting, no extra transfer will be required at Broadway Junction for an extremely limited number of Manhattan-bound [L] trains. Please take the first train that arrives at your station and listen for announcements to hear how your train will operate.
No [L] between Broadway Junction and Canarsie-Rockaway Pkwy, Aug 24 - 28, Mon to Fri, 11:30 PM to 5:00 AM.
What's happening?
We're replacing tracks</div><div class="line-alert"><p>In Brooklyn, no [L] between <strong>E 105 St</strong> and <strong>Rockaway Pkwy</strong></p><p>[L] runs in two sections:</p><p>1. Between <strong>8 Av</strong> and <strong>Broadway Junction</strong></p><p>2. Between <strong>Broadway Junction</strong> and <strong>E 105 St</strong></p>Transfer at Broadway Junction to continue your trip.
[shuttle bus icon] Free shuttle buses run between E 105 St and Canarsie-Rockaway Pkwy.
Transfer between [L] trains and [shuttle bus icon] buses at E 105 St.
See a map of this service change.

Notes: 
At Broadway Junction, trains to/from E 105 St stop at [J] platforms. Trains between Broadway Junction and E 105 St run every 8 minutes days/evenings.
During the morning rush hour,  conditions permitting, no extra transfer will be required at Broadway Junction for an extremely limited number of Manhattan-bound [L] trains. Please take the first train that arrives at your station and listen for announcements to hear how your train will operate.
No [L] between Broadway Junction and Canarsie-Rockaway Pkwy, Aug 24 - 28, Mon to Fri, 11:30 PM to 5:00 AM.
What's happening?
We're replacing tracks</div><div class="line-alert"><p>In Brooklyn, no [L] between <strong>E 105 St</strong> and <strong>Rockaway Pkwy</strong></p><p>[L] runs in two sections:</p><p>1. Between <strong>8 Av</strong> and <strong>Broadway Junction</strong></p><p>2. Between <strong>Broadway Junction</strong> and <strong>E 105 St</strong></p>Transfer at Broadway Junction to continue your trip.
[shuttle bus icon] Free shuttle buses run between E 105 St and Canarsie-Rockaway Pkwy.
Transfer between [L] trains and [shuttle bus icon] buses at E 105 St.
See a map of this service change.

Notes: 
At Broadway Junction, trains to/from E 105 St stop at [J] platforms. Trains between Broadway Junction and E 105 St run every 8 minutes days/evenings.
During the morning rush hour,  conditions permitting, no extra transfer will be required at Broadway Junction for an extremely limited number of Manhattan-bound [L] trains. Please take the first train that arrives at your station and listen for announcements to hear how your train will operate.
No [L] between Broadway Junction and Canarsie-Rockaway Pkwy, Aug 24 - 28, Mon to Fri, 11:30 PM to 5:00 AM.
What's happening?
We're replacing tracks</div><div class="line-alert"><p>In Brooklyn, no [L] between <strong>E 105 St</strong> and <strong>Rockaway Pkwy</strong></p><p>[L] runs in two sections:</p><p>1. Between <strong>8 Av</strong> and <strong>Broadway Junction</strong></p><p>2. Between <strong>Broadway Junction</strong> and <strong>E 105 St</strong></p>Transfer at Broadway Junction to continue your trip.
[shuttle bus icon] Free shuttle buses run between E 105 St and Canarsie-Rockaway Pkwy.
Transfer between [L] trains and [shuttle bus icon] buses at E 105 St.
See a map of this service change.

Notes: 
At Broadway Junction, trains to/from E 105 St stop at [J] platforms. Trains between Broadway Junction and E 105 St run every 8 minutes days/evenings.
During the morning rush hour,  conditions permitting, no extra transfer will be required at Broadway Junction for an extremely limited number of Manhattan-bound [L] trains. Please take the first train that arrives at your station and listen for announcements to hear how your train will operate.
No [L] between Broadway Junction and Canarsie-Rockaway Pkwy, Aug 24 - 28, Mon to Fri, 11:30 PM to 5:00 AM.
What's happening?
We're replacing tracks</div><div class="line-alert"><p>In Brooklyn, no [L] between <strong>E 105 St</strong> and <strong>Rockaway Pkwy</strong></p><p>[L] runs in two sections:</p><p>1. Between <strong>8 Av</strong> and <strong>Broadway Junction</strong></p><p>2. Between <strong>Broadway Junction</strong> and <strong>E 105 St</strong></p>Transfer at Broadway Junction to continue your trip.
[shuttle bus icon] Free shuttle buses run between E 105 St and Canarsie-Rockaway Pkwy.
Transfer between [L] trains and [shuttle bus icon] buses at E 105 St.
See a map of this service change.

Notes: 
At Broadway Junction, trains to/from E 105 St stop at [J] platforms. Trains between Broadway Junction and E 105 St run every 8 minutes days/evenings.
During the morning rush hour,  conditions permitting, no extra transfer will be required at Broadway Junction for an extremely limited number of Manhattan-bound [L] trains. Please take the first train that arrives at your station and listen for announcements to hear how your train will operate.
No [L] between Broadway Junction and Canarsie-Rockaway Pkwy, Aug 24 - 28, Mon to Fri, 11:30 PM to 5:00 AM.
What's happening?
We're replacing tracks</div><div class="line-alert"><p>In Brooklyn, no [L] between <strong>E 105 St</strong> and <strong>Rockaway Pkwy</strong></p><p>[L] runs in two sections:</p><p>1. Between <strong>8 Av</strong> and <strong>Broadway Junction</strong></p><p>2. Between <strong>Broadway Junction</strong> and <strong>E 105 St</strong></p>Transfer at Broadway Junction to continue your trip.
[shuttle bus icon] Free shuttle buses run between E 105 St and Canarsie-Rockaway Pkwy.
Transfer between [L] trains and [shuttle bus icon] buses at E 105 St.
See a map of this service change.

Notes: 
At Broadway Junction, trains to/from E 105 St stop at [J] platforms. Trains between Broadway Junction and E 105 St run every 8 minutes days/evenings.
During the morning rush hour,  conditions permitting, no extra transfer will be required at Broadway Junction for an extremely limited number of Manhattan-bound [L] trains. Please take the first train that arrives at your station and listen for announcements to hear how your train will operate.
No [L] between Broadway Junction and Canarsie-Rockaway Pkwy, Aug 24 - 28, Mon to Fri, 11:30 PM to 5:00 AM.
What's happening?
We're replacing tracks</div></div>