<ul class="stops">
    <li class="stop">Myrtle Av <span></span></li>
    <li class="stop">Central Av <span></span></li>
    <li class="stop">Knickerbocker Av <span></span></li>
    <li class="stop">Myrtle-Wyckoff Avs <span></span></li>
    <li class="stop">Seneca Av <span></span></li>
    <li class="stop">Forest Av <span></span></li>
    <li class="stop">Fresh Pond Rd <span></span></li>
    <li class="stop">Middle Village-Metropolitan Av <span></span></li>
    <li class="stop">Myrtle-Wyckoff Avs <span></span></li>
    <li class="stop">Seneca Av <span></span></li>
    <li class="stop">Forest Av <span></span></li>
    <li class="stop">Fresh Pond Rd <span></span></li>
    <li class="stop">Middle Village-Metropolitan Av <span></span></li>
    <li class="stop">Myrtle Av <span></span></li>
    <li class="stop">Central Av <span></span></li>
    <li class="stop">Knickerbocker Av <span></span></li>
    <li class="stop">Myrtle-Wyckoff Avs <span></span></li>
    <li class="stop">Seneca Av <span></span></li>
    <li class="stop">Forest Av <span></span></li>
    <li class="stop">Fresh Pond Rd <span></span></li>
    <li class="stop">Middle Village-Metropolitan Av <span></span></li></ul>