<h2 class="lead">1 alerts on line</h2><div class="line-alerts"><div class="line-alert"><p>No [M] service between <b>47-50 Sts-Rockefeller Ctr</b> and <b>Forest Hills-71 Av</b></p><p style="line-height: 1.14;"></p>[M] trains run in both directions between Middle Village-Metropolitan Av and 47-50 Sts-Rockefeller Ctr and to/from the 57 St [F] station, the last stop.

For 5 Av/53 St, Lexington Av/53 St, Court Sq-23 St, Queens Plaza, Jackson Hts-Roosevelt Av and Forest Hills-71 Av, take the [E] or [F]. Transfer at 47-50 Sts-Rockefeller Ctr accessibility icon | [F] or W 4 St accessibility icon | [E][F]

For all local stops in Queens, take the [R] instead. Transfer at 34 St-Herald Sq accessibility icon.

*The first Manhattan-bound [M] train departs Middle Village-Metropolitan Av at 5:10 AM.

Note: Nights and weekends [M] operates normal service between Metropolitan Av and Myrtle Av or Essex St

What's happening?
Learn more about what we're doing and your travel alternatives</div></div>