<h2 class="lead text-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16"><path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/></svg>3 alerts on line</h2><div class="line-alerts"><div class="line-alert"><p>Northbound [N][Q] trains are running with delays after we performed track maintenance near <b>Times Sq-42 St</b>. </p>Northbound trains have resumed service at 49 St.</div><div class="line-alert"><p>In Brooklyn, late night Coney Island-bound [N] skips <b>Union St</b>, <b>4 Av-9 St</b>, <b>Prospect Av</b> and <b>25 St</b></p>For service to these stations, take the [N] to 36 St and transfer to a Manhattan-bound local train.

For service from these stations, take a Manhattan-bound train to Atlantic Av-Barclays Ctr and transfer to a Coney Island-bound [N].

What's happening?
Track maintenance</div><div class="line-alert"><p>In Brooklyn and Lower Manhattan, late night Astoria-bound [N] runs via the [Q] from <b>DeKalb Av</b> to <b>Canal St</b></p>In Brooklyn, use nearby Borough Hall [2] [4] for Jay St-MetroTech and Court St.

In Manhattan, use nearby [4] or [J] stations for Whitehall St-South Ferry, Rector St, Cortlandt St and City Hall.
Transfer between [N] and [4] at Atlantic Av-Barclays Ctr accessibility icon, Canal St (after 1:30 AM) or 14 St-Union Sq.
Transfer between [N] and [J] trains at Canal St.
Travel tip:
For service from Court St and Jay St-MetroTech, take a Coney Island-bound [N] to DeKalb Av accessibility icon and transfer to an Astoria-bound [N].

Note: At Canal St, uptown [N] trains stop at the [Q] platform during this time.

What's happening?
Structural maintenance

accessibility icon This service change affects one or more ADA accessible stations and these travel alternatives may not be fully accessible. Please contact 511 to plan your trip.</div></div>