<h2 class="lead text-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16"><path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/></svg>7 alerts on line</h2><div class="line-alerts"><div class="line-alert"><p>In Brooklyn, Coney Island-bound local [N] skips <b>Union St</b>, <b>4 Av-9 St</b>, <b>Prospect Av</b>, <b>25 St</b>, <b>45 St</b> and <b>53 St</b></p>For service to Union St, 4 Av-9 St, Prospect Av and 25 St, take the [N] to 36 St and transfer to a local Manhattan-bound [D][N] or [R].

For service from these stations, take the [D][N] or [R] to Atlantic Av-Barclays Ctr and transfer to a Coney Island-bound [N].

For service to 45 St and 53 St, take the [N] to 59 St and transfer to a Manhattan-bound [R] or [N] local.

For service from these stations, take the [N] or [R] to 36 St and transfer to a Coney Island-bound [N].

What's happening?
We're making electrical improvements</div><div class="line-alert"><p>In Brooklyn, Coney Island-bound local [N] skips <b>Union St</b>, <b>4 Av-9 St</b>, <b>Prospect Av</b>, <b>25 St</b>, <b>45 St</b> and <b>53 St</b></p>For service to Union St, 4 Av-9 St, Prospect Av and 25 St, take the [N] to 36 St and transfer to a local Manhattan-bound [D][N] or [R].

For service from these stations, take the [D][N] or [R] to Atlantic Av-Barclays Ctr and transfer to a Coney Island-bound [N].

For service to 45 St and 53 St, take the [N] to 59 St and transfer to a Manhattan-bound [R] or [N] local.

For service from these stations, take the [N] or [R] to 36 St and transfer to a Coney Island-bound [N].

What's happening?
We're making electrical improvements</div><div class="line-alert"><p>In Brooklyn, Coney Island-bound local [N] skips <b>Union St</b>, <b>4 Av-9 St</b>, <b>Prospect Av</b>, <b>25 St</b>, <b>45 St</b> and <b>53 St</b></p>For service to Union St, 4 Av-9 St, Prospect Av and 25 St, take the [N] to 36 St and transfer to a local Manhattan-bound [D][N] or [R].

For service from these stations, take the [D][N] or [R] to Atlantic Av-Barclays Ctr and transfer to a Coney Island-bound [N].

For service to 45 St and 53 St, take the [N] to 59 St and transfer to a Manhattan-bound [R] or [N] local.

For service from these stations, take the [N] or [R] to 36 St and transfer to a Coney Island-bound [N].

What's happening?
We're making electrical improvements</div><div class="line-alert"><p>In Brooklyn, Coney Island-bound local [N] skips <b>Union St</b>, <b>4 Av-9 St</b>, <b>Prospect Av</b>, <b>25 St</b>, <b>45 St</b> and <b>53 St</b></p>For service to Union St, 4 Av-9 St, Prospect Av and 25 St, take the [N] to 36 St and transfer to a local Manhattan-bound [D][N] or [R].

For service from these stations, take the [D][N] or [R] to Atlantic Av-Barclays Ctr and transfer to a Coney Island-bound [N].

For service to 45 St and 53 St, take the [N] to 59 St and transfer to a Manhattan-bound [R] or [N] local.

For service from these stations, take the [N] or [R] to 36 St and transfer to a Coney Island-bound [N].

What's happening?
We're making electrical improvements</div><div class="line-alert"><p>In Brooklyn, Coney Island-bound local [N] skips <b>Union St</b>, <b>4 Av-9 St</b>, <b>Prospect Av</b>, <b>25 St</b>, <b>45 St</b> and <b>53 St</b></p>For service to Union St, 4 Av-9 St, Prospect Av and 25 St, take the [N] to 36 St and transfer to a local Manhattan-bound [D][N] or [R].

For service from these stations, take the [D][N] or [R] to Atlantic Av-Barclays Ctr and transfer to a Coney Island-bound [N].

For service to 45 St and 53 St, take the [N] to 59 St and transfer to a Manhattan-bound [R] or [N] local.

For service from these stations, take the [N] or [R] to 36 St and transfer to a Coney Island-bound [N].

What's happening?
We're making electrical improvements</div><div class="line-alert"><p>In Brooklyn, Coney Island-bound local [N] skips <b>Union St</b>, <b>4 Av-9 St</b>, <b>Prospect Av</b>, <b>25 St</b>, <b>45 St</b> and <b>53 St</b></p>For service to Union St, 4 Av-9 St, Prospect Av and 25 St, take the [N] to 36 St and transfer to a local Manhattan-bound [D][N] or [R].

For service from these stations, take the [D][N] or [R] to Atlantic Av-Barclays Ctr and transfer to a Coney Island-bound [N].

For service to 45 St and 53 St, take the [N] to 59 St and transfer to a Manhattan-bound [R] or [N] local.

For service from these stations, take the [N] or [R] to 36 St and transfer to a Coney Island-bound [N].

What's happening?
We're making electrical improvements</div><div class="line-alert"><p>In Brooklyn, Coney Island-bound local [N] skips <b>Union St</b>, <b>4 Av-9 St</b>, <b>Prospect Av</b>, <b>25 St</b>, <b>45 St</b> and <b>53 St</b></p>For service to Union St, 4 Av-9 St, Prospect Av and 25 St, take the [N] to 36 St and transfer to a local Manhattan-bound [D][N] or [R].

For service from these stations, take the [D][N] or [R] to Atlantic Av-Barclays Ctr and transfer to a Coney Island-bound [N].

For service to 45 St and 53 St, take the [N] to 59 St and transfer to a Manhattan-bound [R] or [N] local.

For service from these stations, take the [N] or [R] to 36 St and transfer to a Coney Island-bound [N].

What's happening?
We're making electrical improvements</div></div>