<!-- begin post -->
{% assign author = site.authors[post.author] %}

<div class="col-md-6 grid-item">
<div class="card">
    <a href="{{ site.baseurl }}{{ post.url }}">
        <img class="img-fluid lazyload" data-src="{{ site.baseurl }}/assets/images/{{ post.route }}.jpg" alt="{{ post.title }}">
    </a>
    <div class="card-block">
        <h2 class="card-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
        <h4 class="card-text">{{ post.description }}</h4>
    </div>
</div>
</div>
<!-- end post -->
