<ul class="stops">
    <li class="stop">96 St <span></span></li>
    <li class="stop">86 St <span></span></li>
    <li class="stop">72 St <span></span></li>
    <li class="stop">Lexington Av/63 St <span></span></li>
    <li class="stop">57 St-7 Av <span></span></li>
    <li class="stop">49 St <span></span></li>
    <li class="stop">Times Sq-42 St <span></span></li>
    <li class="stop">34 St-Herald Sq <span></span></li>
    <li class="stop">28 St <span></span></li>
    <li class="stop">23 St <span></span></li>
    <li class="stop">14 St-Union Sq <span></span></li>
    <li class="stop">8 St-NYU <span></span></li>
    <li class="stop">Prince St <span></span></li>
    <li class="stop">Canal St <span></span></li>
    <li class="stop">DeKalb Av <span></span></li>
    <li class="stop">Atlantic Av-Barclays Ctr <span></span></li>
    <li class="stop">7 Av <span></span></li>
    <li class="stop">Prospect Park <span></span></li>
    <li class="stop">Parkside Av <span></span></li>
    <li class="stop">Church Av <span></span></li>
    <li class="stop">Beverley Rd <span></span></li>
    <li class="stop">Cortelyou Rd <span></span></li>
    <li class="stop">Newkirk Plaza <span></span></li>
    <li class="stop">Avenue H <span></span></li>
    <li class="stop">Avenue J <span></span></li>
    <li class="stop">Avenue M <span></span></li>
    <li class="stop">Kings Hwy <span></span></li>
    <li class="stop">Avenue U <span></span></li>
    <li class="stop">Neck Rd <span></span></li>
    <li class="stop">Sheepshead Bay <span></span></li>
    <li class="stop">Brighton Beach <span></span></li>
    <li class="stop">Ocean Pkwy <span></span></li>
    <li class="stop">W 8 St-NY Aquarium <span></span></li>
    <li class="stop">Coney Island-Stillwell Av <span></span></li></ul>