<h2 class="lead text-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16"><path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/></svg>6 alerts on line</h2><div class="line-alerts"><div class="line-alert"><p>In Manhattan, downtown [Q] runs local from <b>57 St-7 Av</b> to <b>Canal St</b></p>Reminder: Late night local trains also service these stations.

What's Happening?
We're replacing tracks</div><div class="line-alert"><p>In Brooklyn, no [Q] between <b>Prospect Park</b> and <b>Coney Island-Stillwell Av</b></p>[Q] runs between 96 St and Prospect Park, the last stop.

shuttle bus icon Free shuttle buses run along two routes:
1. Local between Prospect Park and Kings Hwy
2. Express between Prospect Park and Kings Hwy, then local to/from Coney Island-Stillwell Av

For direct service between Manhattan/Downtown Brooklyn and Coney Island, take the [D] or [N].

Transfer at the following stations:
34 St-Herald Sq accessibility icon | [D][N][Q]
Atlantic Av-Barclays Ctr accessibility icon | [D][N][Q]
Prospect Park accessibility icon | [Q] shuttle bus icon
Kings Hwy shuttle bus icon local and express shuttle buses
Coney Island-Stillwell Av accessibility icon | [D][N] shuttle bus icon
Travel tip:
B68 bus service is also available along Coney Island Ave between Parkside Av and Coney Island-Stillwell Av.

What's happening?
We're replacing tracks</div><div class="line-alert"><p>In Manhattan, downtown [Q] runs local from <b>57 St-7 Av</b> to <b>Canal St</b></p>Reminder: Late night local trains also service these stations.

What's Happening?
We're replacing tracks</div><div class="line-alert"><p>In Brooklyn, no [Q] between <b>Prospect Park</b> and <b>Coney Island-Stillwell Av</b></p>[Q] runs between 96 St and Prospect Park, the last stop.

shuttle bus icon Free shuttle buses run along two routes:
1. Local between Prospect Park and Kings Hwy
2. Express between Prospect Park and Kings Hwy, then local to/from Coney Island-Stillwell Av

For direct service between Manhattan/Downtown Brooklyn and Coney Island, take the [D] or [N].

Transfer at the following stations:
34 St-Herald Sq accessibility icon | [D][N][Q]
Atlantic Av-Barclays Ctr accessibility icon | [D][N][Q]
Prospect Park accessibility icon | [Q] shuttle bus icon
Kings Hwy shuttle bus icon local and express shuttle buses
Coney Island-Stillwell Av accessibility icon | [D][N] shuttle bus icon
Travel tip:
B68 bus service is also available along Coney Island Ave between Parkside Av and Coney Island-Stillwell Av.

What's happening?
We're replacing tracks</div><div class="line-alert"><p>In Manhattan, downtown [Q] runs local from <b>57 St-7 Av</b> to <b>Canal St</b></p>Reminder: Late night local trains also service these stations.

What's Happening?
We're replacing tracks</div><div class="line-alert"><p>In Brooklyn, no [Q] between <b>Prospect Park</b> and <b>Coney Island-Stillwell Av</b></p>[Q] runs between 96 St and Prospect Park, the last stop.

shuttle bus icon Free shuttle buses run along two routes:
1. Local between Prospect Park and Kings Hwy
2. Express between Prospect Park and Kings Hwy, then local to/from Coney Island-Stillwell Av

For direct service between Manhattan/Downtown Brooklyn and Coney Island, take the [D] or [N].

Transfer at the following stations:
34 St-Herald Sq accessibility icon | [D][N][Q]
Atlantic Av-Barclays Ctr accessibility icon | [D][N][Q]
Prospect Park accessibility icon | [Q] shuttle bus icon
Kings Hwy shuttle bus icon local and express shuttle buses
Coney Island-Stillwell Av accessibility icon | [D][N] shuttle bus icon
Travel tip:
B68 bus service is also available along Coney Island Ave between Parkside Av and Coney Island-Stillwell Av.

What's happening?
We're replacing tracks</div></div>