<ul class="stops">
    <li class="stop">Bay Ridge-95 St <span></span></li>
    <li class="stop">86 St <span></span></li>
    <li class="stop">77 St <span></span></li>
    <li class="stop">Bay Ridge Av <span></span></li>
    <li class="stop">59 St <span></span></li>
    <li class="stop">53 St <span></span></li>
    <li class="stop">45 St <span></span></li>
    <li class="stop">36 St <span></span></li>
    <li class="stop">25 St <span></span></li>
    <li class="stop">Prospect Av <span></span></li>
    <li class="stop">4 Av-9 St <span></span></li>
    <li class="stop">Union St <span></span></li>
    <li class="stop">Atlantic Av-Barclays Ctr <span></span></li>
    <li class="stop">DeKalb Av <span></span></li>
    <li class="stop">Jay St-MetroTech <span></span></li>
    <li class="stop">Court St <span></span></li>
    <li class="stop">Whitehall St-South Ferry <span></span></li>
    <li class="stop">Rector St <span></span></li>
    <li class="stop">Cortlandt St <span></span></li>
    <li class="stop">City Hall <span></span></li>
    <li class="stop">Canal St <span></span></li>
    <li class="stop">Prince St <span></span></li>
    <li class="stop">8 St-NYU <span></span></li>
    <li class="stop">14 St-Union Sq <span></span></li>
    <li class="stop">23 St <span></span></li>
    <li class="stop">28 St <span></span></li>
    <li class="stop">34 St-Herald Sq <span></span></li>
    <li class="stop">Times Sq-42 St <span></span></li>
    <li class="stop">49 St <span></span></li>
    <li class="stop">57 St-7 Av <span></span></li>
    <li class="stop">5 Av/59 St <span></span></li>
    <li class="stop">Lexington Av/59 St <span></span></li>
    <li class="stop">Queens Plaza <span></span></li>
    <li class="stop">36 St <span></span></li>
    <li class="stop">Steinway St <span></span></li>
    <li class="stop">46 St <span></span></li>
    <li class="stop">Northern Blvd <span></span></li>
    <li class="stop">65 St <span></span></li>
    <li class="stop">Jackson Hts-Roosevelt Av <span></span></li>
    <li class="stop">Elmhurst Av <span></span></li>
    <li class="stop">Grand Av-Newtown <span></span></li>
    <li class="stop">Woodhaven Blvd <span></span></li>
    <li class="stop">63 Dr-Rego Park <span></span></li>
    <li class="stop">67 Av <span></span></li>
    <li class="stop">Forest Hills-71 Av <span></span></li></ul>