<h2 class="lead">9 planned issues on line</h2><div class="line-alerts"><div class="line-alert"><p>No late night [R] between <b>Whitehall St-South Ferry</b> and <b>59 St</b>, Brooklyn</p>[R] trains run in Brooklyn between Bay Ridge-95 St and 59 St, the last stop.

For Atlantic Av-Barclays Ctr, 36 St, 45 St and 53 St, take the [N].

For 25 St, Prospect Av, 4 Av-9 St and Union St, take a local Manhattan-bound [D] or [N].

For DeKalb Av, take the [Q] or local Manhattan-bound [D][N].

For Jay St-MetroTech, Court St and Whitehall St-South Ferry, take a Coney Island-bound [Q] making these stops or use nearby [4] stations.
Transfer at 59 St accessibility icon | [N][R], Atlantic Av-Barclays Ctr accessibility icon | [4][D][N][Q], Canal St [N][Q].
Note: All trains board from the Bay Ridge-bound platform at 77 St, Bay Ridge Av and 59 St.

What's happening?
Track maintenance

accessibility icon This service change affects one or more ADA accessible stations and these travel alternatives may not be fully accessible. Please contact 511 to plan your trip.</div><div class="line-alert"><p>No late night [R] between <b>Whitehall St-South Ferry</b> and <b>59 St</b>, Brooklyn</p>[R] trains run in Brooklyn between Bay Ridge-95 St and 59 St, the last stop.

For 53 St and 45 St, take the [N].

For 36 St, 25 St, Prospect Av, 4 Av-9 St, Union St and Atlantic Av-Barclays Ctr, take [D] or [N].

For DeKalb Av, take the [D][N] or [Q].

For Jay St-MetroTech, Court St and Whitehall St-South Ferry, take an Astoria-bound [N] or use nearby [4] stations.
Transfer between trains at 59 St accessibility icon | [N][R], 36 St [D][N] or Atlantic Av-Barclays Ctr accessibility icon | [4][D][N].
Note: All trains board from the Manhattan-bound platform at 77 St, Bay Ridge Av and 59 St.

What's happening?
Monthly track maintenance</div><div class="line-alert"><p>In Brooklyn, Bay Ridge-bound [R] skips <b>Union St</b>, <b>4 Av-9 St</b>, <b>Prospect Av</b>, <b>25 St</b>, <b>45 St</b> and <b>53 St</b></p>For service to Union St, 4 Av-9 St, Prospect Av and 25 St, take the [R] to 36 St and transfer to a local Manhattan-bound [D][N] or [R].

For service from these stations, take the [D][N] or [R] to Atlantic Av-Barclays Ctr and transfer to a Bay Ridge-bound [R].

For service to 45 St and 53 St, take the [R] to 59 St and transfer to a Manhattan-bound [N] local or [R].

For service from these stations, take the [N] or [R] to 36 St and transfer to a Bay Ridge-bound [R].

What's happening?
We're making electrical improvements</div><div class="line-alert"><p>In Queens, the Manhattan-bound platform at the <b>46 St</b> [R] station is temporarily closed</p>Manhattan-bound [R] skips 46 St.

Consider using the nearby Steinway St or Northern Blvd stations.

Travel alternatives:
For service to this station, take the [R] to Steinway St and transfer to a Forest Hills-bound [R].

For service from this station, take a Forest Hills-bound [R] to 65 St and transfer to a Manhattan-bound [R].

Reminder: [R] does not operate in Queens overnight

What's happening?
We're making station improvements</div><div class="line-alert"><p>No late night [R] between <b>Whitehall St-South Ferry</b> and <b>59 St</b>, Brooklyn</p>[R] trains run between Bay Ridge-95 St and 59 St in Brooklyn.

For 53 St and 45 St, take an [N].

For 36 St, 25 St, Prospect Av, 4 Av-9 St, Union St, Atlantic Av-Barclays Ctr and DeKalb Av, take a local [D] or [N].

For Jay St-MetroTech, Court St and Whitehall St-South Ferry, take a Coney Island-bound [N] or use nearby [4] stations.
Transfer between trains at 59 St accessibility icon [N][R], 36 St [D][N] or Atlantic Av-Barclays Ctr accessibility icon [4][D][N].
Note: All trains board from the Manhattan-bound platform at 59 St, Bay Ridge Av and 77 St.

What's happening?
We're installing equipment</div><div class="line-alert"><p>In Brooklyn and Lower Manhattan, Queens-bound [R] runs via the [Q] from <b>DeKalb Av</b> to <b>Canal St</b></p>In Brooklyn, use nearby Borough Hall [4] for Jay St-MetroTech and Court St.

In Manhattan, use nearby [4] or [J] stations for Whitehall St-South Ferry, Rector St, Cortlandt St and City Hall.
Transfer between [R] and [4] trains at Atlantic Av-Barclays Ctr or 14 St-Union Sq.
Transfer between [R] and [J] trains at Canal St.
Travel tip:
For service from Court St and Jay St-MetroTech, take a Bay Ridge-bound [R] to DeKalb Av accessibility icon and transfer to a Manhattan-bound [R].

Note: At Canal St, uptown [R] trains stop at the [Q] platform during this time.

What's happening?
We're installing equipment

accessibility icon This service change affects one or more ADA accessible stations and these travel alternatives may not be fully accessible. Please contact 511 to plan your trip.</div><div class="line-alert"><p>In Queens, the Manhattan-bound platform at the <b>36 St</b> [R] station is temporarily closed</p>Manhattan-bound [R] skips 36 St.

Use the nearby Steinway St or Queens Plaza stations or the [N] at 39 Av-Dutch Kills.

Additional travel alternatives:
For service to this station, take the [R] to Queens Plaza and transfer to a Forest Hills-bound [R].

For service from this station, take a Forest Hills-bound [R] to Steinway St and transfer to a Manhattan-bound [R].

Reminder: [R] does not operate in Queens overnight

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Queens, Manhattan-bound [R] skips <b>65 St</b>, <b>Northern Blvd</b>, <b>46 St</b>, <b>Steinway St</b> and <b>36 St</b></p>For service to these stations, take the [R] to Queens Plaza and transfer to a Forest Hills-bound [R] or Jamaica-bound local [E][F].

For service from these stations, take the [E] or [F] to Jackson Hts-Roosevelt Av and transfer to a Manhattan-bound [R].

What's happening?
We're making station improvements</div><div class="line-alert"><p>In Queens, Manhattan-bound [R] skips <b>65 St</b>, <b>Northern Blvd</b>, <b>46 St</b>, <b>Steinway St</b> and <b>36 St</b></p>For service to these stations, take the [R] to Queens Plaza and transfer to a Forest Hills-bound [R] or Jamaica-bound [E][F] local.

For service from these stations, take the [R] to Jackson Hts-Roosevelt Av and transfer to a Manhattan-bound [R].

What's happening?
We're making station improvements</div></div>