<h2 class="lead text-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16"><path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/></svg>20 alerts on line</h2><div class="line-alerts"><div class="line-alert">Red and Purple Line Trains Share Track between Thorndale and Belmont (Updated)<p><strong>How does this affect my trip?&nbsp;</strong><br />
Red Line trains and Purple Line Express trains are sharing the same tracks between Thorndale and Belmont.</p>

<p>Purple Line Express trains continue to run express between Howard and Belmont, making only regular stops at Howard, Wilson and Belmont.</p>

<p><strong>Note</strong>: At the same time,&nbsp;<a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75824">Berwyn</a> and <a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75825">Lawrence</a> are temporarily closed and temporary stations are&nbsp;open at Bryn Mawr and Argyle, to support reconstruction work. See separate alerts for details.</p>

<p>Allow extra travel time.</p>

<p><strong>Why is service being changed?&nbsp;</strong><br />
Red and Purple line service is changed due to the temporary closure of the two east tracks between Bryn Mawr and Wilson stations, and the two west tracks between Addison and Belmont stations,&nbsp;for reconstruction as part of the <a href="https://www.transitchicago.com/rpm/">Red and Purple Modernization (RPM) project</a>.</p></div><div class="line-alert">95th/Dan Ryan-bound Subway Trains Rerouted to Elevated Tracks: Howard-bound normal service but bypassing Roosevelt<p>95th/Dan Ryan-bound&nbsp;Red Line trains are temporarily rerouted to the elevated lines between Fullerton and&nbsp;Cermak-Chinatown due to police activity.&nbsp; Howard-bound trains&nbsp;running with significant delays&nbsp;but bypassing Roosevelt.</p>

<h4>Red Line service to 95th/Dan Ryan</h4>

<p>After stopping at Fullerton, <strong>95th-bound trains will be diverted and will make the following elevated station stops</strong>:</p>

<ul>
	<li>Armitage (accessible)</li>
	<li>Sedgwick (accessible)</li>
	<li>Chicago (at Franklin; accessible)</li>
	<li>Merchandise Mart (accessible)</li>
	<li>Clark/lake (accessible)</li>
	<li>State/Lake</li>
	<li>Washington/Wabash (accessible)</li>
	<li>Adams/Wabash</li>
	<li>Roosevelt (elevated station west of Wabash; accessible)</li>
</ul>

<p>Then, trains will stop at Cermak-Chinatown and make all normal stops to 95th/Dan Ryan.</p>

<p>Bus shuttle service is available Fullerton to State/Lake&nbsp;to provide connecting&nbsp;service.</p>

<p>Connections can be made between Howard-bound subway service and 95th-bound rerouted service via elevated lines at Fullerton (accessible), State/Lake (board at nearby elevated station on Orange Line side for 95th-bound Red Line service)&nbsp;and at Roosevelt (accessible).</p>

<p>We apologize for the inconvenience and are working to restore service as quickly as possible. Allow extra travel time.</p>

<h4><span style="color: #c60c30"><strong>Howard-bound service is not affected.</strong></span></h4></div><div class="line-alert">Red and Purple Line Trains Share Track between Thorndale and Belmont (Updated)<p><strong>How does this affect my trip?&nbsp;</strong><br />
Red Line trains and Purple Line Express trains are sharing the same tracks between Thorndale and Belmont.</p>

<p>Purple Line Express trains continue to run express between Howard and Belmont, making only regular stops at Howard, Wilson and Belmont.</p>

<p><strong>Note</strong>: At the same time,&nbsp;<a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75824">Berwyn</a> and <a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75825">Lawrence</a> are temporarily closed and temporary stations are&nbsp;open at Bryn Mawr and Argyle, to support reconstruction work. See separate alerts for details.</p>

<p>Allow extra travel time.</p>

<p><strong>Why is service being changed?&nbsp;</strong><br />
Red and Purple line service is changed due to the temporary closure of the two east tracks between Bryn Mawr and Wilson stations, and the two west tracks between Addison and Belmont stations,&nbsp;for reconstruction as part of the <a href="https://www.transitchicago.com/rpm/">Red and Purple Modernization (RPM) project</a>.</p></div><div class="line-alert">95th/Dan Ryan-bound Subway Trains Rerouted to Elevated Tracks: Howard-bound normal service but bypassing Roosevelt<p>95th/Dan Ryan-bound&nbsp;Red Line trains are temporarily rerouted to the elevated lines between Fullerton and&nbsp;Cermak-Chinatown due to police activity.&nbsp; Howard-bound trains&nbsp;running with significant delays, bypassing Roosevelt.</p>

<h4>Red Line service to 95th/Dan Ryan</h4>

<p>After stopping at Fullerton, <strong>95th-bound trains will be diverted and will make the following elevated station stops</strong>:</p>

<ul>
	<li>Armitage (accessible)</li>
	<li>Sedgwick (accessible)</li>
	<li>Chicago (at Franklin; accessible)</li>
	<li>Merchandise Mart (accessible)</li>
	<li>Clark/lake (accessible)</li>
	<li>State/Lake</li>
	<li>Washington/Wabash (accessible)</li>
	<li>Adams/Wabash</li>
	<li>Roosevelt (elevated station west of Wabash; accessible)</li>
</ul>

<p>Then, trains will stop at Cermak-Chinatown and make all normal stops to 95th/Dan Ryan.</p>

<p>Bus shuttle service is available Fullerton to State/Lake&nbsp;to provide connecting&nbsp;service.</p>

<p>Connections can be made between Howard-bound subway service and 95th-bound rerouted service via elevated lines at Fullerton (accessible), State/Lake (board at nearby elevated station on Orange Line side for 95th-bound Red Line service)&nbsp;and at Roosevelt (accessible).</p>

<p>We apologize for the inconvenience and are working to restore service as quickly as possible. Allow extra travel time.</p>

<h4><span style="color: #c60c30"><strong>Howard-bound service is not affected.</strong></span></h4></div><div class="line-alert">Red and Purple Line Trains Share Track between Thorndale and Belmont (Updated)<p><strong>How does this affect my trip?&nbsp;</strong><br />
Red Line trains and Purple Line Express trains are sharing the same tracks between Thorndale and Belmont.</p>

<p>Purple Line Express trains continue to run express between Howard and Belmont, making only regular stops at Howard, Wilson and Belmont.</p>

<p><strong>Note</strong>: At the same time,&nbsp;<a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75824">Berwyn</a> and <a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75825">Lawrence</a> are temporarily closed and temporary stations are&nbsp;open at Bryn Mawr and Argyle, to support reconstruction work. See separate alerts for details.</p>

<p>Allow extra travel time.</p>

<p><strong>Why is service being changed?&nbsp;</strong><br />
Red and Purple line service is changed due to the temporary closure of the two east tracks between Bryn Mawr and Wilson stations, and the two west tracks between Addison and Belmont stations,&nbsp;for reconstruction as part of the <a href="https://www.transitchicago.com/rpm/">Red and Purple Modernization (RPM) project</a>.</p></div><div class="line-alert">95th/Dan Ryan-bound Subway Trains Rerouted to Elevated Tracks: Howard-bound normal service but bypassing Roosevelt<p>95th/Dan Ryan-bound&nbsp;Red Line trains are temporarily rerouted to the elevated lines between Fullerton and&nbsp;Cermak-Chinatown due to police activity.&nbsp; Howard-bound trains&nbsp;running with significant delays, bypassing Roosevelt.</p>

<h4>Red Line service to 95th/Dan Ryan</h4>

<p>After stopping at Fullerton, <strong>95th-bound trains will be diverted and will make the following elevated station stops</strong>:</p>

<ul>
	<li>Armitage (accessible)</li>
	<li>Sedgwick (accessible)</li>
	<li>Chicago (at Franklin; accessible)</li>
	<li>Merchandise Mart (accessible)</li>
	<li>Clark/lake (accessible)</li>
	<li>State/Lake</li>
	<li>Washington/Wabash (accessible)</li>
	<li>Adams/Wabash</li>
	<li>Roosevelt (elevated station west of Wabash; accessible)</li>
</ul>

<p>Then, trains will stop at Cermak-Chinatown and make all normal stops to 95th/Dan Ryan.</p>

<p>Bus shuttle service is available Fullerton to State/Lake&nbsp;to provide connecting&nbsp;service.</p>

<p>Connections can be made between Howard-bound subway service and 95th-bound rerouted service via elevated lines at Fullerton (accessible), State/Lake (board at nearby elevated station on Orange Line side for 95th-bound Red Line service)&nbsp;and at Roosevelt (accessible).</p>

<p>We apologize for the inconvenience and are working to restore service as quickly as possible. Allow extra travel time.</p>

<h4><span style="color: #c60c30"><strong>Howard-bound service is not affected.</strong></span></h4></div><div class="line-alert">Red and Purple Line Trains Share Track between Thorndale and Belmont (Updated)<p><strong>How does this affect my trip?&nbsp;</strong><br />
Red Line trains and Purple Line Express trains are sharing the same tracks between Thorndale and Belmont.</p>

<p>Purple Line Express trains continue to run express between Howard and Belmont, making only regular stops at Howard, Wilson and Belmont.</p>

<p><strong>Note</strong>: At the same time,&nbsp;<a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75824">Berwyn</a> and <a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75825">Lawrence</a> are temporarily closed and temporary stations are&nbsp;open at Bryn Mawr and Argyle, to support reconstruction work. See separate alerts for details.</p>

<p>Allow extra travel time.</p>

<p><strong>Why is service being changed?&nbsp;</strong><br />
Red and Purple line service is changed due to the temporary closure of the two east tracks between Bryn Mawr and Wilson stations, and the two west tracks between Addison and Belmont stations,&nbsp;for reconstruction as part of the <a href="https://www.transitchicago.com/rpm/">Red and Purple Modernization (RPM) project</a>.</p></div><div class="line-alert">95th/Dan Ryan-bound Subway Trains Rerouted to Elevated Tracks: Howard-bound normal service but bypassing Roosevelt<p>95th/Dan Ryan-bound&nbsp;Red Line trains are temporarily rerouted to the elevated lines between Fullerton and&nbsp;Cermak-Chinatown due to police activity.&nbsp; Howard-bound trains&nbsp;running with significant delays, bypassing Roosevelt.</p>

<h4>Red Line service to 95th/Dan Ryan</h4>

<p>After stopping at Fullerton, <strong>95th-bound trains will be diverted and will make the following elevated station stops</strong>:</p>

<ul>
	<li>Armitage (accessible)</li>
	<li>Sedgwick (accessible)</li>
	<li>Chicago (at Franklin; accessible)</li>
	<li>Merchandise Mart (accessible)</li>
	<li>Clark/lake (accessible)</li>
	<li>State/Lake</li>
	<li>Washington/Wabash (accessible)</li>
	<li>Adams/Wabash</li>
	<li>Roosevelt (elevated station west of Wabash; accessible)</li>
</ul>

<p>Then, trains will stop at Cermak-Chinatown and make all normal stops to 95th/Dan Ryan.</p>

<p>Bus shuttle service is available Fullerton to State/Lake&nbsp;to provide connecting&nbsp;service.</p>

<p>Connections can be made between Howard-bound subway service and 95th-bound rerouted service via elevated lines at Fullerton (accessible), State/Lake (board at nearby elevated station on Orange Line side for 95th-bound Red Line service)&nbsp;and at Roosevelt (accessible).</p>

<p>We apologize for the inconvenience and are working to restore service as quickly as possible. Allow extra travel time.</p>

<h4><span style="color: #c60c30"><strong>Howard-bound service is not affected.</strong></span></h4></div><div class="line-alert">Red and Purple Line Trains Share Track between Thorndale and Belmont (Updated)<p><strong>How does this affect my trip?&nbsp;</strong><br />
Red Line trains and Purple Line Express trains are sharing the same tracks between Thorndale and Belmont.</p>

<p>Purple Line Express trains continue to run express between Howard and Belmont, making only regular stops at Howard, Wilson and Belmont.</p>

<p><strong>Note</strong>: At the same time,&nbsp;<a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75824">Berwyn</a> and <a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75825">Lawrence</a> are temporarily closed and temporary stations are&nbsp;open at Bryn Mawr and Argyle, to support reconstruction work. See separate alerts for details.</p>

<p>Allow extra travel time.</p>

<p><strong>Why is service being changed?&nbsp;</strong><br />
Red and Purple line service is changed due to the temporary closure of the two east tracks between Bryn Mawr and Wilson stations, and the two west tracks between Addison and Belmont stations,&nbsp;for reconstruction as part of the <a href="https://www.transitchicago.com/rpm/">Red and Purple Modernization (RPM) project</a>.</p></div><div class="line-alert">Red Line Service Resuming Normal Routing;Trains bypassing Roosevelt both directions<p>Red Line service is resuming its normal routing, via the subway, between Fullerton &amp; Cermak-Chinatown.&nbsp; Trains bypassing Roosevelt in both directions.</p>

<p>Trains were temporarily rerouted via the elevated lines due to police activity at Roosevelt.</p>

<p>Allow extra travel time.</p></div><div class="line-alert">Red and Purple Line Trains Share Track between Thorndale and Belmont (Updated)<p><strong>How does this affect my trip?&nbsp;</strong><br />
Red Line trains and Purple Line Express trains are sharing the same tracks between Thorndale and Belmont.</p>

<p>Purple Line Express trains continue to run express between Howard and Belmont, making only regular stops at Howard, Wilson and Belmont.</p>

<p><strong>Note</strong>: At the same time,&nbsp;<a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75824">Berwyn</a> and <a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75825">Lawrence</a> are temporarily closed and temporary stations are&nbsp;open at Bryn Mawr and Argyle, to support reconstruction work. See separate alerts for details.</p>

<p>Allow extra travel time.</p>

<p><strong>Why is service being changed?&nbsp;</strong><br />
Red and Purple line service is changed due to the temporary closure of the two east tracks between Bryn Mawr and Wilson stations, and the two west tracks between Addison and Belmont stations,&nbsp;for reconstruction as part of the <a href="https://www.transitchicago.com/rpm/">Red and Purple Modernization (RPM) project</a>.</p></div><div class="line-alert">Trains bypassing Roosevelt Station<p>Red Line trains have resumed normal routing but not stopping at Roosevelt due to police activity.</p>

<p>We apologize for this&nbsp;inconvenience and appreciate your understanding.</p></div><div class="line-alert">Red and Purple Line Trains Share Track between Thorndale and Belmont (Updated)<p><strong>How does this affect my trip?&nbsp;</strong><br />
Red Line trains and Purple Line Express trains are sharing the same tracks between Thorndale and Belmont.</p>

<p>Purple Line Express trains continue to run express between Howard and Belmont, making only regular stops at Howard, Wilson and Belmont.</p>

<p><strong>Note</strong>: At the same time,&nbsp;<a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75824">Berwyn</a> and <a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75825">Lawrence</a> are temporarily closed and temporary stations are&nbsp;open at Bryn Mawr and Argyle, to support reconstruction work. See separate alerts for details.</p>

<p>Allow extra travel time.</p>

<p><strong>Why is service being changed?&nbsp;</strong><br />
Red and Purple line service is changed due to the temporary closure of the two east tracks between Bryn Mawr and Wilson stations, and the two west tracks between Addison and Belmont stations,&nbsp;for reconstruction as part of the <a href="https://www.transitchicago.com/rpm/">Red and Purple Modernization (RPM) project</a>.</p></div><div class="line-alert">Trains Resume Stopping at Roosevelt Station<p>Red Line&nbsp;trains have resumed making stops at Roosevelt.</p></div><div class="line-alert">Red and Purple Line Trains Share Track between Thorndale and Belmont (Updated)<p><strong>How does this affect my trip?&nbsp;</strong><br />
Red Line trains and Purple Line Express trains are sharing the same tracks between Thorndale and Belmont.</p>

<p>Purple Line Express trains continue to run express between Howard and Belmont, making only regular stops at Howard, Wilson and Belmont.</p>

<p><strong>Note</strong>: At the same time,&nbsp;<a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75824">Berwyn</a> and <a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75825">Lawrence</a> are temporarily closed and temporary stations are&nbsp;open at Bryn Mawr and Argyle, to support reconstruction work. See separate alerts for details.</p>

<p>Allow extra travel time.</p>

<p><strong>Why is service being changed?&nbsp;</strong><br />
Red and Purple line service is changed due to the temporary closure of the two east tracks between Bryn Mawr and Wilson stations, and the two west tracks between Addison and Belmont stations,&nbsp;for reconstruction as part of the <a href="https://www.transitchicago.com/rpm/">Red and Purple Modernization (RPM) project</a>.</p></div><div class="line-alert">Red and Purple Line Trains Share Track between Thorndale and Belmont (Updated)<p><strong>How does this affect my trip?&nbsp;</strong><br />
Red Line trains and Purple Line Express trains are sharing the same tracks between Thorndale and Belmont.</p>

<p>Purple Line Express trains continue to run express between Howard and Belmont, making only regular stops at Howard, Wilson and Belmont.</p>

<p><strong>Note</strong>: At the same time,&nbsp;<a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75824">Berwyn</a> and <a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75825">Lawrence</a> are temporarily closed and temporary stations are&nbsp;open at Bryn Mawr and Argyle, to support reconstruction work. See separate alerts for details.</p>

<p>Allow extra travel time.</p>

<p><strong>Why is service being changed?&nbsp;</strong><br />
Red and Purple line service is changed due to the temporary closure of the two east tracks between Bryn Mawr and Wilson stations, and the two west tracks between Addison and Belmont stations,&nbsp;for reconstruction as part of the <a href="https://www.transitchicago.com/rpm/">Red and Purple Modernization (RPM) project</a>.</p></div><div class="line-alert">Red and Purple Line Trains Share Track between Thorndale and Belmont (Updated)<p><strong>How does this affect my trip?&nbsp;</strong><br />
Red Line trains and Purple Line Express trains are sharing the same tracks between Thorndale and Belmont.</p>

<p>Purple Line Express trains continue to run express between Howard and Belmont, making only regular stops at Howard, Wilson and Belmont.</p>

<p><strong>Note</strong>: At the same time,&nbsp;<a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75824">Berwyn</a> and <a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75825">Lawrence</a> are temporarily closed and temporary stations are&nbsp;open at Bryn Mawr and Argyle, to support reconstruction work. See separate alerts for details.</p>

<p>Allow extra travel time.</p>

<p><strong>Why is service being changed?&nbsp;</strong><br />
Red and Purple line service is changed due to the temporary closure of the two east tracks between Bryn Mawr and Wilson stations, and the two west tracks between Addison and Belmont stations,&nbsp;for reconstruction as part of the <a href="https://www.transitchicago.com/rpm/">Red and Purple Modernization (RPM) project</a>.</p></div><div class="line-alert">Red and Purple Line Trains Share Track between Thorndale and Belmont (Updated)<p><strong>How does this affect my trip?&nbsp;</strong><br />
Red Line trains and Purple Line Express trains are sharing the same tracks between Thorndale and Belmont.</p>

<p>Purple Line Express trains continue to run express between Howard and Belmont, making only regular stops at Howard, Wilson and Belmont.</p>

<p><strong>Note</strong>: At the same time,&nbsp;<a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75824">Berwyn</a> and <a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75825">Lawrence</a> are temporarily closed and temporary stations are&nbsp;open at Bryn Mawr and Argyle, to support reconstruction work. See separate alerts for details.</p>

<p>Allow extra travel time.</p>

<p><strong>Why is service being changed?&nbsp;</strong><br />
Red and Purple line service is changed due to the temporary closure of the two east tracks between Bryn Mawr and Wilson stations, and the two west tracks between Addison and Belmont stations,&nbsp;for reconstruction as part of the <a href="https://www.transitchicago.com/rpm/">Red and Purple Modernization (RPM) project</a>.</p></div><div class="line-alert">Red and Purple Line Trains Share Track between Thorndale and Belmont (Updated)<p><strong>How does this affect my trip?&nbsp;</strong><br />
Red Line trains and Purple Line Express trains are sharing the same tracks between Thorndale and Belmont.</p>

<p>Purple Line Express trains continue to run express between Howard and Belmont, making only regular stops at Howard, Wilson and Belmont.</p>

<p><strong>Note</strong>: At the same time,&nbsp;<a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75824">Berwyn</a> and <a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75825">Lawrence</a> are temporarily closed and temporary stations are&nbsp;open at Bryn Mawr and Argyle, to support reconstruction work. See separate alerts for details.</p>

<p>Allow extra travel time.</p>

<p><strong>Why is service being changed?&nbsp;</strong><br />
Red and Purple line service is changed due to the temporary closure of the two east tracks between Bryn Mawr and Wilson stations, and the two west tracks between Addison and Belmont stations,&nbsp;for reconstruction as part of the <a href="https://www.transitchicago.com/rpm/">Red and Purple Modernization (RPM) project</a>.</p></div><div class="line-alert">Red and Purple Line Trains Share Track between Thorndale and Belmont (Updated)<p><strong>How does this affect my trip?&nbsp;</strong><br />
Red Line trains and Purple Line Express trains are sharing the same tracks between Thorndale and Belmont.</p>

<p>Purple Line Express trains continue to run express between Howard and Belmont, making only regular stops at Howard, Wilson and Belmont.</p>

<p><strong>Note</strong>: At the same time,&nbsp;<a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75824">Berwyn</a> and <a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75825">Lawrence</a> are temporarily closed and temporary stations are&nbsp;open at Bryn Mawr and Argyle, to support reconstruction work. See separate alerts for details.</p>

<p>Allow extra travel time.</p>

<p><strong>Why is service being changed?&nbsp;</strong><br />
Red and Purple line service is changed due to the temporary closure of the two east tracks between Bryn Mawr and Wilson stations, and the two west tracks between Addison and Belmont stations,&nbsp;for reconstruction as part of the <a href="https://www.transitchicago.com/rpm/">Red and Purple Modernization (RPM) project</a>.</p></div></div>