<h2 class="lead text-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16"><path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/></svg>17 alerts on line</h2><div class="line-alerts"><div class="line-alert">Red and Purple Line Trains Share Track between Thorndale and Belmont (Updated)<p><strong>How does this affect my trip?&nbsp;</strong><br />
Red Line trains and Purple Line Express trains are sharing the same tracks between Thorndale and Belmont.</p>

<p>Purple Line Express trains continue to run express between Howard and Belmont, making only regular stops at Howard, Wilson and Belmont.</p>

<p><strong>Note</strong>: At the same time,&nbsp;<a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75824">Berwyn</a> and <a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75825">Lawrence</a> are temporarily closed and temporary stations are&nbsp;open at Bryn Mawr and Argyle, to support reconstruction work. See separate alerts for details.</p>

<p>Allow extra travel time.</p>

<p><strong>Why is service being changed?&nbsp;</strong><br />
Red and Purple line service is changed due to the temporary closure of the two east tracks between Bryn Mawr and Wilson stations, and the two west tracks between Addison and Belmont stations,&nbsp;for reconstruction as part of the <a href="https://www.transitchicago.com/rpm/">Red and Purple Modernization (RPM) project</a>.</p></div><div class="line-alert">Red and Purple Line Trains Share Track between Thorndale and Belmont (Updated)<p><strong>How does this affect my trip?&nbsp;</strong><br />
Red Line trains and Purple Line Express trains are sharing the same tracks between Thorndale and Belmont.</p>

<p>Purple Line Express trains continue to run express between Howard and Belmont, making only regular stops at Howard, Wilson and Belmont.</p>

<p><strong>Note</strong>: At the same time,&nbsp;<a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75824">Berwyn</a> and <a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75825">Lawrence</a> are temporarily closed and temporary stations are&nbsp;open at Bryn Mawr and Argyle, to support reconstruction work. See separate alerts for details.</p>

<p>Allow extra travel time.</p>

<p><strong>Why is service being changed?&nbsp;</strong><br />
Red and Purple line service is changed due to the temporary closure of the two east tracks between Bryn Mawr and Wilson stations, and the two west tracks between Addison and Belmont stations,&nbsp;for reconstruction as part of the <a href="https://www.transitchicago.com/rpm/">Red and Purple Modernization (RPM) project</a>.</p></div><div class="line-alert">Red and Purple Line Trains Share Track between Thorndale and Belmont (Updated)<p><strong>How does this affect my trip?&nbsp;</strong><br />
Red Line trains and Purple Line Express trains are sharing the same tracks between Thorndale and Belmont.</p>

<p>Purple Line Express trains continue to run express between Howard and Belmont, making only regular stops at Howard, Wilson and Belmont.</p>

<p><strong>Note</strong>: At the same time,&nbsp;<a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75824">Berwyn</a> and <a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75825">Lawrence</a> are temporarily closed and temporary stations are&nbsp;open at Bryn Mawr and Argyle, to support reconstruction work. See separate alerts for details.</p>

<p>Allow extra travel time.</p>

<p><strong>Why is service being changed?&nbsp;</strong><br />
Red and Purple line service is changed due to the temporary closure of the two east tracks between Bryn Mawr and Wilson stations, and the two west tracks between Addison and Belmont stations,&nbsp;for reconstruction as part of the <a href="https://www.transitchicago.com/rpm/">Red and Purple Modernization (RPM) project</a>.</p></div><div class="line-alert">Red and Purple Line Trains Share Track between Thorndale and Belmont (Updated)<p><strong>How does this affect my trip?&nbsp;</strong><br />
Red Line trains and Purple Line Express trains are sharing the same tracks between Thorndale and Belmont.</p>

<p>Purple Line Express trains continue to run express between Howard and Belmont, making only regular stops at Howard, Wilson and Belmont.</p>

<p><strong>Note</strong>: At the same time,&nbsp;<a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75824">Berwyn</a> and <a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75825">Lawrence</a> are temporarily closed and temporary stations are&nbsp;open at Bryn Mawr and Argyle, to support reconstruction work. See separate alerts for details.</p>

<p>Allow extra travel time.</p>

<p><strong>Why is service being changed?&nbsp;</strong><br />
Red and Purple line service is changed due to the temporary closure of the two east tracks between Bryn Mawr and Wilson stations, and the two west tracks between Addison and Belmont stations,&nbsp;for reconstruction as part of the <a href="https://www.transitchicago.com/rpm/">Red and Purple Modernization (RPM) project</a>.</p></div><div class="line-alert">Red and Purple Line Trains Share Track between Thorndale and Belmont (Updated)<p><strong>How does this affect my trip?&nbsp;</strong><br />
Red Line trains and Purple Line Express trains are sharing the same tracks between Thorndale and Belmont.</p>

<p>Purple Line Express trains continue to run express between Howard and Belmont, making only regular stops at Howard, Wilson and Belmont.</p>

<p><strong>Note</strong>: At the same time,&nbsp;<a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75824">Berwyn</a> and <a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75825">Lawrence</a> are temporarily closed and temporary stations are&nbsp;open at Bryn Mawr and Argyle, to support reconstruction work. See separate alerts for details.</p>

<p>Allow extra travel time.</p>

<p><strong>Why is service being changed?&nbsp;</strong><br />
Red and Purple line service is changed due to the temporary closure of the two east tracks between Bryn Mawr and Wilson stations, and the two west tracks between Addison and Belmont stations,&nbsp;for reconstruction as part of the <a href="https://www.transitchicago.com/rpm/">Red and Purple Modernization (RPM) project</a>.</p></div><div class="line-alert">Red and Purple Line Trains Share Track between Thorndale and Belmont (Updated)<p><strong>How does this affect my trip?&nbsp;</strong><br />
Red Line trains and Purple Line Express trains are sharing the same tracks between Thorndale and Belmont.</p>

<p>Purple Line Express trains continue to run express between Howard and Belmont, making only regular stops at Howard, Wilson and Belmont.</p>

<p><strong>Note</strong>: At the same time,&nbsp;<a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75824">Berwyn</a> and <a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75825">Lawrence</a> are temporarily closed and temporary stations are&nbsp;open at Bryn Mawr and Argyle, to support reconstruction work. See separate alerts for details.</p>

<p>Allow extra travel time.</p>

<p><strong>Why is service being changed?&nbsp;</strong><br />
Red and Purple line service is changed due to the temporary closure of the two east tracks between Bryn Mawr and Wilson stations, and the two west tracks between Addison and Belmont stations,&nbsp;for reconstruction as part of the <a href="https://www.transitchicago.com/rpm/">Red and Purple Modernization (RPM) project</a>.</p></div><div class="line-alert">Red and Purple Line Trains Share Track between Thorndale and Belmont (Updated)<p><strong>How does this affect my trip?&nbsp;</strong><br />
Red Line trains and Purple Line Express trains are sharing the same tracks between Thorndale and Belmont.</p>

<p>Purple Line Express trains continue to run express between Howard and Belmont, making only regular stops at Howard, Wilson and Belmont.</p>

<p><strong>Note</strong>: At the same time,&nbsp;<a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75824">Berwyn</a> and <a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75825">Lawrence</a> are temporarily closed and temporary stations are&nbsp;open at Bryn Mawr and Argyle, to support reconstruction work. See separate alerts for details.</p>

<p>Allow extra travel time.</p>

<p><strong>Why is service being changed?&nbsp;</strong><br />
Red and Purple line service is changed due to the temporary closure of the two east tracks between Bryn Mawr and Wilson stations, and the two west tracks between Addison and Belmont stations,&nbsp;for reconstruction as part of the <a href="https://www.transitchicago.com/rpm/">Red and Purple Modernization (RPM) project</a>.</p></div><div class="line-alert">Red and Purple Line Trains Share Track between Thorndale and Belmont (Updated)<p><strong>How does this affect my trip?&nbsp;</strong><br />
Red Line trains and Purple Line Express trains are sharing the same tracks between Thorndale and Belmont.</p>

<p>Purple Line Express trains continue to run express between Howard and Belmont, making only regular stops at Howard, Wilson and Belmont.</p>

<p><strong>Note</strong>: At the same time,&nbsp;<a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75824">Berwyn</a> and <a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75825">Lawrence</a> are temporarily closed and temporary stations are&nbsp;open at Bryn Mawr and Argyle, to support reconstruction work. See separate alerts for details.</p>

<p>Allow extra travel time.</p>

<p><strong>Why is service being changed?&nbsp;</strong><br />
Red and Purple line service is changed due to the temporary closure of the two east tracks between Bryn Mawr and Wilson stations, and the two west tracks between Addison and Belmont stations,&nbsp;for reconstruction as part of the <a href="https://www.transitchicago.com/rpm/">Red and Purple Modernization (RPM) project</a>.</p></div><div class="line-alert">Howard-bound Red Line Service Delayed at 87th<p>Howard-bound Red Line trains are standing at 87th due to a door problem.</p>

<p>Personnel are working to restore service. Allow extra travel time.</p></div><div class="line-alert">Red and Purple Line Trains Share Track between Thorndale and Belmont (Updated)<p><strong>How does this affect my trip?&nbsp;</strong><br />
Red Line trains and Purple Line Express trains are sharing the same tracks between Thorndale and Belmont.</p>

<p>Purple Line Express trains continue to run express between Howard and Belmont, making only regular stops at Howard, Wilson and Belmont.</p>

<p><strong>Note</strong>: At the same time,&nbsp;<a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75824">Berwyn</a> and <a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75825">Lawrence</a> are temporarily closed and temporary stations are&nbsp;open at Bryn Mawr and Argyle, to support reconstruction work. See separate alerts for details.</p>

<p>Allow extra travel time.</p>

<p><strong>Why is service being changed?&nbsp;</strong><br />
Red and Purple line service is changed due to the temporary closure of the two east tracks between Bryn Mawr and Wilson stations, and the two west tracks between Addison and Belmont stations,&nbsp;for reconstruction as part of the <a href="https://www.transitchicago.com/rpm/">Red and Purple Modernization (RPM) project</a>.</p></div><div class="line-alert">Howard-bound Red Line Delays<p>Howard-bound Red Line trains are running w/residual delays and congestion following an earlier door problem at 87th.&nbsp;</p>

<p>Some trains and platforms may be busier than usual as crews work to restore normal service.<br />
<br />
Trains are moving and normal service is being restored.<br />
<br />
Allow extra travel time.</p></div><div class="line-alert">Howard-bound Red Line Delays<p>Howard-bound Red Line trains are running with residual delays and congestion following an earlier sick customer at Thorndale.</p>

<p>Some trains and platforms may be busier than usual as crews work to restore normal service.<br />
<br />
Trains are moving and normal service is being restored.<br />
<br />
Allow extra travel time.</p></div><div class="line-alert">Red and Purple Line Trains Share Track between Thorndale and Belmont (Updated)<p><strong>How does this affect my trip?&nbsp;</strong><br />
Red Line trains and Purple Line Express trains are sharing the same tracks between Thorndale and Belmont.</p>

<p>Purple Line Express trains continue to run express between Howard and Belmont, making only regular stops at Howard, Wilson and Belmont.</p>

<p><strong>Note</strong>: At the same time,&nbsp;<a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75824">Berwyn</a> and <a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75825">Lawrence</a> are temporarily closed and temporary stations are&nbsp;open at Bryn Mawr and Argyle, to support reconstruction work. See separate alerts for details.</p>

<p>Allow extra travel time.</p>

<p><strong>Why is service being changed?&nbsp;</strong><br />
Red and Purple line service is changed due to the temporary closure of the two east tracks between Bryn Mawr and Wilson stations, and the two west tracks between Addison and Belmont stations,&nbsp;for reconstruction as part of the <a href="https://www.transitchicago.com/rpm/">Red and Purple Modernization (RPM) project</a>.</p></div><div class="line-alert">Red and Purple Line Trains Share Track between Thorndale and Belmont (Updated)<p><strong>How does this affect my trip?&nbsp;</strong><br />
Red Line trains and Purple Line Express trains are sharing the same tracks between Thorndale and Belmont.</p>

<p>Purple Line Express trains continue to run express between Howard and Belmont, making only regular stops at Howard, Wilson and Belmont.</p>

<p><strong>Note</strong>: At the same time,&nbsp;<a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75824">Berwyn</a> and <a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75825">Lawrence</a> are temporarily closed and temporary stations are&nbsp;open at Bryn Mawr and Argyle, to support reconstruction work. See separate alerts for details.</p>

<p>Allow extra travel time.</p>

<p><strong>Why is service being changed?&nbsp;</strong><br />
Red and Purple line service is changed due to the temporary closure of the two east tracks between Bryn Mawr and Wilson stations, and the two west tracks between Addison and Belmont stations,&nbsp;for reconstruction as part of the <a href="https://www.transitchicago.com/rpm/">Red and Purple Modernization (RPM) project</a>.</p></div><div class="line-alert">Red and Purple Line Trains Share Track between Thorndale and Belmont (Updated)<p><strong>How does this affect my trip?&nbsp;</strong><br />
Red Line trains and Purple Line Express trains are sharing the same tracks between Thorndale and Belmont.</p>

<p>Purple Line Express trains continue to run express between Howard and Belmont, making only regular stops at Howard, Wilson and Belmont.</p>

<p><strong>Note</strong>: At the same time,&nbsp;<a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75824">Berwyn</a> and <a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75825">Lawrence</a> are temporarily closed and temporary stations are&nbsp;open at Bryn Mawr and Argyle, to support reconstruction work. See separate alerts for details.</p>

<p>Allow extra travel time.</p>

<p><strong>Why is service being changed?&nbsp;</strong><br />
Red and Purple line service is changed due to the temporary closure of the two east tracks between Bryn Mawr and Wilson stations, and the two west tracks between Addison and Belmont stations,&nbsp;for reconstruction as part of the <a href="https://www.transitchicago.com/rpm/">Red and Purple Modernization (RPM) project</a>.</p></div><div class="line-alert">Red and Purple Line Trains Share Track between Thorndale and Belmont (Updated)<p><strong>How does this affect my trip?&nbsp;</strong><br />
Red Line trains and Purple Line Express trains are sharing the same tracks between Thorndale and Belmont.</p>

<p>Purple Line Express trains continue to run express between Howard and Belmont, making only regular stops at Howard, Wilson and Belmont.</p>

<p><strong>Note</strong>: At the same time,&nbsp;<a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75824">Berwyn</a> and <a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75825">Lawrence</a> are temporarily closed and temporary stations are&nbsp;open at Bryn Mawr and Argyle, to support reconstruction work. See separate alerts for details.</p>

<p>Allow extra travel time.</p>

<p><strong>Why is service being changed?&nbsp;</strong><br />
Red and Purple line service is changed due to the temporary closure of the two east tracks between Bryn Mawr and Wilson stations, and the two west tracks between Addison and Belmont stations,&nbsp;for reconstruction as part of the <a href="https://www.transitchicago.com/rpm/">Red and Purple Modernization (RPM) project</a>.</p></div><div class="line-alert">Red and Purple Line Trains Share Track between Thorndale and Belmont (Updated)<p><strong>How does this affect my trip?&nbsp;</strong><br />
Red Line trains and Purple Line Express trains are sharing the same tracks between Thorndale and Belmont.</p>

<p>Purple Line Express trains continue to run express between Howard and Belmont, making only regular stops at Howard, Wilson and Belmont.</p>

<p><strong>Note</strong>: At the same time,&nbsp;<a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75824">Berwyn</a> and <a href="https://www.transitchicago.com/travel-information/alert-detail/?AlertId=75825">Lawrence</a> are temporarily closed and temporary stations are&nbsp;open at Bryn Mawr and Argyle, to support reconstruction work. See separate alerts for details.</p>

<p>Allow extra travel time.</p>

<p><strong>Why is service being changed?&nbsp;</strong><br />
Red and Purple line service is changed due to the temporary closure of the two east tracks between Bryn Mawr and Wilson stations, and the two west tracks between Addison and Belmont stations,&nbsp;for reconstruction as part of the <a href="https://www.transitchicago.com/rpm/">Red and Purple Modernization (RPM) project</a>.</p></div></div>