<ul class="stops">
    <li class="stop">St George <span></span></li>
    <li class="stop">Tompkinsville <span></span></li>
    <li class="stop">Stapleton <span></span></li>
    <li class="stop">Clifton <span></span></li>
    <li class="stop">Grasmere <span></span></li>
    <li class="stop">Old Town <span></span></li>
    <li class="stop">Dongan Hills <span></span></li>
    <li class="stop">Jefferson Av <span></span></li>
    <li class="stop">Grant City <span></span></li>
    <li class="stop">New Dorp <span></span></li>
    <li class="stop">Oakwood Heights <span></span></li>
    <li class="stop">Bay Terrace <span></span></li>
    <li class="stop">Great Kills <span></span></li>
    <li class="stop">Eltingville <span></span></li>
    <li class="stop">Annadale <span></span></li>
    <li class="stop">Huguenot <span></span></li>
    <li class="stop">Prince's Bay <span></span></li>
    <li class="stop">Pleasant Plains <span></span></li>
    <li class="stop">Richmond Valley <span></span></li>
    <li class="stop">Arthur Kill <span></span></li>
    <li class="stop">Tottenville <span></span></li></ul>