<div class="sidebar"> 
        <p>We partner with the following agencies to provided the latest alerts:</p>

        <h3>MTA</h3>
        <p>
                The Metropolitan Transportation Authority (MTA) is a vital governmental agency responsible for overseeing and managing the New York City subway system, along with other public transportation services in the Greater New York area. With a sprawling network of subway lines, buses, commuter trains, and bridges and tunnels, the MTA plays a pivotal role in providing essential transit services to millions of New Yorkers and visitors each day.
        </p>
</div>
