<ul class="stops">
    <li class="stop">Whitehall St-South Ferry <span></span></li>
    <li class="stop">Rector St <span></span></li>
    <li class="stop">Cortlandt St <span></span></li>
    <li class="stop">City Hall <span></span></li>
    <li class="stop">Canal St <span></span></li>
    <li class="stop">Prince St <span></span></li>
    <li class="stop">8 St-NYU <span></span></li>
    <li class="stop">14 St-Union Sq <span></span></li>
    <li class="stop">23 St <span></span></li>
    <li class="stop">28 St <span></span></li>
    <li class="stop">34 St-Herald Sq <span></span></li>
    <li class="stop">Times Sq-42 St <span></span></li>
    <li class="stop">49 St <span></span></li>
    <li class="stop">57 St-7 Av <span></span></li>
    <li class="stop">5 Av/59 St <span></span></li>
    <li class="stop">Lexington Av/59 St <span></span></li>
    <li class="stop">Queensboro Plaza <span></span></li>
    <li class="stop">39 Av-Dutch Kills <span></span></li>
    <li class="stop">36 Av <span></span></li>
    <li class="stop">Broadway <span></span></li>
    <li class="stop">30 Av <span></span></li>
    <li class="stop">Astoria Blvd <span></span></li>
    <li class="stop">Astoria-Ditmars Blvd <span></span></li>
    <li class="stop">Cortlandt St <span></span></li>
    <li class="stop">City Hall <span></span></li>
    <li class="stop">Canal St <span></span></li>
    <li class="stop">Prince St <span></span></li>
    <li class="stop">8 St-NYU <span></span></li>
    <li class="stop">14 St-Union Sq <span></span></li>
    <li class="stop">23 St <span></span></li>
    <li class="stop">28 St <span></span></li>
    <li class="stop">34 St-Herald Sq <span></span></li>
    <li class="stop">Times Sq-42 St <span></span></li>
    <li class="stop">49 St <span></span></li>
    <li class="stop">57 St-7 Av <span></span></li>
    <li class="stop">5 Av/59 St <span></span></li>
    <li class="stop">Lexington Av/59 St <span></span></li>
    <li class="stop">Queensboro Plaza <span></span></li>
    <li class="stop">39 Av-Dutch Kills <span></span></li>
    <li class="stop">36 Av <span></span></li>
    <li class="stop">Broadway <span></span></li>
    <li class="stop">30 Av <span></span></li>
    <li class="stop">Astoria Blvd <span></span></li>
    <li class="stop">Astoria-Ditmars Blvd <span></span></li></ul>