<h2 class="lead">3 planned issues on line</h2><div class="line-alerts"><div class="line-alert"><p>No [W] trains running - take the [N] or [R] instead</p>Note: Special [W] service is operating during the day on Oct 28 - 29

Plan your trip at new.mta.info

Try our new app (beta) and provide feedback. Sign up to become an MTA beta tester.</div><div class="line-alert"><p>Special weekend [W] service runs every 20 minutes between <b>Whitehall St-South Ferry</b> and <b>Astoria-Ditmars Blvd</b></p>What's happening?
We're providing alternate service for customers during planned work on the [7] line.</div><div class="line-alert"><p>No [W] trains running - take the [N] or [R] instead</p>[W] service operates weekdays during rush hours, middays and evenings.

Reminder: Overnight [R] runs between Whitehall St-South Ferry and Bay Ridge-95 St

Plan your trip at new.mta.info

Try our new app (beta) and provide feedback. Sign up to become an MTA beta tester.</div></div>