<ul class="stops">
    <li class="stop">Huntington <span></span></li>
    <li class="stop">Eisenhower Ave <span></span></li>
    <li class="stop">King St-Old Town <span></span></li>
    <li class="stop">Braddock Rd <span></span></li>
    <li class="stop">Potomac Yard-VT <span></span></li>
    <li class="stop">Ronald Reagan Washington National Airport <span></span></li>
    <li class="stop">Crystal City <span></span></li>
    <li class="stop">Pentagon City <span></span></li>
    <li class="stop">Pentagon <span></span></li>
    <li class="stop">L'Enfant Plaza <span></span></li>
    <li class="stop">Archives <span></span></li>
    <li class="stop">Gallery Place <span></span></li>
    <li class="stop">Mt Vernon Sq <span></span></li>
</ul>
