<h2 class="lead">3 planned issues on line</h2><div class="line-alerts"><div class="line-alert"><p>No [Z] trains running - take the [J] instead</p>[Z] service operates during weekday rush hours only.

Plan your trip at new.mta.info

Try our new app (beta) and provide feedback. Sign up to become an MTA beta tester.</div><div class="line-alert"><p>Jamaica Center-bound [J][Z] skip-stop service is not running from <b>Crescent St</b> to <b>Jamaica Center-Parsons/Archer</b>; trains will make local stops instead</p>What's happening?
We're making station improvements at 75 St-Elderts Ln and accessibility improvements at Woodhaven Blvd</div><div class="line-alert"><p>Manhattan-bound [J][Z] skip-stop service is not running from <b>Jamaica Center-Parsons/Archer</b> to <b>Crescent St</b>; trains will make local stops instead</p>What's happening?
We're making station improvements at 75 St-Elderts Ln and accessibility improvements at Woodhaven Blvd</div></div>