---
layout: default
archive: false
post_class: post-template
---

<!-- Begin Article
================================================== -->
<div itemscope itemtype="http://schema.org/BlogPosting">
	<div class="row">
		<div class="col-md-12">
			<div class="mainheading">
				<img width="1280" height="240" class="featured-image img-fluid" src="{{ site.baseurl }}/assets/images/{{ page.route_code }}-DC.jpg" title="{{ page.title }}" alt="{{ page.title }}" itemprop="image">
			
				<h2 class="posttitle" itemprop="headline name">{{ page.title }}</h2>
				<h3 class="lead">{{ page.first_paragraph }}</h3>
				<h1 class="lead">{{ page.description }}</h1>
				{% include {{page.route_code}}-status-DC.html %}
				
				<p>
					<small>
						<span class="post-date"><time id="post-date" class="post-date">Last Updated: </time></span>
					</small>
				</p>
			</div>
		</div>
	</div>
	<div class="row">

		<!-- Post -->
        {% assign author = site.authors[page.author] %}

		<div class="col-md-8 col-lg-8">
			<!-- Post Content -->
			<div class="article-post"  itemprop="articleBody"> 
				<h3>Planned Issues For {{ page.city }} {{ page.route }} Train</h3>
				<h2 class="lead text-success"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-check-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/></svg>No known future issues on this line</h2>
				
				<div class="row">
						<div class="col-sm-12 col-lg-6">
							<h3>{{ page.city }} Subway Map For {{ page.route }} Train</h3>
							<img width="838" height="1024" class="featured-image img-fluid" src="{{ site.baseurl }}/assets/images/washington_dc_subway_map.png" title="Map of the {{ page.route }} Train in NYC subway" alt="Map of the {{ page.route }} Train in NYC subway" itemprop="image">
							<small><a href="{{ page.map_ref }}">SOURCE: Wiki</a></small>
						</div>
					
					<div class="col-sm-12 col-lg-6">
						<div class="d-md-none">
							<h3>Stops For {{ page.route }} Train</h3>
							<ul class="nav nav-pills nav-stacked" id="ex1" role="tablist">
								<li class="nav-item" role="presentation">
									<a
									class="nav-link active"
									id="ex1-tab-1"
									data-toggle="tab"
									href="#ex1-tabs-1"
									role="tab"
									aria-controls="ex1-tabs-1"
									aria-selected="true"
									>{{ page.direction_back }}</a
									>
								</li>
								<li class="nav-item" role="presentation">
									<a
									class="nav-link"
									id="ex1-tab-2"
									data-toggle="tab"
									href="#ex1-tabs-2"
									role="tab"
									aria-controls="ex1-tabs-2"
									aria-selected="false"
									>{{ page.direction_out }}</a
									>
								</li>
							</ul>
		
							<div class="tab-content" id="ex1-content">
								<div class="tab-pane active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1">
									{% include {{page.route_code}}-0-DC.html %}
								</div>
								<div class="tab-pane" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
									{% include {{page.route_code}}-1-DC.html %}
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="clearfix"></div>
			</div>

        <!--    	
	<p>
		<small itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
			<span itemprop="name">Metro</span>
		</small>
	</p>
-->
		{% if page.related_trains %}
		<div class="masonrygrid row listrecent">
            {% assign related_routes = page.related_trains | split: "," %}
			{% for r in related_routes %}
				{% assign f = 'post.route == "' | append: r | append: '"' %}	
				{%- assign post = site.posts | where_exp: 'post', f | first -%}
				{% include postbox.html %}
			{% endfor %}

            
        </div>
		{% endif %}

             <!-- Author Box 
            {% if page.author %}
				<div class="row post-top-meta" itemprop="author" itemscope itemtype="http://schema.org/Person">
					<div class="col-md-2">
						<img width="72" height="72" class="author-thumb" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x"
						     alt="{{ author.display_name }}">
					</div>
					<div class="col-md-10">
						<a class="link-dark" href="/about-us"><span itemprop="name">{{ author.display_name }} </span></a>
						<span class="author-description">{{ author.description }}</span>
					</div>
				</div>
            {% endif %} -->
		</div>
		<!-- End Post -->

        <!-- Right Sidebar -->
        <div class="col-md-4 col-lg-4">
			
			<div class="sidebar-right d-none d-md-block container">
				<h3>Stops For {{ page.route }} Train</h3>
				<ul class="nav nav-pills nav-stacked" id="ex1" role="tablist">
				  <li class="nav-item" role="presentation">
				    <a
				      class="nav-link active"
				      id="ex1-md-tab-1"
				      data-toggle="tab"
				      href="#ex1-md-tabs-1"
				      role="tab"
				      aria-controls="ex1-md-tabs-1"
				      aria-selected="true"
				      >{{ page.direction_back }}</a
				    >
				  </li>
				  <li class="nav-item" role="presentation">
				    <a
				      class="nav-link"
				      id="ex1-md-tab-2"
				      data-toggle="tab"
				      href="#ex1-md-tabs-2"
				      role="tab"
				      aria-controls="ex1-md-tabs-2"
				      aria-selected="false"
				      >{{ page.direction_out }}</a
				    >
				  </li>
				</ul>

				<div class="tab-content" id="ex1-content">
  					<div class="tab-pane active" id="ex1-md-tabs-1" role="tabpanel" aria-labelledby="ex1-md-tab-1">
						{% include {{page.route_code}}-0-DC.html %}
					</div>
					<div class="tab-pane" id="ex1-md-tabs-2" role="tabpanel" aria-labelledby="ex1-md-tab-2">
						{% include {{page.route_code}}-1-DC.html %}
					</div>
				</div>
			</div>
        </div>

	</div>
</div>
<!-- End Article
================================================== -->
{% if page.route %}
	<script>
		
		fetch('{{ site.baseurl }}/assets/updated.json')
    		.then((response) => response.json())
			.then((alertData) => {
				const date = new Date(alertData.lastUpdated);
				var dateEl = document.getElementById("post-date")
				dateEl.textContent = "Last Updated: " + date.toLocaleString("en-US", {timeZone: "America/New_York"})	
			});
		
	</script>
{% endif %}
