---
layout: default
archive: false
post_class: post-template
---

<!-- Begin Article
================================================== -->
<div itemscope itemtype="http://schema.org/BlogPosting">
	<div class="row">
		<div class="col-md-12">
			<div class="mainheading">
				{% if page.route %}<img width="1280" height="240" class="featured-image img-fluid" src="{{ site.baseurl }}/assets/images/{{ page.route }}.jpg" title="{{ page.title }}" alt="{{ page.title }}" itemprop="image">{% endif %}
			
				<h1 class="posttitle" itemprop="headline name">{{ page.title }}</h1>
				<div data-alerts class="alerts" id="data-alerts"></div>
				
				<p>
					<small>
						<span class="post-date"><time id="post-date" class="post-date">Last Updated: </time></span>
					</small>
				</p>
			</div>
		</div>
	</div>
	<div class="row">

		<!-- Post -->
        {% assign author = site.authors[page.author] %}

		<div class="col-md-8 col-lg-8">
			<!-- Post Content -->
			<div class="article-post"  itemprop="articleBody"> 
				<div data-future-alerts></div>
				{{content}}
				<div class="clearfix"></div>
			</div>

            	
	<p>
		<small itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
			<span itemprop="name">Metro</span>
		</small>

             <!-- Author Box -->
            {% if page.author %}
				<div class="row post-top-meta" itemprop="author" itemscope itemtype="http://schema.org/Person">
					<div class="col-md-2">
						<img width="72" height="72" class="author-thumb" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x"
						     alt="{{ author.display_name }}">
					</div>
					<div class="col-md-10">
						<a class="link-dark" href="/about-us"><span itemprop="name">{{ author.display_name }} </span></a>
						<span class="author-description">{{ author.description }}</span>
					</div>
				</div>
            {% endif %}
		</div>
		<!-- End Post -->

        <!-- Right Sidebar -->
        <div class="col-md-4 col-lg-4">
			<div class="sidebar-right">
				{% if page.route %}
					{% include {{page.route}}-0.html %}
					{% include {{page.route}}-1.html %}
				{% endif %}
			</div>
        </div>

	</div>
</div>
<!-- End Article
================================================== -->
{% if page.route %}
	<script>

	fetch('https://us-central1-mythic-rain-390.cloudfunctions.net/GetMetroStatus?routeId={{ page.route }}').then(async (response) => {
		
		const alertData = await response.json()
		const date = new Date(alertData.lastUpdated);
		console.log('json', alertData);
		console.log(date.toLocaleString("en-US", {timeZone: "America/New_York"}))

		const element = document.getElementById("data-alerts");
		const dateEl = document.getElementById("post-date");
		
		dateEl.textContent = "Last Updated: " + date.toLocaleString("en-US", {timeZone: "America/New_York"})

		alertData.currentIssues.forEach((alert) => {
			var div = document.createElement("div");
			div.classList.add("alert");
			div.innerHTML = alert.header.trim() + alert.description.trim();

			element.appendChild(div);
		})
	})
	.catch(function (err) {
		// There was an error
		console.warn('Failed to get status updates.', err);
	});
	</script>
{% endif %}